[2017-06-25 09:24] equinusocio commented on #376
Yes, for me `lost-vars()` is a nice solution altough i think it will be a breaking change.

[2017-06-25 18:24] peterramsing commented on #376
It wouldn't have to be a breaking change unless we remove the old version–we could ship the new version in a point release as long as the old version stuck around–and then remove it in a point release eventually.

[2017-06-30 13:56] equinusocio commented on #376
any update? will you consider this change?

[2017-06-30 14:03] steve-holland commented on #376
@equinusocio - Yes, I believe we're going to be doing this change. If you notice this issue has been tagged with 'backlog'. So as far as I'm aware that means it's on the 'todo' list.

[2017-06-30 14:41] peterramsing commented on #376
Yup, I put it in the [backlog](https://waffle.io/peterramsing/lost). 😇
I suppose this could be a "bug" if it throws errors in SCSS transpilation. 🤔 Let's finalize the spec for this and we can get it `slated for dev`.

[2017-06-30 14:42] equinusocio commented on #376
Oh ok. thank you :)

[2017-06-30 14:50] peterramsing commented on #376
So we've decided we like `lost-vars('foo')`? I kind of want to play around with that some more–see how it scales, how it'd be defined, etc. It's the [lost-gutter-local](http://lostgrid.org/docs.html#lost-gutter-local) that I think might be a bit odd here–but maybe not. Would want to test it.

Regarding breaking change or not. I think there isn't any reason to just bump to 9.0. [Why not](http://pet

[2017-06-30 14:58] equinusocio commented on #376
I agree. You think about return also a console log warning?

[2017-06-30 16:03] pryann opened #382 "Wrong margin-bottom value when use offset"
**Is this a feature request or a bug report?**
Bug

Hello,

If I create a simple grid:

[code]

Than I format them:

[code]
The second div is out of the main div.
I attached a file.

Thanks.
![lostgrid](https://user-images.githubusercontent.com/13794183/27743936-f97639ca-5dbd-11e7-84ff-436afb415392.jpg)

[2017-06-30 20:02] peterramsing commented on #382
@pryann Could you do us a favor and do some cross-browser testing on that and determine that it does that for other browsers?

[2017-06-30 20:04] peterramsing commented on #376
@equinusocio Yeah.

[2017-06-30 21:12] pryann commented on #382
@peterramsing Yes of course. I checked in Chrome 58, Firefox 53, Opera 46, Edge, the result is same, but if you would like, I will create a complex cross bowser test.

[2017-07-01 03:58] peterramsing commented on #382
@pryann That's good enough. Just wanted to make sure it wasn't a browser specific rounding.

[2017-07-01 05:43] pryann commented on #382
@peterramsing No, it doesn't a browser specific issue. If I make 3 row (lost-row: 1/3) everything if perfect, but if I use offfset, the margin-bottom value is wrong (calc(99.9% * 1/3 - (30px - 30px * 1/3) + (30px * 2)) !important).

[2017-07-01 06:38] peterramsing commented on #382
@pryann If you want to jump start the fix could you write some failing tests for this?

[2017-07-01 18:09] peterramsing opened #383 "lost-masonry-column does not support no unit on a "0 gutter""
**Is this a feature request or a bug report?**
Bug Report

**What is the current behavior?**
`lost-masonry-column` does not support a unitless zero gutter

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
[code]
Error: `TypeError: Cannot read property 'join' of null`

**What is the desired behavior?**
Supporting unitless zero gutters.

**What version of LostG

[2017-07-01 18:12] #383 closed, assigned to peterramsing

[2017-07-01 23:56] peterramsing commented on #370
@miguelcaires Any updates?

[2017-07-02 03:38] peterramsing commented on #370
Here's that IE issue I want to make sure doesn't cause a regression: https://github.com/peterramsing/lost/issues/329

I've been struggling to replicate the issue that started this thread as well, so now I'm questioning everything. @sarahemilym Could you help give me more the code that you're using?

Regarding CodePen, sadly codepen isn't up to date and that's not something I have control over last

[2017-07-02 13:35] pryann commented on #382
@peterramsing I found what is the problem, and I know the solution.

The example:

[code]
[code]
The height of the main div is 100% (in this case 974px).
The height of the child divs are: calc(100% * 1/3 - (30px - 30px * 1/3)) = 304.656px
The margin-bottom of the first div is: calc(100% * 1/3 - (30px - 30px * 1/3) + (30px * 2)) = 373.328px;
So: 2 * 304.656px + 373.328px = 982,64px. It is too much.

[2017-07-10 10:47] miguelcaires commented on #370
Hi @peterramsing sorry about the delay. I will indeed pull the branch and try it out. Will keep you posted.

[2017-07-10 22:46] diogoweb2 opened #388 "small feature request: space"
**Is this a feature request or a bug report?**
Feature request

**What is the current behavior?**
IDEs extentions to format code like  https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-stylefmt adds space for lost operations, like:
lost-column: 1 / 3

I spent hours to find out the problem because webpack compiles fine and lostgrid kind of works. (it transforms the css but completel

[2017-07-11 05:02] peterramsing commented on #349
Merged and on `develop`. I'd say we could probably wrap a new version up in a week or two. If you're dying for this let me know and we can put together a beta release earlier.

cc: @ca55ify @sidonaldson

[2017-07-11 05:02] #349 closed, assigned to steve-holland

[2017-07-11 05:05] peterramsing commented on #388
My initial reaction is to try to fix the error handling ( #180 ). It's not a glamorous feature but something that would certainly help out.

I'm not sure how I feel about the `1 / 3` syntax...it feels like having errors would be better than fixing that right now because if we fix that we're only fixing one of the many possible issues.

@diogoweb2 I'm guessing you were able to make LostGrid work wi

[2017-07-11 08:05] steve-holland commented on #388
@peterramsing I think sorting out the error handling is the way forward in the first instance.

Although I'm not too fussed with the spacing myself either, I guess it would be good to support both styles, then we've covered all eventualities.

[2017-07-11 16:15] diogoweb2 commented on #388
Hi @peterramsing and @codebysubtract, I agree the priority should be improve the error handling.
I uninstalled the stylefmt plugin and evething works as expected.

Thanks!

[2017-07-11 16:15] #388 closed, assigned to nobody

[2017-07-11 19:00] isGabe opened #390 "`lost-flex-coontainer` needs nowrap option"
**Is this a feature request or a bug report?**
Feature request

**What is the current behavior?**
`lost-flex-container: row` outputs:
[code]

**What is the desired behavior?**
It would be nice to be able to pass a `nowrap` parameter in, like:
`lost-flex-container: row nowrap;`, instead of having to manually override it.

**What's the motivation or use-case behind changing the behavior?**
In order

[2017-07-11 19:08] isGabe commented on #390
This may have been a mistake on my part, feel free to close if it doesn't make sense.

[2017-07-12 03:51] peterramsing commented on #376
Closed by #389

[2017-07-12 03:51] #376 closed, assigned to steve-holland

[2017-07-12 06:42] equinusocio commented on #376
Awesome guys! :)

[2017-07-16 22:19] peterramsing opened #391 "Remove the long-form of lost-masonry-wrap flexbox because it doesn't make sense"
**Is this a feature request or a bug report?**
Depreciation

**What is the current behavior?**
`lost-masonry-wrap-flexbox: flex/no-flex;` will set whether a masonry wrap will be flex or not. But it doesn't really make sense and it probably will cause bugs.

1. It doesn't work on its own.
2. Just setting the gutter on `lost-masonry-wrap` will not actually set the gutter, it will just take the globa

[2017-07-26 16:06] peterramsing opened #392 "Add FAQ's to the documentation"
# FAQ Docs Feature

## Abstract
* To replace the "gotchas" with a more Question and Answer style UI/UX that allows for being searchable from Google and quickly scannable for "what my issue is"

## User Stories
| As a | I want to | So that |
| ---- | ---- | ----- |
| user | easily see if the error I'm getting is in the FAQs | so I know if I can fix it myself or do I need to reach out |
| user | tra

[2017-07-26 16:07] peterramsing commented on #392
## Starter Questions:

**Q:** I'm getting an error: `[TypeError: Cannot read property 'split' of undefined]` when processing my styles. What's could be the issue here?
**A:** Ensure that your pre-processed CSS (e.g. LESS, SCSS, Stylus) has processed correctly.
**Issues:** https://github.com/peterramsing/lost/issues/268

---

**Q:** I am getting `undefnedn` in my CSS. Why?
**A:** That's an issue wi

[2017-07-27 05:30] peterramsing commented on #392
@japick I added a new user story for linking to issues. Let me know what you think

[2017-07-28 08:29] japick commented on #392
I guess the 4th user story would be covered by linking to issues in the answers (as you've done with the starter questions). Definitely helps to give the answers some context.

[2017-07-29 11:22] steve-holland commented on #371
@peterramsing I've hopefully got a bit of time free this week, so I'l take a look at implementing this one.

[2017-07-31 13:57] miguelcaires commented on #370
This change makes the grid work correctly! Thanks for looking into this and sorry for taking so long to come back with a reply.

[2017-07-31 18:21] peterramsing commented on #371
@codebysubtract Sweeeeet!

[2017-08-09 06:12] asifshirazi opened #394 "Incorrect lost-offset with -negative fraction in row"
**Is this a feature request or a bug report?**
Bug

Hi,
The **lost-offset** documentation says:

But as you can see below the`.append-row` ruleset result is not coming with margin-right.

#### Source
[code]

#### Result
[code]

[2017-08-11 07:27] steve-holland commented on #394
@asifshirazi Is this causing you any issue?

It looks on the face of it that the documentation might just need updating.

[2017-08-11 10:57] asifshirazi commented on #394
@codebysubtract Actually before lost-v8.0 my append row class helper is working fine for me, it was adding `margin-right` instead of `margin-left`.

As you can see in below image, I wrote style guide for our project and my `append-*` helper is using `margin-left` which is causing overlap issue.

![lost-documentation](https://preview.ibb.co/eOF9Ba/lost_append00.png)

[2017-08-11 11:03] steve-holland commented on #394
@asifshirazi I believe the `lost-offset` functionality was changed in the 8.0.0 release, which explains your discrepancy. See the [release notes](https://github.com/peterramsing/lost/releases/tag/v8.0.0).

This was a breaking change, which swapped around the direction of the offset. See in particular #184 for more details on this. Unfortunately I think you'll need to update your code to use the ne

[2017-08-11 11:11] asifshirazi commented on #394
thanks @codebysubtract for the guidance. I'll figure out another way to do this.

[2017-08-11 11:11] #394 closed, assigned to nobody

[2017-08-19 21:04] peterramsing opened #395 "**Paperwork** Create Release and Tailboarding Process"
- [ ] Create docs for how to release beta LostGrid
- [ ] Create docs for how to release production LostGrid
- [ ] Create docs for when to tailboard
- [ ] Add maintainers to NPM to release

[2017-08-20 20:08] peterramsing commented on #371
Closing this and we ended up not going through with adding `calc` optimizations to LostGrid. See the PR for more details: https://github.com/peterramsing/lost/pull/393

[2017-08-20 20:08] #371 closed, assigned to steve-holland

[2017-08-24 01:13] BarryThePenguin opened #396 "lost in js"
**Feature Request**

**What is the current behaviour?**

Lost currently needs a preprocessing environment with postcss to work. There is no easy way to use lost without postcss.

**What is the desired behaviour?**

Use [`postcss-js`](https://github.com/postcss/postcss-js) to build the styles for the lost postcss plugin, while also exporting the same functions that allow lost to be used in a css-in

[2017-08-31 16:07] brandondurham opened #398 "Using global settings and flex, Lost randomly switched back to floats"
**Is this a feature request or a bug report?**
Bug report

**What is the current behavior?**
We have this in our base CSS file that gets loaded before all others:
[code]
Mind you we’re using Webpack to import. It generally works fine, but occasionally sections of the site (not the entire site) will revert back to using the default float technique. Restarting th app _usually_ takes care of that.

*

[2017-09-01 06:00] peterramsing commented on #398
Okay, that's super weird.
🤔
@brandondurham
What do you mean when you say "restart" the app? Do you mean rebuild/recompile the app?

If yes to restart meaning rebuild, could you answer the following questions:
* Would you mind sharing your Webpack config (I'm fine if you want to email it if it's private...see my email in bio)?
* Does this happen during a watched build such as during development and

[2017-09-01 06:14] peterramsing commented on #228
@janhartmann Just wanted to follow up and see if you ended up using LostGrid and if you had any feedback on it. Thanks!

[2017-09-01 06:27] peterramsing commented on #370
Wait...just 'cause that fixed things doesn't mean that it is done. Whoops...gotta slate this for dev.

[2017-09-04 03:41] janhartmann commented on #228
Hi Peter

Yes I've used it on multiple production sites. Right now I am planning on writing a React Component wrapper for it, as React is my go-to library for apps these days! :-)

[2017-09-04 09:32] corysimmons commented on #228
@janhartmann Neat. I'd be interested to see your implementation or work with you on it.

I [tinkered](https://github.com/corysimmons/grid.js) with a really minimalist version of idea but have wanted to revisit it and make it really sweet.

I'd suggest leaning towards that masonry-type markup only. This makes components actually pluggable.

[2017-09-04 09:35] janhartmann commented on #228
Sounds very cool, @corysimmons - somewhat along the lines of the markup I am thinking of! :-)

I'll work on the prototype and post a repo link when I get to it! :-)

[2017-09-05 23:40] corysimmons commented on #396
Lost in React/etc? :o

[2017-09-05 23:42] BarryThePenguin commented on #396
That was my thinking!

[2017-09-05 23:47] corysimmons commented on #396
@BarryThePenguin Does this break current PostCSS plugin usage?

If not, what comes next? Plugins for all those css-in-js solutions?

[2017-09-06 00:01] BarryThePenguin commented on #396
The PR I put together doesn't break current usage, no. It currently looks like an internal refactor to make the internal CSS building part of the `lost` public API.

What comes next is a good question. Plugins for each css-in-js solution would be one way to approach it. A `lost` Github organisation could be an option

[2017-09-06 00:07] peterramsing commented on #228
@janhartmann Great to hear. Possible reference to #396 for note.

[2017-09-06 00:47] corysimmons commented on #396
@peterramsing ^lol Is it time?

[2017-09-06 01:03] BarryThePenguin commented on #228
I know https://collection.maas.museum is using `lost` in production. There was a presentation at React Sydney a couple of months ago about it. Their presentation is on [github](https://github.com/unkleho/react-sydney-meetup-2017)

[2017-09-06 01:26] corysimmons commented on #228
Nice! @peterramsing What ever happened to that issue about what was built with Lost? Maybe reopen it? Maybe also have a Showcase on the website? I'm sure lots of people are using it for really cool sites they'd like to show off.

[2017-09-10 22:04] peterramsing commented on #228
@corysimmons https://github.com/lostgrid/lostgrid-site/issues/6

[2017-09-10 22:05] peterramsing commented on #396
@corysimmons That's what I keep thinking. ..it's just a real pain to do *but* I really do think it's time.

[2017-09-11 04:25] peterramsing commented on #398
@Banandrew bump ^^

[2017-09-11 04:38] peterramsing commented on #396
@BarryThePenguin I'm very interested in this. In the shower after my run this evening I got all excited about what if there was a core lib that could be used in various places, PostCSS, vanilla JS, etc. The opportunities could be really cool. (As you've already alluded to!)

I also want to get @codebysubtract 's input in on this.

---

I've been really busy at work these past months and I have a f

[2017-09-11 04:38] peterramsing commented on #396
Oh, and anyone else is welcome to comment on the core mission, etc, too! Not just Steve, Jay, and Cory. 😉

[2017-09-11 20:26] corysimmons commented on #396
re: Lost's purpose.

I think traditional grids are entering that phase where they start hurting users rather than helping. Flexbox erases the need for all the wrapper/clearfix bloat, and now Grid Layout is going to completely table-flip how we make layouts.

The one thing Grid Layout doesn't offer are misc little helpers for size and such.

postcss-ant approached this problem, but Grid Layout does

[2017-09-21 18:21] rlam3 opened #399 "Would love to see how we can integrate lost into Vue.js and Nuxt.js!"
Would love to see how we can integrate lost into Vue.js and Nuxt.js! Thanks!

[2017-10-13 01:12] rlam3 opened #400 "Was wondering if lost grid would be upgrading to using css grid"
Was wondering if lost grid would be upgrading to using css grid

https://mozilladevelopers.github.io/playground/

[2017-10-13 10:31] corysimmons commented on #400
Personally I think this is a bad idea. Grid Layout is just better unless you're trying to support older browsers.

Grid systems will just convolute a good DSL with their own DSL.

Maybe Lost for generic `@support` fallback, but I don't think upgrading to replicate Grid Layout functionality is 1) a good idea, 2) possible (it's possible, but it'd produce a lot of gross code bloat).

[2017-10-13 15:44] rlam3 commented on #400
@corysimmons thanks! So moving forward it would be suggested we use css grid?

[2017-10-16 02:37] corysimmons commented on #400
Well, I'd wait until there was widespread adoption of CSS Grid, so like, several months to a year?

In the meantime, I think Lost helps out a lot. But yeah, once CSS Grid is here, I'd vote for putting a big notice on the README officially deprecating the project and pointing people directly to the correct stuff.

Pontificating: I think the industry suffers a lot from people holding onto OSS projec

[2017-10-16 02:47] rlam3 commented on #400
@corysimmons Thanks... I've started with jeet and then to lost... I guess, I'll have to migrate everything over to css-grid soon. :) Really appreciate your honesty on this matter.

[2017-10-16 05:37] corysimmons commented on #400
No problem. Like I said, current grid systems will probably be useful for about another year (until [this](https://caniuse.com/#feat=css-grid) hits 90% global) so I wouldn't hop over just yet (CSS Grid is pretty easy to learn/master over a weekend so no rush).

[2017-11-04 20:56] peterramsing commented on #396
@BarryThePenguin, what're your thoughts on what Cory said?

[2017-11-04 21:03] peterramsing commented on #400
@corysimmons, @rlam3,

I do think that LostGrid is ultimately going to be replaced by CSS Grid in many ways. The beauty about LostGrid is that it is lightweight so it can be there in the toolbox of many developers as they migrate to using CSS Grid.

I know most of my work can't move over to CSS grid for quite some time and we're even having to be careful how/where we use Flexbox because of interna

[2017-11-04 21:04] peterramsing commented on #400
I'll put a note to write up a blog post talking more about this.

---
Going to link to that and close this ticket then.

[2017-11-04 21:05] peterramsing commented on #399
@rlam3, could you talk more about that? What would you like to see exactly?

[2017-11-05 14:00] rlam3 commented on #400
@peterramsing Would you think a lost-grid to CSS-grid difference / comparison page or tutorial on how to migrate over would be nice for the community in the future? It would probably be very beneficial since most people would likely be looking for a pattern/way to migrate into a new way of using grids. Just curious. Thanks!

[2017-11-05 21:38] BarryThePenguin commented on #396
Hey, thanks all for the input. I think I agree with everything that's been said.

My original thoughts on this was a result of trying to migrate a site away from postcss + lost to a css-in-js solution. My initial approach was to migrate as much css as possible without changing it. That was difficult with the lost syntax, so to keep that I started building `<LostGrid />` elements in react. Which is

[2017-11-06 06:58] peterramsing commented on #400
@rlam3, yeah. I'll add that to see if I can either put it in my post and then see where it fits in the docs.

[2017-11-06 20:37] rlam3 commented on #399
Nothing. I'm beginning migrations over to CSS-Grid from lost since this is where most frontend is heading towards. Thanks!

[2017-11-06 20:37] #399 closed, assigned to nobody

[2017-11-07 06:33] corysimmons commented on #400
I actually snagged ~~http://compare.gs~~, [made a site for it](https://github.com/corysimmons/compare.gs/tree/9525782e99d664009b5ff29b81f8e421c0486b9a), etc., to compare all the different grid systems, but felt I'd be judged as a ridiculously biased maintainer of such a project so never filled it in with opinionated data.

I think the site was a tiny bit buggy last I checked.

https://github.com/s

[2017-11-07 21:08] rlam3 commented on #400
@corysimmons personally I don't think the lost community needs a grid comparison of all different grid systems but rather a comparison from lost to css-grid for ease of migration. But then again, if the community were to migrate, I'd also think that the whole frontend built on lost would probably scraped and be rewritten in css-grid.... I may be wrong...

[2017-11-08 14:03] corysimmons commented on #400
Oh, sorry, I'm half-reading stuff. I'll dip for a bit. :)

[2017-11-22 12:32] pcjmfranken commented on #398
Could it be that you're globally importing files in your stylus-loader webpack config?

[2017-11-22 17:16] brandondurham commented on #398
Boy, this is no longer happening. Results in flex setup with every build¹ now. I’ll keep an eye on it to see if I can reproduce at any point. I’m working heavily on the portion of the site soon that was affected. I’ll let you know if I see it again.

Sorry for the false alarm.

¹ Yes, I meant stopping the app (node) and restarting/rebuilding via Webpack.

[2017-11-22 17:16] #398 closed, assigned to peterramsing

[2017-11-22 17:52] peterramsing commented on #398
Glad it's not seeming to be an issue. Please do re-open if you see it happen again!

[2017-12-24 16:13] mikestopcontinues opened #401 "Bad width for `lost-column: 3/4;`"
**Is this a feature request or a bug report?**

Bug report

**What is the current behavior?**

Given up-to-date everything, this input...

[code]

Results in...

[code]

But what I expect is...

[code]

I want to use lost to build a wide column/skinny column layout for a standard blog page. But I can't given this weird inconsistency with the library.

Happy holidays, by the way! :)

[2017-12-29 01:54] peterramsing commented on #401
Okay, that's weird... let me look into this. 🤔

Thanks for the bug report.

[2017-12-29 02:01] peterramsing commented on #401
@mikestopcontinues Okay, I wrote a few tests and could you check something for me? Is there anything in your build pipeline that might be trying to solve your "calc" equation instead of letting the browser tackle it?

What you actually should be seeing is:

[code]

My guess is you have something minifying it.

Let me know.

Thanks!
P

[2017-12-30 14:29] mikestopcontinues commented on #401
Ahh! I had tried to avoid resolving calc early by putting lost after cssnext, but I didn't realize cssnano did it too.

But that turns out not to be the issue, as lost is still giving a margin of 6px, so it doesn't match with the 1/4 width column next to it and pushes it onto the next row.

I think the expected behavior would be for lost to create in a consistent margin of 24px, no matter what the

[2017-12-31 03:13] peterramsing commented on #401
@mikestopcontinues

Based on my tests LostGrid should be resolving to `width: calc(99.9% * 3/4 - (24px - 24px * 3/4));`.

Could you verify that no other plugins are affecting the output?

🤔

Maybe a quick pairing session to see if we can sort it? Could you email me and we can figure out a time.

[2017-12-31 09:21] mikestopcontinues commented on #401
That's the resolution I'm getting (now that I disable `cssnano`). I realized the issue was my config of my 1/4 column. In any case, thank you for the help!

[2017-12-31 09:21] #401 closed, assigned to peterramsing

[2017-12-31 17:11] peterramsing commented on #401
@mikestopcontinues Glad to hear it. Thanks!

[2018-01-03 13:43] bee-interactive opened #402 "Make lost-column and lost-align working together"
Hi!

I'm trying to build some columns and align all items inside vertically centered. I have tried some stuffs but nothing works. The grid collapse and everything is put together, in center of my template..

Here's a part of my code. I'm using stylus:

[code]

Any idea? I have seen something with a negative offset but not working here.. Thank you in advance for your time!

[2018-01-06 23:43] peterramsing commented on #402
@beeInteractive

Could you provide:
1. The `html` that you're using (or something to reference)
2. A screenshot of what you're seeing
3. Notes about what the screenshot should look like (annotations on an image are helpful)

2 and 3 could possibly be solved just by providing the `html`. I typically set things up to test things locally to see if there is something going on.

[2018-01-07 12:13] bee-interactive commented on #402
@peterramsing Hi! Thanks for the answer. Here's y bit of the html code I use. I keep it very simple:

[code]

Can this information help?
Thanks in advance!

[2018-01-08 13:48] ghost opened #403 "lost-align doesn't align correctly."
I just looked at website and saw this. Screenshot below.
**Top**: 115px;
**Bottom**: 85px;

**Is this a feature request or a bug report?**
Bug.

**What is the current behavior?**
Doesn't align correctly.

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
http://lostgrid.org/lostgrid-example.html

**What version of LostGrid, browser and browser version are affe

[2018-01-08 18:02] peterramsing commented on #403
Well, that's awkward. I'll take a look. Thanks.

[2018-01-08 18:03] peterramsing commented on #402
@beeInteractive, I'll take a look. I'm a bit buried at work right now so it's going to be a few days but I will get back to you.

[2018-02-12 20:03] cbravo opened #404 "lost-center no-flex flag seems to be broken in ^8.1.0 (working in 8.0.0)"
**Is this a feature request or a bug report?**

Bug Report

**What is the current behavior?**
[code]
CSS for flexbox still being a applied to div Despite having the no-flex flag explicitly set on the lost-center property

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
I am using
"webpack": "3.8.1",
"webpack-dev-server": "2.9.4",

**What is the desired behav

[2018-02-27 05:08] peterramsing commented on #404
Hmm. Looking into this.

[2018-02-27 05:17] peterramsing commented on #404
I'm not seeming to be able to reproduce this in isolation. Let me double check if there is a test case that covers this but there might be something else going on here.

[2018-02-27 05:23] peterramsing commented on #404
Scratch that! I have a failing test. Weird. Let me see if I can get something patched up here.

[2018-02-27 05:39] peterramsing commented on #404
Alright, I have a fix. Gonna slate it all together and see if I can get a patch out ASAP.

[2018-02-27 05:52] peterramsing commented on #404
Closing this for #405.

Thanks, @cbravo for bringing this up.

[2018-02-27 05:52] #404 closed, assigned to peterramsing

[2018-02-27 17:53] cbravo commented on #404
@peterramsing You are very welcome. Thank you for getting it sorted! Great work on this and I cannot express my appreciation enough for making this tool available to the world!

[2018-02-28 03:11] peterramsing commented on #404
@cbravo Thanks. There's a lot of people who've made this a success. Feel free to offer any thoughts on the fix on the PR (#405) if you have any!

[2018-03-01 04:54] peterramsing commented on #404
@cbravo This has been fixed and is released.

[2018-03-03 17:23] peterramsing commented on #403
Hmm. Something seems up with the translate. I'll keep poking at this.

[2018-03-03 17:41] ghost commented on #403
I never get an accurate result with top: 50%.
It is not surprising to me.

[2018-03-03 17:47] peterramsing commented on #403
No, sadly it's not terribly surprising to me either. So what to do what to do? I'm totally enveloped in [Ready Player One](https://en.wikipedia.org/wiki/Ready_Player_One) but once I'm done (super close) I'll see if I can figure out something.

[2018-03-03 17:53] ghost commented on #403
Made me laugh. I can't figure why but felt funny.

[2018-03-03 23:49] peterramsing commented on #403
Doh! It has everything to do with the margin of the element that is being contained. Because it has the [`margin-top: 15%;`](https://github.com/peterramsing/lost/blob/develop/docs/lostgrid-example.html#L661) added to it it's no longer being centered. I don't think it's actually a problem with `lost-align`. It's a problem with the example, though. I'll fix that. 👍 Thanks for catching that!

[2018-03-03 23:54] peterramsing commented on #403
Huzzah! It's fixed. Thanks again @atilkan!

[2018-03-03 23:54] #403 closed, assigned to peterramsing

[2018-03-16 22:38] peterramsing commented on #370
Got a fix coming in for this!

[2018-03-17 15:26] peterramsing commented on #402
@beeInteractive A couple of things:
1. `lost-align: middle;` isn't valid. `lost-align: center;` is what I think you're looking for (there's an error that throws)
2. What are you trying to have it look like?

I'm going to close this for now but feel free to ping back if you think it needs more conversation.

Thanks!

[2018-03-17 15:26] #402 closed, assigned to peterramsing

[2018-03-17 15:33] peterramsing commented on #390
@FStop, is this still an issue. Adding more params is something that I'd like to avoid *but* I see the potential need here. Let me know. Thank!

[2018-03-17 16:06] peterramsing commented on #382
It looks like there might be something more wrong here... I'm not able to replicate your issue but instead am getting something worse.

I'm thinking I might need to tear up that code and figure out what the heck is going on...the maths is all wrong.

[code]

[code]

![screen shot 2018-03-17 at 10 56 31](https://user-images.githubusercontent.com/3523268/37557429-71f71fe6-29d2-11e8-81a2-3cc31bad5069

[2018-03-19 13:34] elliottmangham opened #407 "Media queries don't work with @lost variables"
Hello,

Is it possible - _and if so how_ - to change @lost variables using media queries?

For example I have my gutter set to 30px:
`@lost gutter 30px;`

This works. However, I want to have my gutter set to `6vw` on mobile and the follow does **not** work:
[code]

Please can you advise how to get this working?

Thank you.

[2018-03-19 13:36] elliottmangham opened #408 "Use PostCSS :root variables with @lost variables"
Hello,

I want to be able to use my PostCSS variables as values for my @lost variables.

For example:
[code]

This does not work however. Please can you advise if and how this is possible?

Thank you.

[2018-03-20 05:11] peterramsing commented on #408
@elliottmangham, there are a couple of things going one here:
1. You're might transpiling your `--gutter` into an actual value for older browsers and that process happens after LostGrid is transpiled (if you convert that to `30px` before LostGrid sees it then you shouldn't have any issues here.
2. LostGrid doesn't read CSS vars and it could easily be argued that it should.

## Action Steps:
1. Try

[2018-03-20 05:19] peterramsing commented on #407
@elliottmangham Simply put: this isn't something that LostGrid supports. LostGrid transpiles before it ever sees the browser so it doesn't adapt to media queries.

## Action Steps:
1. You can support this on an individual basis with the following:
[code]
I suspect that isn't ideal for what you're intending here as that can get pretty tedious to write.

2. Build out support for if a global setting

[2018-03-20 16:04] elliottmangham commented on #407
Thanks @peterramsing for your informative answer, really helpful!

Your action step 1 is a good workaround, although I find that would generate a lot of unnecessary code as it would output the floats, margins, etc. for every media query.

Is it possible to modify only the gutter, for example:
[code]

Thanks again

[2018-03-20 16:05] elliottmangham commented on #408
Hi @peterramsing,

Thanks for your response. I will try step 1, though I would definitely support 2 in the future!

[2018-04-01 16:18] stephanschubert opened #409 "`lost-vars` not recognized by `stylelint`"
**Is this a feature request or a bug report?**

Bug report

**What is the current behavior?**

`stylelint` with config `stylelint-config-lost` complains about:

[code]

when using [`lost-vars()`](http://lostgrid.org/docs.html#variables) like

[code]

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

`.stylelintrc` contains:

[code]

**What is the desired beha

[2018-04-13 18:05] peterramsing commented on #409
Well shucks. It does appear that we have a bit of an issue with this and I think stylelint is right to not have to have to write something custom just for LostGrid. I'm sorry you're having this issue.

@codebysubtract, what do you think? I can look into seeing if we can escape the variables but that feels like a hack. Should we look into changing the API? (golly...how many times do we have to chan

[2018-04-13 18:10] peterramsing commented on #407
@elliottmangham I did some work on this over the last week and it'd be quite complex to do. The nature of how LostGrid presently works this would be quite difficult. I'm not afraid of the difficulty that I'd be afraid of the fragility. There would be a lot of complexity to ensure that the gutters maintained the correct columns.

I could be convinced to do it, though, and it would be a really good

[2018-04-16 13:23] elliottmangham commented on #407
Hey @peterramsing,

Thanks for looking into it!

It might be tedious to implement like you say, though I must argue that it would be a huge step towards writing DRY code. The benefit of modifying only one value (like gutter, for example) would mean that other values like floats, widths etc. are not output again and again for every media query.

A highly-responsive site might have several queries f

[2018-04-17 12:11] steve-holland commented on #409
@peterramsing From what I can gather the problem is the linter throws up an issue because we've no space around the `-` in `lost-vars('gutter')`. Unfortunately, I don't think that's going to be solved by using `$lost-gutter` instead, because we still have the same issue, namely a `-` with no spacing around it.

You are able to turn off the linter on specific lines in your code. So something like t

[2018-04-17 12:14] delorge commented on #409
@codebysubtract stylelint supports [variable syntaxes](https://github.com/stylelint/stylelint/blob/master/lib/rules/function-calc-no-unspaced-operator/index.js#L67) and wasn't throwing anything prior variables deprecation.

[2018-04-17 12:16] steve-holland commented on #409
@delorge Ok fair enough, I didn't realise that. Thanks for letting me know 👍

[2018-04-17 12:18] steve-holland commented on #409
@peterramsing Well it seems variables are ok. So I can't really think of anything other than resigning `lost-vars()` to the dustbin and keeping the old variables instead. There isn't really much point keeping the both of them, unless you have any other ideas?

[2018-04-17 12:46] stephanschubert commented on #409
@codebysubtract Sure, I disabled the warning and don't mind that too much. Just figured this is an issue which needs to be discussed. :)

[2018-05-12 15:56] elgandoz opened #410 "New parameter for lost-waffle to not override height"
**Is this a feature request or a bug report?**
Feature request (although it may be considered a bug as well).

**What is the current behavior?**
`lost-waffle` set an height in percentage to the element, relative to the parent. If the parent does not have any height, it doesn't work and it behaves as `height: auto`.

**If it's a bug please provide the steps to reproduce it and maybe some code sampl

[2018-06-12 02:47] peterramsing commented on #410
@elgandoz, thanks for bringing this up and the PR. I was off for a bit but let me get my head around this and see if we can get something worked out. I'm excited to see what you came up with!

[2018-06-12 03:25] peterramsing commented on #410
I mentioned a few of my thoughts on the PR. The PR aside, this is an interesting thought process.

I'd love to see `lost-waffle` be replaced by vanilla `display: grid` but legacy browsers is one of LostGrid's killer features.

Waffle wasn't designed to have a different height...by its nature, it's a square. Now, @corysimmons, is the original creator and may have different thoughts.

So the questio

[2018-06-12 03:45] peterramsing commented on #409
🤔 I'm a few months behind (changing jobs threw me for a loop).

Let me do some sipping on some coffee and ponder this. I'm tempted to use the previous variables but don't want to make a decision too quickly.

[2018-06-12 03:47] peterramsing commented on #407
@elliottmangham, this really is an interesting conversation. DRY has several meanings here. While the source code might be a little drier I can imagine having a solution for this work without configuration could bloat the exported CSS.

That said, I'm all for developer ergonomics. Let me see if a few months have given me some new ideas.

[2018-06-12 03:55] #370 closed, assigned to peterramsing

[2018-06-12 14:03] corysimmons commented on #410
Why negate height in waffle? Why not just use `lost-column`?

tbh I don't know the use case. Maybe it's cool.

[2018-06-12 15:29] peterramsing commented on #410
There are some margin issues with `lost-column` in order to get the desired results. The additional CSS does feel nicer with `lost-waffle` but I could play around to see if `lost-column` could be adapted instead.

---

Yeah, Maybe that is what should be done. Maybe this does live on `lost-column`. :thinking:

Of course, pending browser needs.... `grid-template-columns: 1fr 1fr 1fr;` :smile: [CodeP

[2018-06-12 20:18] corysimmons commented on #410
Sorry I really don't know what's going on anymore. 😬

[2018-06-13 13:10] corysimmons commented on #400
@peterramsing I think this is a bad idea. CSS Grid Layout is 👌 and obfuscating it with Lost is 👎

I think this one can be closed.

[2018-06-13 19:02] peterramsing commented on #400
@corysimmons, yeah, I certainly don't want to have LostGrid be a mask for CSS Grid. I mean, *maybe* wrapping a few things, but certainly not attempting to be used in place of CSS Grid where CSS Grid can do all the heavy lifting.

I have thought about offering a way to convert parts of LostGrid to CSS Grid and then have an "eject" process that would remove LostGrid from the picture when browser sup

[2018-06-16 05:51] elgandoz commented on #410
Hey guys, thanks for taking the time to check this. I'll try to clarifying my idea:

**Waffle use case.**
_lost-waffle_ was probably conceived as a tic-tac-toe _regular_ grid (3x3, 4x4,...) but it's, in my experience, a rare use case. The row container it also need a height declared.
I often use the waffle to display list of photos, or news teasers, cards, or any irregular grid (3xsome).

**Why no

[2018-06-16 06:02] elgandoz commented on #410
Thanks @peterramsing for you example with grids, it's exactly what I need. But unfortunately IE support is still a deal breaker in my case (I work with many PA offices), and that's one of the main reason I use lost. Another reason is that this framework is just beautiful, effective and easy to read. Speaking of, thanks for this awesome work.

[2018-06-16 18:03] peterramsing commented on #410
Daw shucks. Thank @corysimmons for the core; I'm just the gardener at this point. 😄

Okay, dream with me for a second.

[code]
Here's an example: https://codepen.io/peterramsing/pen/aKVboq

## Why this?
`lost-column` is for columns
`lost-waffle` is for waffles
`lost-grid` could be what this is... **and** could be "ejected" later if one wanted to move to CSS Grid.

[2018-06-16 18:55] peterramsing commented on #408
@elliottmangham, any update on whether or not option 1 helped?

Closing for now.

[2018-06-16 18:55] #408 closed, assigned to nobody

[2018-06-16 18:58] peterramsing commented on #382
The update on this is that I spent several plane rides trying to figure out what's what w/o any CSS documentation to read about what is actually happening. My next steps are to see how Bootstrap and other grids do the same thing and see if I can figure it out that way.

[2018-06-16 19:04] peterramsing commented on #400
Alright, to close this issue, I think it would be the wrong move to start adding new things to LostGrid that were to transpile into CSS Grid. I think the best option is to look for ways to allow for a user to "eject" from LostGrid into CSS Grid, or offer documentation on how to move from LostGrid to CSS Grid.

## What about LTS?
LostGrid isn't going away. In fact, I keep hearing more and more peop

[2018-06-16 19:04] #400 closed, assigned to peterramsing

[2018-06-16 19:09] peterramsing commented on #407
@elliottmangham, due to technical debt that I need to pay down, this isn't something that I can move forward on right now. I'll move it to the backlog, though, and maybe can come back to in after I work through some refactors.

[2018-06-16 23:57] elgandoz commented on #410
My considerations:
- I like the `lost-grid` naming, it's more natural, simpler to understand.
- I like the selector on the parent: it avoids declaring the clearfix aside and gives the idea of grid of same width elements. It breaks the common pattern of declaring lost on the child elements though.
- if `lost-waffle` is for waffles and `lost-grid` is for grids... I'm not sure why declaring the heigh

[2018-06-17 14:06] peterramsing commented on #410
@elgandoz, declaring the `height` was a mistake...it was overridden in the CodePen and I left it in by accident as I borrowed most of the code from `lost-waffle`. I've updated the CodePen *and* my code chunk.

**So you are right, no height should be declared.**

----

So this is a new API proposal at this point, it sounds like.

[2018-06-21 07:22] elliottmangham commented on #407
Hi @peterramsing, no worries! Thanks a bunch for looking into it!

[2018-06-26 21:34] thexpand opened #415 "The same body repeated in different condition branch"
Take a look here:
https://github.com/peterramsing/lost/blob/9ebffd08e1687e1c869f42a57185978fd3fff977/lib/lost-row.js#L83-L93

The same body is used in both the `if` and the `else` clause.
What is happening? Isn't that some kind of mistake?

[2018-06-27 21:18] peterramsing commented on #415
That's probably something that was there before I refactored everything to use `lgLogic`. Now the logic handles that and this could go away. Nice catch!

[2018-07-24 16:45] clemsontiger opened #416 "Not applying gutter size"
I'm definitely doing something wrong here, as it's not applying the 8px gutter size. Keeps using the default. I'm assuming it's something to do with the fact I'm using unquote but not sure...

[code]

[2018-07-24 18:03] clemsontiger commented on #416
Ugh, so I totally missed the note.. it was because i was not declaring a cycle. sigh...

"Note: When specifying the gutter, you need to also specify the cycle." So the following works.

[code]

[2018-07-24 18:03] #416 closed, assigned to nobody

[2018-08-14 22:26] cphoover opened #417 "Different gutter widths by breakpoint/media query"
Perhaps this is a dumb question, but I couldn't find the answer after a precursory look through the docs.

Is there a way to change the global gutter width at specific breakpoints? For e.g. make it a thinner sized gutter on mobile than on desktop.

TY

[2018-08-16 16:54] peterramsing commented on #417
I've had this question a few times. Presently, there isn't a way to change the global gutter from mobile to desktop.

---

Maybe this is something I should look into adding. :thinking:

[2018-08-16 21:50] cphoover commented on #417
@peterramsing If you can point me in the right direction. I might be able to take a stab at it when I have some time.

[2018-08-16 21:51] cphoover commented on #417
I would like to use Lost, but I can already can guarantee the designers on our team will adjust the gutter width on mobile, and I'm not sure where to go from there.

[2018-08-29 11:45] olegdenisov commented on #417
how can I change gutter for different viewport globally?

[2018-09-04 08:32] Lucassifoni opened #418 "Add support for hex values and safe defaults for lost-utility: edit {color}"
**Is this a feature request or a bug report?**
# Feature request
Add support for hex values and safe defaults for lost-utility: edit {color}

**What is the current behavior?**
Currently, lost crashes when it encounters a hex string instead of a rgb(n,n,n) value in `lost-utility: edit`.

**What is the desired behavior?**
Support strings like `rgb(n,n,n), rgba(n,n,n,n), #333, #222F, invalid input`

[2018-09-11 02:28] peterramsing commented on #418
Oh, golly! Nice catch!

Looking at the PR, now.

[2018-10-05 15:23] taltmann42 commented on #417
For a workaround until this may be implemented, you could declare mixins that handle the different gutter sizes. Declare global variables for gutter sizes and create the mixins according to your breakpoints:

[code]

This is for a mobile-first approach, you can also adjust the media queries or use multiple mixins like `column-only-tablet` or the like.

Using these would look like this:

[code]

[2018-10-16 19:11] brandondurham opened #424 "lost-column: none; always generates float-specific CSS, regardless of global flexbox setting"
**Is this a feature request or a bug report?**
Bug.

**What is the current behavior?**
Using `lost-column: none;` to reset a Lost element results in float-specific CSS being generated, even when the global setting is set to `flex`.

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

1. Add the `@lost flexbox flex` global setting so that any elements with `lost

[2018-10-19 14:49] ryanfitzer opened #425 "Docs on Nesting a bit Misleading"
I found this aspect of the docs misleading:

I think I it would be more accurate if it read:

This is an issue for elements that need to scale with the root grid, independent of the width of their direct parent.

The docs made me think that there was a way to make sure that a child with `lost-column: 1/20` would represent the proper column width, relative to the root, even when nested inside of a

[2018-10-23 20:29] ryanfitzer commented on #425
Looking in the code, I see that it's possible to set a global variable for units `@lost gridUnit vw;` instead of having to use `lost-unit: vw;` everywhere. Setting this doesn't seem to work. Since it's not documented, I had no expectation of it working, but I'm curious as to the status of this setting. Any ideas?

[2018-11-08 02:02] peterramsing commented on #424
Ooo. Yup. I let that escape. Let me get a failing test for this on a branch and see if I can tackle it.

[2018-11-08 06:53] peterramsing opened #428 "Migrate to modern Architecture - Peter's Chore"
**Is this a feature request or a bug report?**
Chore

**What is the current behavior?**
Working lib

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
N/A

**What is the desired behavior?**
No change, just more modern and readable (and composable) code.

**What's the motivation or use-case behind changing the behavior?**
Peter (that's me) really wants to have

[2018-11-08 06:56] peterramsing commented on #418
Pull Request is in. There is still need for documentation for this so I'll just leave this open to represent that.

[2018-11-08 07:01] peterramsing commented on #425
@ryanfitzer, let me look into this a bit. There might be a better option to do some sort of show and tell, here.
I'm going to make a note to come back to this. If you want to make some direct suggestions to the docs in a PR I'd love to see that. I think at the very least your proposed wording change is something that could easily be slotted in.

[2018-11-08 07:16] peterramsing opened #430 "Add Second Parameter to Lost Waffle"
The issue for #423

**Is this a feature request or a bug report?**
Feature

**What is the current behavior?**
Only one param for Lost Waffle

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
N/A

**What is the desired behavior?**
lost-waffle: 1/3 3/1;
Where 3/1 is cycle/start

**What's the motivation or use-case behind changing the behavior?**
@Kan-Artem to p

[2018-11-08 07:18] peterramsing commented on #430
@Kan-Artem, could you fill in some of the motivation behind this?

Thanks!

[2018-11-08 12:47] Lucassifoni commented on #418
Hi Peter ! Thanks for the merge and your comments :-) . I'll try to update the docs and submit a PR. Have a nice day !

[2018-11-08 14:25] peterramsing commented on #418
@Lucassifoni, awesome! Thanks!

[2018-11-23 14:26] blaasvaer opened #432 "Please update the Gulp docs for v4 ... or add to it."
As stated in the header.

[2018-11-26 11:51] blaasvaer opened #433 "So I guess this project is dead (as well)!?"
*For support questions you might try tweeting me [@lostgrid](https://twitter.com/lostgrid) first.*

-----

**Is this a feature request or a bug report?**

**What is the current behavior?**

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

**What is the desired behavior?**

**What's the motivation or use-case behind changing the behavior?**

**What version of

[2018-11-26 16:56] peterramsing commented on #432
Hey @blaasvaer, sure. I'll take a look at the new Gulp and see what I can do. If you've figured it out you're welcome to advise. Thanks.

[2018-11-26 17:00] peterramsing commented on #433
While there are new browser apis that make LostGrid not required such as CSS Grid or using straight Flex Box, LostGrid still has a place.

If that doesn't answer your question let me know.

[2018-11-26 17:00] #433 closed, assigned to nobody

[2018-11-27 02:44] peterramsing commented on #432
@blaasvaer, I build out a gulp 4 project quickly and there doesn't seem to be anything terribly complex about it or too different for that matter. Is there something, in particular, you're having issues it?

As a note, though: how to use LostGrid in one's project could certainly use some more documentation. I'm going to see if I can whip something up but it might not happen right away.

[2018-11-27 19:18] peterramsing commented on #432
If you're stuck, here's what I did just as a POC.
[code]

[2018-12-11 12:45] Lucassifoni commented on #418
@peterramsing, I'm closing this issue, just wanted to notify you since #431 has been merged.

[2018-12-11 12:45] #418 closed, assigned to peterramsing

[2018-12-12 09:51] JanisOzolins opened #434 "Multiple cycles within one container"
[code]

I'm trying to create the following grid layout, however with the following code:

[code]

How can I use multiple cycles within the same container? For some reason it thinks that container one is part of the three (1/3) column row, making Container 3 the last element instead of Container 4.

Is it even possible to achieve this kind of layout with Lost Grid?

[2018-12-22 00:12] peterramsing commented on #434
@JanisOzolins, sorry for the delay.

Yes, this type of layout is possible. The issue you're running into is the cycle is based on the "children". Here's the code that generates this and I'll comment inline:

[code]

![screen shot 2018-12-21 at 16 07 15](https://user-images.githubusercontent.com/3523268/50368177-b128e480-053a-11e9-9309-0536beeafa26.jpg)

Hopefully, that helps. Let me know if you ha

[2018-12-22 00:12] #434 closed, assigned to peterramsing

[2019-01-31 09:54] Lucassifoni opened #435 "Lost fails to parse fractions when the numerator and denominator are separated by spaces around the fraction bar."
**Bug report**

**What is the current behavior?**
This code sample works fine
[code]
Whereas this one fails to generate proper code.

[code]

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
Add spaces around the fraction bar `/` in a lost-column declaration.

**What is the desired behavior?**
With the above code samples, output should be similar to :
[code]

[2019-01-31 17:26] peterramsing commented on #435
@Lucassifoni, Oi. Looks like something worth fixing.

I'm in meetings all week away from home so my brain is a bit cloudy on Lost–I want to say that this issue has either been brought up or was address some other time? Not sure. If I recall the specifics or look back on it on the plane I will ping back here.

I'd love it if you wanted to fix it. `calc()` supports this and that feels like a good pa

[2019-02-09 22:28] peterramsing commented on #435
Merged and released. 👍

[2019-02-09 22:28] #435 closed, assigned to nobody

[2019-02-10 02:44] peterramsing commented on #430
@Kan-Artem, let's chat on this. I could see how this is cool but also don't want to add too many features not because features are bad but because sometimes there more complexity the harder things are to maintain, understand, etc. Basically, could you make a case for this?

I guess I could see having the ability to skip, but mainly want to hear from you before moving forward.

Thanks!

[2019-02-12 19:41] mverissimo opened #440 "Error when using with precss"
*For support questions you might try tweeting me [@lostgrid](https://twitter.com/lostgrid) first.*

-----

**Is this a feature request or a bug report?**
Bug

**What is the current behavior?**
When I try to use the lost grid with precss and postcss(gulp), the following error is returned
Plumber found unhandled error:

**If it's a bug please provide the steps to reproduce it and maybe some code sam

[2019-02-12 20:09] #440 closed, assigned to nobody

[2019-02-23 06:37] eddietohier opened #441 "Need help... Column with padding"
how to make column and padding in same div like [http://lostgrid.org/lostgrid-example.html](url) The LostGrid Cycle section, i tried:

aside {
    lost-column: 1/3;
    padding: 15px;
}
article {
    lost-column: 2/3;
    padding: 15px;
}

but UI break, the article block breaking down to next line

[2019-02-23 07:10] eddietohier commented on #441
my bad.. i forgot to add border-box

[2019-02-27 20:55] peterramsing commented on #441
Super! Glad it was an easy fix.

[2019-02-27 20:55] #441 closed, assigned to nobody

[2019-03-15 14:43] negropop opened #442 "How I Can Add RTL And LTR Both"
hello every body♥☺

i have a problem now in adlinkfly script shorten links

I desing a theme  but i want make it when the visitor Select Arabic lang

site convert to RTL and if he select English lang Come From LTR

PLEASE I need ahelp fast ♥

[2019-09-24 19:02] 0x54321 opened #443 "lost-column calculated incorrectly"
**Is this a feature request or a bug report?**

bug report

**What is the current behavior?**

In my Next.js app, the values generated from "lost-column" are not correct in production, though strangely enough, everything is okay in dev environment.

For example, when using `lost-column: 5/12`, the values in dev are:

[code]

But in production it looks like this:

[code]

**If it's a bug please pro

[2020-03-25 16:38] TommySorensen commented on #443
@0x54321 Was this ever fixed?

[2020-04-20 17:46] HoraceShmorace commented on #440
@mverissimo I'm curious why you closed this? Did you solve it? I'm getting this same error.

[2020-04-20 18:40] mverissimo commented on #440
@HoraceShmorace Honestely I don't remember, I think was something with plugins order

[2020-05-04 13:46] #410 closed, assigned to peterramsing

[2020-11-01 16:46] peterramsing commented on #443
@0x54321 sorry it's been a year... twins and new job will do that.

--
Okay, so what I'm suspecting is happening is in your dev environment you're not running (or maybe w/ a different config) a CSS optimizer/compressor/linter that is trying to "pre-compile" the code removing the parens 'cause it thinks it knows better. I don't think this is an issue w/ Lost but instead the build.

--
Could you put

[2020-11-02 17:01] 0x54321 commented on #443
Hey, thanks for following up. (Better late than never!)

I ended up solving the problem back then by replacing the `--gutter` variable with a hardcoded value. Apparently there was some other postcss plugin that was removing the parens (maybe postcss-calc?). No clue why it only affected variables, and why only in prod.

[2020-11-03 03:50] peterramsing commented on #443
That's a good callout. Glad you got it sorted.

My guess is that the prod version is bit more strict and compressed harder. I've had many a "go-live" day slapping me in the face with that realization.

Closing as "ok" but I'll do some pondering on it.

[2020-11-03 03:50] #443 closed, assigned to peterramsing

[2020-11-03 03:52] peterramsing commented on #442
@negropop this hasn't been implemented yet. See #360

I'll see if I can get some cycles on it or otherwise advise.

[2020-11-03 03:52] #442 closed, assigned to peterramsing

[2020-11-07 03:11] peterramsing opened #445 "Postcss 8 Upgrade"
https://evilmartians.com/chronicles/postcss-8-plugin-migration

-----

**Is this a feature request or a bug report?**
Use PostCSS 8 Optimizations

**What is the current behavior?**
PostCSS v8 as is

**What is the desired behavior?**
No regressions

**What's the motivation or use-case behind changing the behavior?**
Keeping up with life

[2021-03-06 05:18] #396 closed, assigned to nobody

[2021-09-06 07:31] lynzrand commented on #445
Hi, it seems like this repo has been silent for ~10 months. Is the upgrade still being worked on?

[2021-12-08 13:44] atomicrobokid commented on #445
@peterramsing any update on this? Angular 12+ uses PostCSS 8.

[2022-03-05 20:07] LeoniePhiline commented on #445
Bump?

[2022-03-22 14:28] ThornWalli commented on #445
Isn't the solution almost ready? https://github.com/peterramsing/lost/pull/446

[2022-05-02 18:06] peterramsing commented on #445
Sorry - been on leave. Let me see where this is and jump back on it.

[2022-05-02 18:34] peterramsing commented on #445
@ThornWalli , @LeoniePhiline @atomicrobokid @lynzrand

I just pushed this to beta (`npm i lost@9.0.0-2`). I'll test it some today but could I get some help doing sanity testing?

Thanks.

[2022-05-11 15:45] ThornWalli commented on #445
Hello @peterramsing,

have installed it once and immediately encountered a problem 🙂

Working with `postcss-preset-env` and this no longer seems to run completely.

(Maybe a similar problem. https://github.com/csstools/postcss-plugins/issues/342)

Created an example repo (https://github.com/ThornWalli/lost-test).
There the nested media query is not taken over, the lost plugin was added.

[2022-05-14 17:32] peterramsing commented on #445
Interesting. I'll work on some failing tests and get it resolved.

[2022-05-14 18:19] peterramsing commented on #445
Failing test added
https://github.com/peterramsing/lost/pull/446/files#diff-e0ca830dd683a20c3e2e1351cba319f6c94c7ae0936dbc4f96e4e45866201c05

[2022-05-15 14:23] ThornWalli commented on #445
@peterramsing Could it be that the test output is wrong? 🙂

https://github.com/peterramsing/lost/pull/447

[2022-05-26 20:57] peterramsing commented on #445
@ThornWalli , @LeoniePhiline @atomicrobokid @lynzrand

@ThornWalli, this has the fix for the media query nesting issue.

New version for test `npm i lost@9.0.0-beta.3`

[2022-05-26 20:58] peterramsing commented on #445
@ThornWalli it looks like your test repo works fine with Beta 3.

[2022-05-28 16:10] ThornWalli commented on #445
@peterramsing Looks good! 🙂

[2022-05-30 19:38] peterramsing commented on #425
Working on this here: https://github.com/peterramsing/lost/pull/452

[2022-05-30 19:39] peterramsing commented on #425
I made this change here to the docs: https://github.com/peterramsing/lost/pull/450

[2022-06-20 08:33] ThornWalli commented on #445
@peterramsing What is the current status here? 🙂

[2022-06-21 03:39] peterramsing commented on #445
@ThornWalli, if things are looking good on your end then I think it's safe to do a merge. I've done quite a bit of testing myself, too. I'll go ahead and do it.

[2022-06-21 03:43] peterramsing commented on #445
*the merge is already done - just need to release a non-beta version.

[2022-06-22 14:45] peterramsing commented on #445
I got pulled away right before I was going to release it (kids needed something). I’m planning to get to it tonight.

[2022-07-02 19:39] peterramsing commented on #445
This was done with the latest v9 release

[2022-07-02 19:39] #445 closed, assigned to peterramsing

[2022-08-24 02:56] #428 closed, assigned to peterramsing

[2022-08-24 02:56] #425 closed, assigned to peterramsing

[2022-10-10 16:22] franck-lynn opened #457 "postcss config"
_For support questions you might try tweeting me [@lostgrid](https://twitter.com/lostgrid) first._

---

**Is this a feature request or a bug report?**

**What is the current behavior?**

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

**What is the desired behavior?**

**What's the motivation or use-case behind changing the behavior?**

**What version of L