[2015-11-29 17:49] zgreen opened #192 "nth-of-type support"
It would be great if Lost supported `nth-of-type()` grid spans in addition to the current `nth-child()` implementation.
## Use case

[code]

[code]

Obviously, one can work around this by simply adding a wrapping element, but that solution may neither be semantic nor desired.

I'm happy to submit a PR, if you're interested. Thanks for all your work—this project is terrific.

[2015-11-29 19:10] peterramsing commented on #192
👍🏻

[2015-11-29 20:15] corysimmons commented on #192
Yeah I'd be interested in a PR for this. It'd need to be a global setting as well as on a per-element basis.

[2015-11-29 21:11] zgreen commented on #192
Terrific, I'll put something together.

[2015-11-30 21:35] qasimalyas opened #194 "Consider removing zoom: 1"
First of all @corysimmons thanks for building lost. Its awesome and i'm using it at the moment on a SaaS codebase which is going to be a good test for this grid system.

I've been paying careful attention to the output CSS and there are things which I think can be improved.
The `zoom: 1` is redundant and unnecessary. `zoom: 1` is a proprietary rule which "fixed" layout issues in IE6 and 7 only - w

[2015-12-04 21:00] Dylan-Chapman commented on #192
+1 Just ran into this

[2015-12-10 15:46] sidonaldson opened #195 "When using lost-move, have it retain the gutter if specified by a previous lost-column"
Hi Cory, I think I've found a little bug with the `lost-move` where it seems to default to the global gutter value.
In the test case I have two columns (1/3 and 2/3) and I want to swap their positions and without any gutter.

[code]

The problem is that `lost-move` ignores the gutter override and you still get a gap and the offsets are out.
I can get around it by setting `@lost gutter 0;` but that

[2015-12-10 19:59] Dylan-Chapman opened #196 "Add option to lost-column for updating the value"
lost-column should have an option to help eliminate duplicate CSS

For example, if this is my input:

[code]

Then my output is:

[code]

I don't know if the solution would be to pass an update flag in the lost-column call, or to have a separate lost-column-update call? It seems like there should be some way to avoid this mass-CSS-duplication.

[2015-12-10 20:24] peterramsing commented on #195
Looking at line 30 of the `lib/lost-move.js` file ([lost-move.js](https://github.com/corysimmons/lost/blob/master/lib/lost-move.js#L30)), it looks like it it pulls the gutter from the default settings, not the previous `lost-column:` declaration.

That's not really an answer, I suppose.

[2015-12-10 20:24] peterramsing commented on #195
Maybe the gutter could be passed on to `lost-move` if set by `lost-column`...

[2015-12-11 16:47] corysimmons commented on #195
We can probably do something where we look through that current block of definitions for `lost-column` and detect if it has a gutter set, then set it for the `lost-move` declaration.

Thanks for pointing this out.

[2015-12-14 22:16] Alexzanderk opened #197 "Problem with flexbox in sass"
I have problem with flex box.
When I write the code in my style.sass

[code]

Everything's broken!! How I must write this `@lost flexbox flex` in style.sass?

[2015-12-15 18:49] iRouge opened #198 "Error in Better than X comparative table"
The table claims _Lost_ to be the only one that offers flexbox grids. As of today, new versions of Bootstrap (4 alpha: http://v4-alpha.getbootstrap.com/getting-started/flexbox/) and Foundation (6: http://foundation.zurb.com/sites/docs/flex-grid.html) now have flexbox grids.

In my opinion, The Bootstrap version is still ill-implemented but that's another story.

[2015-12-15 23:40] qrczak opened #199 "I need help with my grid"
My html

[code]

where

[code]

and how to make this divs like this

[code]

because right now there is a little mess:

![My mess](http://i.imgur.com/JWy4N0X.png)

I was trying with cycles but with no resoults...

Can anybody help me?

[2015-12-18 06:10] alex-ketch commented on #196
[code]

[2015-12-21 16:57] bradryanbice opened #200 "Safari (OS X and iOS) nested grid gap appearing"
I'm only seeing this in Safari (OS X and iOS), but when nesting a grid, I am getting the attached gap at the end of the nested row. Not an issue in Chrome or Firefox on Mac.

HTML:

[code]

SCSS:

[code]

![screen shot 2015-12-21 at 10 01 05 am](https://cloud.githubusercontent.com/assets/8323556/11934821/f98c6318-a7c9-11e5-9167-75e2388917e0.png)

[2015-12-22 15:57] Dylan-Chapman commented on #196
It may not inherently be a Lost grid issue, but it's one that Lost could fix? If you called lost-update-column instead of lost-column, you wouldn't get the flex declarations and the other two repeated selectors again, for example.

[2015-12-23 11:44] pixelize opened #201 "Right align grid elem"
Hi everyone,

It might be stupid but I'd like to align the last 3 items to the right. (the button is not in the grid and positioned by an absolute position).
I tried some align helpers but can't figure it out ;)

Thanks in advance

![capture d ecran 2015-12-23 a 12 43 11](https://cloud.githubusercontent.com/assets/2931627/11975903/c38366d6-a972-11e5-996e-7e5504c930da.png)

[2015-12-26 14:59] lewk07 opened #202 "Code examples along side http://corysimmons.github.io/lost"
I'm kind of new to this stuff, so I hope this isn't frivolous. I'd like to see some more examples. The core documentation is kind of abstract. It's like div 1-5 and then you do x. I'd like to see how each of the examples on http://corysimmons.github.io/lost are written.

[2015-12-27 17:03] lewk07 commented on #202
It would still be nice to see slightly more robust documentation (I'm not certain where else I would make a suggestion like this). Between gulp, elixir, stylus, postcss and all the plugins I had something was wrong somewhere that was causing me issues. Certain things were just not working. It made me feel like I could not grasp the concepts.

[2015-12-27 17:03] #202 closed, assigned to nobody

[2015-12-27 18:49] lewk07 commented on #202
https://github.com/corysimmons/lost/tree/gh-pages

Also just found this. Didn't notice it before.

[2015-12-28 14:44] corysimmons opened #203 "Transferring repo"
Hey guys,

I love this project, but don't have a lot of time to maintain it right now. I'm working on a new project (not a grid, not on GitHub).

@peterramsing has been the most active contributor and seems to have a good grasp on Lost so I'm going to transfer the repo to him. I'll keep a semi-updated fork so if he goes crazy or something it'll be safe, but I highly doubt it, he seems like a prett

[2015-12-28 17:06] peterramsing commented on #203
:+1: I'm pretty excited.

[2015-12-28 17:18] corysimmons commented on #203
All done. =)

Feel free to update the description of the repo, the README, and whatever else you want.

Thanks Peter! Can't wait to see how it evolves from here.

[2015-12-28 17:19] peterramsing commented on #203
It's an honor. I hope to do well by it.

[2015-12-28 17:19] #203 closed, assigned to nobody

[2015-12-29 03:45] peterramsing commented on #192
@zgreen Are you still up for working on a PR? (or maybe you already are) :smile: Any help would be epic!

[2015-12-29 03:49] peterramsing commented on #194
I'm all for removing code if it's doing something that isn't necessary. Would you like to look into this @qasimalyas? I'm just getting a handle on what needs to be done as I've been passed this repo. If you want to put some time into code I'll help (just submit a [WIP] Pull Request and we can tackle it). I would like to plan out a greater roadmap and maybe this falls into some larger code work lat

[2015-12-29 03:54] peterramsing commented on #196
I'm liking the direction of this. I think this leads into a great thought process about what Lost's role is. Be looking for more discussion to see if Lost could help out with this. I'll leave this issue open for now as I want to capture this as a potential feature.

Thanks! :smile:

[2015-12-29 03:55] peterramsing commented on #197
@wellapex Could you provide a bit more code as reference to help see what's up?

Thanks! :smile:

[2015-12-29 03:58] peterramsing commented on #198
I'll be looking into this. With how fast all these grids are moving having a table up to date is tough. To properly express this in the current chart would be hard as Bootstrap is in Alpha-so does that count?

@iRouge Do you think this could be better served as a third-party grid comparison table? This comparison table isn't just helpful for Lost.

[2015-12-29 03:59] peterramsing commented on #198
Also-I'm not going to make any immediate changes as I think I'm going to do some larger changes to the README and want to have them planned out before proceeding. :smile:

[2015-12-29 06:24] peterramsing commented on #200
I'll take a look at this either tomorrow or the next day and see what Safari might be doing differently.

Have you had any updates? If you inspect the elements does it lead to any hints?

Peter

[2015-12-29 06:26] peterramsing commented on #201
Could you elaborate a bit more? Maybe share some code?

Is the attached image what you have right now? Could you show what you want it to look like with some annotations?

[2015-12-29 06:43] peterramsing commented on #199
The main issue here is that because you specified `x/5`, you are cycling every 5th div.

You were on the right path but I think you may have missed some syntax. I'm hoping to get some more documentation on this soon.

**Try this out for your css.**

[code]

*note the `2` on the end of those `lost-column` declarations. That does the clearing to get you the results you want.

![screen shot 2015-12-2

[2015-12-29 06:58] corysimmons commented on #194
[calc polyfill](https://github.com/closingtag/calc-polyfill) supports calc in IE8+ and I'd like to make sure Lost works in IE8+ with the appropriate polyfills, but you can get rid of the `zoom: 1` as it only offers IE7 support.

[2015-12-29 07:09] peterramsing commented on #192
@zgreen I just noticed that you forked and had some work going already on this. Let me know if you need anything.

[2015-12-29 07:12] corysimmons commented on #196
I think Lost could help with this. Lost really needs to do a few more things. You need to be able to generate reusable classes with it (e.g. `.col-md-6`) without bloat and it'd be nice to do something like Dylan is suggesting where we somehow tell the API we're "updating". I think it'd be better as a param to `lost-column` rather than creating a new rule `lost-update-column`.

For instance:

[code

[2015-12-29 07:17] corysimmons commented on #198
I would love to see someone create an open source project that was simply a gh-pages site with a comparison table of the various grids on there...

We could transfer it out of this README and multiple people could help maintain it. It would become an incredibly popular resource for anyone looking into various grids.

Funnily enough, the grid used to make that table of data would probably work best

[2015-12-29 07:18] peterramsing commented on #198
@corysimmons You're reading my mind. I think I need to take another vacation just to get some of this all done. :smile:

[2015-12-29 07:19] corysimmons commented on #198
Foundation can be updated though, and I wouldn't say Bootstrap offers flexbox grids yet since it's still alpha, but as soon as it comes out of alpha I'd update it.

[2015-12-29 07:20] corysimmons commented on #198
@peterramsing That grid site wouldn't be hard at all. I could design it for you tomorrow if you want to maintain it.

Once it's out there and being linked to, people from all walks will let you know what features their favorite grid supports in comments so it's not like you'd have to track down all the facts, and Lost's current README table is a decent start for that kinda stuff.

[2015-12-29 07:27] peterramsing commented on #198
@corysimmons I'm up for anything.

[2015-12-29 07:29] peterramsing commented on #198
This has now been resolved with https://github.com/peterramsing/lost/commit/8464f1e81efd86c18db20247773a6c1a3211387f.

@corysimmons Just let me know if you get coding on it a separate table.

[2015-12-29 07:29] #198 closed, assigned to nobody

[2015-12-29 07:43] corysimmons commented on #200
I see this too.

We could possibly fix it by applying a `float: right` to every cycle'd element (so every 3rd element in a `lost-column: 1/3;`). This might cause unexpected results (elements floated right when the author didn't intend for them to be), but I doubt it.

Worth messing around with and testing. A px gap on Safari is pretty rad for a grid that prides itself on being super advance. :^(

[2015-12-29 07:57] corysimmons commented on #201
Lost works best when you mix and match it with other layout methods and techniques instead of trying to bend Lost to be an all-in-one layout tool.

For instance: http://codepen.io/corysimmons/pen/NxbbgO?editors=110

That said, @pixelize brings up an interesting point. Should `lost-align` work on single elements as well? Perhaps an arg that specifies something is a single element.

Right now there

[2015-12-29 08:05] corysimmons commented on #198
I don't want to maintain it, but I'd be happy to whip something together and transfer it over to you if you'd like. You'd need to get a domain for it.

Oh, and I don't pay for Adobe CC (so expensive...) anymore so I don't have Illustrator. Someone else would have to come up with a logo for it. :^(

[2015-12-29 08:08] peterramsing commented on #198
I can handle the domain, etc. I could see if I could either whip a logo up or my wife could.

There should probably be a name for it, I suppose.

[2015-12-29 08:59] corysimmons commented on #198
It'll be your project so you can do all the branding and stuff. Something simple and descriptive like "Grid Comparison Table" or something would probably work best.

[2015-12-29 12:16] MartinDM opened #204 "Last column resolves too wide using lost-column: 6/12 0"
Having issue setting this to work. Even with two equally wide columns, using lost-column: 6/12 0 renders the second column too wide and it pops onto a second line. Trying a different propoertion shows the same issue:

[code]

Works when using a fraction, or totalling 11.
What could it be?

Cheers

[2015-12-29 13:20] zgreen commented on #192
Yeah, it's just about there—work got in the way. Got it working w/ `lost-column`, tests passing. I made some changes so that you can pass the parameters optionally/in any order—have a look when I submit the PR. I need to implement it for `lost-row`, add a few more tests, and then it should be good to go. Hopefully can finish this off today.

[2015-12-29 16:02] peterramsing commented on #204
I'm not seeing what you're describing but I'm guessing I'm just missing something.

Here's a [codepen](http://codepen.io/peterramsing/pen/gPLRvN?editors=110) of what I'm seeing. Does this match what you get? (I used vanilla CSS instead of nesting the class selectors in mine.)

[2015-12-29 16:04] peterramsing commented on #198
I'll ponder for a bit. :smile:

[2015-12-29 16:17] peterramsing commented on #192
Thanks! Don't worry about any sort of rush. Enjoy this last week before 2016.

[2015-12-29 16:42] pixelize commented on #201
Hi everyone, thanks for taking on your time for helping me. Finally, I used Flexbox which works great for this situation (I just need to find some polyfills for olders browsers ;) )

@corysimmons +1 your idea looks great !

[2015-12-29 16:49] peterramsing commented on #201
Glad flexbox worked. @corysimmons I think your idea has merit. I do think that you might have hit a solid note when you said

@pixelize Do you have any thoughts about whether or not this is a feature for Lost to consider or whether it falls outside of what you think Lost should do? @corysimmons Thoughts?

I'm currently trying to prioritize what features to add, enhance, etc in the coming versions

[2015-12-29 16:50] #199 closed, assigned to nobody

[2015-12-29 17:21] corysimmons commented on #204
`.row` needs a width. http://codepen.io/corysimmons/pen/bEBrqq?editors=110

[2015-12-29 17:23] corysimmons commented on #201
I think it'd be a good feature for Lost. It'd make Lost more flexible.

Definitely not a big priority, but it'd be a neat addition. I think maybe the syntax needs some work.

[2015-12-29 22:38] zgreen commented on #192
:+1:

[2015-12-30 01:15] corysimmons commented on #192
It'd be really cool if all Lost's rules could accept values in any order. :^\

[2015-12-30 02:54] peterramsing commented on #192
@corysimmons I'm looking into this, actually. I'm curious what it will take. Still really diving into the code right now to better understand it all as a whole. :smile:

[2015-12-30 03:20] peterramsing opened #205 "Update README.md to reflect coming changes"
While @corysimmons did an amazing job creating this grid, as he "passed the baton" to me I'd like to update the README to reflect that as to help resolve any confusions.

[2015-12-30 03:20] peterramsing opened #206 "Review all open issues"

[2015-12-30 03:20] #206 closed, assigned to peterramsing

[2015-12-30 03:21] peterramsing opened #207 "Review all closed issues"
Just to see any previous trends and issues.

[2015-12-30 03:22] peterramsing opened #208 "Review all code and tests"
I've been through it a few times before but I'd like to spend a good long while really understanding it all to the core.
## Code
- [x] lost-at-rule
- [x] lost-utility
- [x] lost-flex-container
- [x] lost-center
- [x] lost-align
- [x] lost-column
- [x] lost-row
- [x] lost-waffle
- [x] lost-offset
- [x] lost-move
- [x] lost-masonry-wrap
- [x] lost-masonry-column
- [x] new-block
## Tests

~~\- [ ] lo

[2015-12-30 03:23] peterramsing opened #209 "Update Lost on npm to reflect the transfer or repo"
@corysimmons Might need an assist here.
- [x] Give Peter Access to npm
- [x] Update npm to reflect transfer

[2015-12-30 03:23] peterramsing opened #210 "Review all current documentation"

[2015-12-30 04:53] corysimmons commented on #209
Yeah I need to add you to npm.

[2015-12-30 05:57] peterramsing commented on #200
@corysimmons @bradryanbice

I am missing something, I think. I'm unable to get this to replicate. @corysimmons , how are you seeing this?

[2015-12-30 07:03] peterramsing commented on #209
Do you need anything from me?

[2015-12-30 07:36] peterramsing opened #213 "Allow for parameter order to not matter"
See #181 and #192 where this is discussed a bit more.

This could either be a global change or slowly integrated in. Discussion to be had here.

[2015-12-30 07:39] peterramsing commented on #192
@corysimmons see #213 for follow up to your last comment.

[2015-12-30 19:18] bradryanbice commented on #200
Are you looking at this on actual Safari, on a Mac? and on iOS? I can't not make it happen. It's definitely going to prevent my company from using this grid system unless we can find a way around it.

[2015-12-30 20:30] peterramsing commented on #200
I am looking in actual Safari. I'm actually getting something completely different than your screenshot from your code you put in the issue, so I think I'm missing something.

I'd love to see how Safari inspects that to see what is actually causing it.
Here's what I'm using-would love to see how they compare.
https://github.com/peterramsing/lost-grid-testing/tree/issue/200

![screen shot 2015-12-3

[2015-12-30 20:36] bradryanbice commented on #200
But, the gap is there? I'm seeing a 1-pixel gap in your screenshot after the 4th column in the nested row... exactly what I am getting.

![screen-shot-2015-12-30-at-2 33 46-pm](https://cloud.githubusercontent.com/assets/8323556/12057038/aaebd442-af02-11e5-8d43-e233d30c4eb2.png)

[2015-12-30 20:38] peterramsing commented on #200
I suppose this is my face palm moment. Sorry! Let me see if I can get to the bottom of if. Yay browsers.

[2015-12-30 20:52] peterramsing commented on #200
I'll spend some time looking at it tonight. You'll have something from me by tonight.

@corysimmons You're right. A float fixes it just fine but it feels a bit like a hack and there could be unintended consequences. Especially when the issue is only in Safari.

[2015-12-30 21:38] peterramsing commented on #200
I quickly chatted about this with a colleague and he confirmed that this is a sub-pixel issue. I want to do some reading on it a bit more tonight to ensure that there isn't unintended consequences to adding a float in, but I think this should be solved with a `float: right;` on the last item in the cycle as @corysimmons suggested. If this is standard behavior in other grids then I don't see it cau

[2015-12-31 03:17] peterramsing commented on #200
@bradryanbice I've added a very simple `float: right;` but have done minimal real-world testing. You can find it here: https://github.com/peterramsing/lost/tree/add-float-to-last-cycle-div

Want to see if that helps with this issue? I see it solves it for me.

Again, I want to do some more testing. I also think that I'd like to push this to 6.7.x but haven't decided for sure.

![screen shot 2015-1

[2015-12-31 15:05] peterramsing opened #217 "Add a lost: reset rule"
This is spurred from #211 where @alex-ketch suggested this might be an idea.

This issue is to discuss this and what it might affect.

[2015-12-31 21:41] corysimmons commented on #209
Added you as owner of the Lost npm package.

[2015-12-31 21:43] corysimmons commented on #213
It'd be nice if it was a global change. I saw some other PR integrating this for a single property and it'd seemed weird that it was the only property that worked like that...

[2015-12-31 21:45] corysimmons commented on #192
@peterramsing Feel free to ping me while you're diving into code for explanations about anything. Happy to help you wrap your head around my garbage code. :^)

[2015-12-31 21:50] peterramsing commented on #192
@corysimmons You bet! I plan to sift through all the code + tests (#208) tonight and though the weekend. I'll probably release a 6.6.3 release with the npm updates through the weekend and then pursue #195 to get another patch out before getting 6.7.x scoped and begin the roadmap to 7.0.0. I'll probably ping you throughout. :smile:

[2015-12-31 21:53] corysimmons commented on #200
:+1:

I'd suggest testing this with a variety of sized blocks and cycles and such.

This fix will also need applied to waffle.

[2015-12-31 21:54] corysimmons commented on #217
I'd add `lost-column: reset` and just have it set every single thing that `lost-column` sets back to browser defaults. That should solve whatever issues anyone is having with it.

[2015-12-31 21:55] peterramsing commented on #200
@corysimmons Waffle-check. I'll get a PR submitted for this to ensure that a checklist is in place and nothing is missed.

[2015-12-31 21:55] corysimmons commented on #192
Awesome, you're doing an amazing job! I'm so happy you took this project over.

[2015-12-31 21:57] corysimmons commented on #200
The demo page is a decent way to test stuff too. Anytime I worked on Lost I'd do some random visual tests, and if everything looked right I'd update the code in the gh-pages demo. Sometimes it'd reveal something. It's also a nice way to point at fresh code when someone is looking for some examples.

[2015-12-31 21:58] peterramsing commented on #200
@corysimmons I did just that last night. :smile: The demo page certainly is helpful. I'm going to also build out some complex layouts for test cases as well.

[2015-12-31 21:59] peterramsing commented on #192
:+1:

[2015-12-31 22:01] peterramsing commented on #213
I think it might trickle into a few rules, especially in 6.7.x, but would be defined as a feature in 7.0.0.

[2015-12-31 22:06] corysimmons commented on #213
:+1:

[2016-01-01 01:57] peterramsing commented on #202
@lewk07 I totally get how you feel. Front-end dev, especially, has so many plugins and they all move really fast. Where the problem actually is typically takes a long time to find.

There are going to be some new docs coming soon that should really help make Lost more accessible.

If I might give a little time as you said you're new to this stuff.

[2016-01-01 03:04] #207 closed, assigned to peterramsing

[2016-01-01 08:07] #209 closed, assigned to peterramsing

[2016-01-01 08:17] peterramsing commented on #204
@MartinDM Did @corysimmons's answer help?

[2016-01-01 17:32] #210 closed, assigned to peterramsing

[2016-01-01 23:48] peterramsing commented on #217
Per #211, this is going to be on hold for now. To revisit at a later time.

[2016-01-02 02:00] #208 closed, assigned to peterramsing

[2016-01-02 05:11] peterramsing commented on #195
@sidonaldson Here's a codepen with this "fixed". http://codepen.io/peterramsing/pen/dGNXmK

You can specify the gutter within the `lost-move` rule. (see the codepen)
You can also use `lost-move-gutter: 0;`.

I'm working on getting the `lost-move` to read the gutter from the `lost-column` rule right now, though. Sorry for the delay on this. When I took over this repo I really wanted to get a handle

[2016-01-02 07:39] peterramsing commented on #195
@corysimmons Was there any reason that [lost-move.js](https://github.com/peterramsing/lost/blob/master/lib/lost-move.js) doesn't use "newBlock()"?

[2016-01-02 07:44] peterramsing commented on #195
Closing to migrate discussion to the PR #219

[2016-01-02 15:54] peterramsing commented on #195
@corysimmons I think I answered my own question about `new-block.js`.

[2016-01-02 17:11] corysimmons commented on #195
:+1: tbh, I'm not sure. I might have just overlooked it. If it works with newBlock, newBlock should probably be added so the property is uniform with the rest of them.

[2016-01-02 17:15] peterramsing commented on #195
I'm noticing a few things that are inconsistent, but not breaking. Any refactor will have to wait. I'd love to get some of these bugs/issues deployed before doing any refactor work. Maybe when I have another long weekend I'll spend sometime doing that and maybe getting some linting in place.

[2016-01-02 17:32] Keats commented on #197
I think the issue is that all the docs are using postcss and there's nohting on how to use it from sass or less etc

[2016-01-02 17:45] peterramsing commented on #197
@Keats I hear you. There should be a way to make it clearer for those using preprocessors as this has come up several times.

In theory, there shouldn't be any special docs needed for preprocessors like Sass or LESS. The properties should be treated like `margin-right` might. The preprocessor passes it along without any care. So just like `margin` or `padding` doesn't care about the preprocessor n

[2016-01-02 17:59] Keats commented on #197
From my point of view, not sure about @wellapex :
I'm currently looking for a grid for an app and I've looked at Susy, Foundation for apps and ended up on this one. Since I don't use postcss (well apart from autoprefixer), I don't really know how it would fit in my build, ie i'm guessing i need to put a gulp-postcss call somewhere but having how to use at the top of the README would be nice

[2016-01-02 18:47] peterramsing commented on #197
You're totally right about getting something at the top of the README.md. Since inheriting this project last week I'm tying to prioritize what things to do and when. Documentation is coming soon but just not quite yet. This [doc](https://github.com/peterramsing/lost/wiki/Installation) is going to be replaced soon but might help.

I also have a [testing project](https://github.com/peterramsing/lost

[2016-01-02 19:01] corysimmons commented on #195
Sounds good. :+1:

[2016-01-02 19:05] corysimmons commented on #197
@peterramsing It might be a good idea to create a few different repos:
- `lost-css-example`
- `lost-scss-example`
- `lost-sass-example`
- `lost-less-example`
- `lost-stylus-example`

And just make them as barebones as possible demos. Then you can link to them in the README as well as on the future website, as well as in these Issues.

It'd also be nice to have just to confirm Lost works in all the

[2016-01-02 19:08] Keats commented on #197
Completely missed the Installation link in the readme as it's part of the table of content but is actually a link

[2016-01-02 20:52] peterramsing commented on #197
@Keats Would you mind creating a [Gist](https://gist.github.com) and copy the raw [README.md](https://raw.githubusercontent.com/peterramsing/lost/master/README.md) in there and somehow identify anything that is confusing to you? You're more than welcome to explain exactly what is confusing but even if you just identify areas that don't make sense that would be amazing! I'll take that to help write

[2016-01-03 02:23] peterramsing opened #220 "Definition of the Cycle Rule"
This is a placeholder discussion from issue #187 regarding the continued definition of the cycle rule.

[2016-01-03 02:53] peterramsing opened #221 "Update the docs to reflect how lost-move doesn't retain the gutter from lost-column"
See #219 #195

[2016-01-03 13:15] Keats commented on #197
I'll do that next week but from a quick look the readme seems to be doing the job of a website, ie something like http://neat.bourbon.io/examples/
Another really cool thing to do (if there is time) is examples like http://foundation.zurb.com/apps/page-templates.html

[2016-01-03 18:47] peterramsing commented on #197
@Keats You're reading my mind. I'm currently looking for the best option for creating the docs. I'm hoping to have them out of the README soon. There is currently a [page](http://peterramsing.github.io/lost/) that has some examples but there is no documentation that goes with it. This is also coming soon. Not enough time in the day, I suppose.

[2016-01-03 18:47] peterramsing commented on #197
@Keats And thanks for your help!

[2016-01-03 21:47] qasimalyas commented on #194
@peterramsing i'd love to help - i just need to figure out a good schedule and make sure I have enough availability to spend time on this.

@corysimmons I can't vouch for how well the calc polyfill works, especially for responsive breakpoints but in principle - removing `zoom: 1` shouldn't present any layout issues. It should be ok to remove.

Will provide some details on availability to remove `z

[2016-01-03 22:10] peterramsing commented on #194
Sounds good. It might be rather simple, too. I think this might pair nicely with a 7.0.0 release.

[2016-01-04 03:30] corysimmons commented on #194
Should literally just be removing these instances of `*zoom: 1`: https://github.com/peterramsing/lost/search?utf8=%E2%9C%93&q=zoom

[2016-01-04 05:32] peterramsing commented on #194
@corysimmons I was thinking it was that simple but didn't know for sure. Not to steal your thunder @qasimalyas, but I ended up snagging this one. #222 There is a lot of other things to code if you want, though. Just take a look at the issues and milestones. :smile:

[2016-01-04 05:32] #194 closed, assigned to nobody

[2016-01-04 05:46] #221 closed, assigned to peterramsing

[2016-01-04 14:25] peterramsing opened #224 "Create separate docs site and update all documentation"
I believe that it is time to get some more comprehensive docs and to the majority of it out of the README. I'm still looking into the best way to do this. Any thoughts on frameworks or options. I'm slightly opposed to the Wiki in leu of something like [Neat's docs](http://thoughtbot.github.io/neat-docs/latest/).

**More updates to come to this issue.**

[2016-01-04 15:50] mindreframer commented on #224
static documentation generation:

  Daux:
    http://daux.io/
    http://daux.io/Features

  Readme.io
    https://readme.io/ (free for OSS)

  Also you might take inspiration from living styleguides:
     - http://styleguides.io/ (plenty of articles, pick only few...)

Cheers!

[2016-01-04 15:55] peterramsing commented on #224
@mindreframer Awesome links. Thanks!

[2016-01-04 18:50] corysimmons commented on #224
Sucks that readme.io cost money. Added "Create open-source/free themeable doc generator" to my todo list...

[2016-01-04 18:53] peterramsing commented on #224
[readme.io](https://readme.io) doesn't have to cost: https://readme.readme.io/docs/open-source

[2016-01-04 23:35] corysimmons commented on #224
Oh! Hid that down there didn't they?

Nice! *crosses that off his list*

[2016-01-05 06:02] peterramsing opened #225 "Add a gotchas section to README"
- box-sizing: border-box;

[2016-01-05 06:34] #225 closed, assigned to peterramsing

[2016-01-05 09:37] MartinDM commented on #204
Adding a width to a row will work if the columns aren't working on their own yes; also reducing the margin on the left element. Thanks.

[2016-01-05 09:37] #204 closed, assigned to nobody

[2016-01-05 10:05] mindreframer commented on #224
Had also to look twice there, hehe... )):

Am 5. Januar 2016, um 00:35, Cory Simmons notifications@github.com schrieb:

Oh! Hid that down there didn't they?

Nice! _crosses that off his list_

—
Reply to this email directly or view it on GitHub.￼

[2016-01-05 11:19] Keats commented on #197
I'll just comment here rather than making a gist:
- Installation in table of contents is a link to the wiki, not a part of the README like you would expect. How to use with gulp/grunt and sass/stylus/less/etc would be better imo
- I don't find comparison tables useful if you need to click to see what the author meant for a row and a paragraph is usually better imo, comparing like that always feel

[2016-01-05 14:03] janhartmann opened #228 "Is Lost production ready?"
Hi,

I've been lurking a lot on Lost lately. Currently writing a bigger application in the health sector and I would like to switch out my currently grid system, Jeet.

My question is if Lost is production ready, and the polyfills like html5shiv.js, respond.js, border-box is enough for IE8 and upwards?

I assume there is "no problems" in FF, Chrome etc.

Thanks a lot!
Jan

[2016-01-05 17:12] corysimmons commented on #228
Yup. Lost is being used on laracasts.com right now and probably some other big sites I'm unaware of.

And yup, it's IE8+ as long as you use the correct polyfills and such. I've compiled most of them here: https://github.com/corysimmons/boy

Boy still needs a few tweaks here and there and the libraries all need updated, but you can get a good idea from it (or even use it and PR to fix any little is

[2016-01-05 17:12] #228 closed, assigned to nobody

[2016-01-05 17:14] janhartmann commented on #228
Sure thing, thanks a lot. Just finished setting up Lost with Gulp, Sass, Autoprefixer and source maps.

Going to play around with it, and if I run into something I'll let you guys know. :)

[2016-01-05 18:43] corysimmons commented on #228
Awesome. Hope you like it. :^)

[2016-01-05 20:48] peterramsing commented on #228
@janhartmann Certainly let us know if you run into anything. Being the web, there are always things that can be improved upon and I'm trying to get a long-term support roadmap in place to ensure patches, etc are supported into the future even if the main trunk progresses. Feel free to follow [@lostgrid](https://twitter.com/lostgrid) as I'll be posting there on versions, features, etc.

[2016-01-06 05:19] peterramsing commented on #197
@Keats This is helpful to know were some of the major pain-points are. Thanks for taking the time to note them here! Really appreciate it!

[2016-01-07 06:00] corysimmons commented on #228
Cool Twitter bro! :dancers:

[2016-01-08 04:10] digitalmaster opened #229 "Cycle not automatically being set to denominator"
I have this weird issue where the cycle isn't being set automatically.

Without manually setting cycle:
`lost-column: 1/2;`
![image](https://cloud.githubusercontent.com/assets/1279335/12190162/6ec9a218-b57a-11e5-88f5-a87ec222ef45.png)

Manually setting cycle:

[code]

![image](https://cloud.githubusercontent.com/assets/1279335/12190175/97b90646-b57a-11e5-8cfd-83ab7120223e.png)

FYI: I'm using webp

[2016-01-08 05:36] corysimmons commented on #229
Can you provide the generated CSS with that bare bones example (just for the broken one)?

[2016-01-08 06:01] peterramsing commented on #205
This was resolved in #227

[2016-01-08 06:01] #205 closed, assigned to peterramsing

[2016-01-08 20:32] digitalmaster commented on #229
[code]

[2016-01-09 00:46] digitalmaster commented on #229
I just noticed the `undefinedn`.. That's obviously the reason. Question now is just why.

[2016-01-09 01:11] peterramsing commented on #229
@digitalmaster What pre-processor are you using?

It looks like your pre-processor might be doing the division of `lost-column: 1/2` and is making it `lost-column: 0.5`. Thus, lost-cycle doesn't have a denominator to reference. I've heard there might be some issues with Less regarding this.

[2016-01-09 01:21] peterramsing commented on #229
I just tested this with Less and got the issue you're experiencing. [Less Docs](http://lesscss.org/features/#features-overview-feature-operations)

I'm going to add this to the [Gotchas](https://github.com/peterramsing/lost#gotchas).

This should get you sorted nicely.

[code]

[More Reading](https://github.com/less/less.js/issues/974)

[2016-01-09 02:22] corysimmons opened #230 "Replace back to top arrows"
:arrow_up:

[2016-01-09 03:07] #230 closed, assigned to nobody

[2016-01-09 04:22] corysimmons commented on #230
:+1:

[2016-01-09 04:26] corysimmons commented on #229
https://github.com/peterramsing/lost/issues/178#issuecomment-170194289

[2016-01-09 06:38] peterramsing commented on #230
It's the little things. :smile:

[2016-01-09 18:52] #229 closed, assigned to nobody

[2016-01-10 04:39] sdale-fevo commented on #197
Hi,
We're having a similar issue as @wellapex, I think.. but I don't think it has anything to do with flexbox, but indeed - the preprocessor.

We're using Gulp, which processes .less, then PostCSS, which we added to experiment with Lost.

When trying to use global Lost vars, like :

[code]

Here's my Gulp output:

[code]

I found this [closed issue](https://github.com/peterramsing/lost/issues/178)

[2016-01-10 05:37] corysimmons commented on #197
Seems like LESS tries to parse all at-rules even though it seems like it's against the [W3C spec](http://www.w3.org/TR/css-syntax-3/#at-rule)...

Opened an Issue with them. Maybe there's a way to escape it so PostCSS can do its thing.

In the meantime, might I suggest one of these fine preprocessors?

:point_right: http://stylus-lang.com
:point_right: http://sass-lang.com

[2016-01-10 06:56] sdale-fevo commented on #197
Thanks for the quick reply @corysimmons
Ok, just wanted to make sure I wasn't missing anything.

I prefer SASS as well. However, our build system has some things that rely on LESS and it's a switch our team is hesitant atm: we have an upcoming product launch and tons to do still.

Til then, I'd like to continue exploring. Do I lose any abilities if I don't use global vars and declare `flex` , `gut

[2016-01-10 08:09] corysimmons commented on #197
@sdale-fevo Here ya go:

[code]

It will produce:

[code]

Let me know if that works and we can add it to the Gotchas.

[2016-01-10 18:16] sdale-fevo commented on #197
Sweet, that worked!
Now on to the good stuff...

Thanks for quick reply.

[2016-01-10 19:00] corysimmons commented on #197
@peterramsing Could you add that to the gotchas then this can be closed?

[2016-01-10 19:56] sdale-fevo opened #231 "Codepen Not Updating?"
Hi,

Getting some weirdness. Not sure where the problem is.
I'm playing around with Lost Grid on Codepen.
I'm trying to understand the differences and effects of float vs flexbox.

I started in Chrome, with a flexbox grid, then converted that to float : http://codepen.io/sdale/pen/mVwbPb?editors=110

First, in attached screencap video, you can see by adding, removing whitespace, the layout breaks?

[2016-01-10 19:57] sdale-fevo commented on #231
Also, the layout itself is now broken, not sure why - before it was working..
hmm

[2016-01-10 20:48] sdale-fevo commented on #224
Great to hear. Understanding the diff use cases of what syntax, goes with what will be really helpful
Like:
--- float vs flexbox
--- global vs inline vars
--- what's optional, what's required, what's default

The Neat docs are a good example, but the complexity of a grid always comes from trying to figure out what are diff techniques to make "your" layout, beyond the documentation examples. Bc of

[2016-01-10 21:29] corysimmons commented on #224
Jeffrey Way made Laracasts.com with Lost and did a tutorial on it: https://laracasts.com/series/modern-css-workflow/episodes/2

It'd be nice to keep a Wiki of these CodePens, video tutorials, etc. at least until there is an official site or something (just to start rounding them up).

[2016-01-10 22:19] janwirth commented on #224
I think it makes sense to use a stylesheet that is forked from github's. Everyone is used to reading the code and text here so it would be good for the sake of consistency.

A more complex wiki / docs software makes sense in terms of navigation and information retrieval, but consider that a world-writable wiki would decrease the threshold for people that want to contribute :)

A hybrid solution mi

[2016-01-11 03:46] peterramsing commented on #231
@sdale-fevo Since taking over Lost I haven't checked into the CodePen integration. **I'll look into this.**

@corysimmons Any thoughts as I've not dealt with a plug in with CodePen?

[2016-01-11 04:05] #197 closed, assigned to nobody

[2016-01-11 06:08] corysimmons commented on #231
Seems like CodePen is just hanging. Tinker around with formatting (fixed it for me). Drop `.quarter` and `.half` rules down to their own lines and properly indent everything (what nerd told you 1 declaration blocks get their own line anyway?).

[code]

[2016-01-11 06:09] corysimmons commented on #231
I think this can be closed. I haven't experienced anything like this when using proper indentation on CodePen. I think it's probably just a glitch in their massive frontend JS codebase. Let us know if you encounter something like this in PostCSS (even if it is one liners).

[2016-01-11 17:47] peterramsing commented on #231
This might be a CodePen issue but I do want to see if there is something that needs updating. Thanks for pointing this out @sdale-fevo. I'll see if I can get some testing time in early this week.

[2016-01-11 18:03] peterramsing commented on #231
Regarding the one liner declarations. Before we had all these fancy CSS compression tools in our builds I remember many one-liners. They do get a bit hairy when the codebase grows so they might not be best practice as much. But back in the day they were all over. If a codebase is older than 4 years I'd bet you they are in there. :smile:

[2016-01-11 18:40] digitalmaster commented on #229
Yup.. Makes sense. That did it. Thanks

[2016-01-11 18:53] peterramsing commented on #229
@digitalmaster Thanks for bringing it up! I don't use Less as much as I used to these days so it's great to hear from users. :+1:

[2016-01-11 19:10] corysimmons commented on #231
Not my codebases. I always write perfect code. 👀

[2016-01-11 19:11] corysimmons commented on #229
I think LESS might introduce a `literal(...)` function sooner than later just to avoid all these Issues.

[2016-01-11 19:34] edriang opened #232 "Support with crosswalk-project"
I wanted to know compatibility / support of lost grid used with crosswalk browser.

This browser is mainly used with apache cordova apps, so it would be very interesting to know how well supported is in this platform.

Thanks

[2016-01-11 19:35] edriang commented on #232
https://crosswalk-project.org/

[2016-01-12 03:44] peterramsing commented on #232
@edriang I haven't used it but will look into it. Thanks for the question!

[2016-01-12 12:40] edriang commented on #232
@peterramsing thanks for your reply. I couldn't wait and have tested lost-gh-pages demo page examples, and everything looked great!, So I think that cordova with crosswalk is a good target for lost grid to ensure same functionalities across different platforms!! Let me know if you do some more advanced tests with lostgrid and cordova.

[2016-01-13 01:35] corysimmons commented on #232
Awesome! :D

[2016-01-13 01:36] corysimmons commented on #232
Seems like it works. Closeable imo

[2016-01-13 05:11] eybarta opened #233 "lost-align issue"
Thx for all your work, very refreshing using this grid and thx Peter for maintaining!

I'm not sure if I'm doing something wrong.. but using `lost-align` on a parent seems to give the `justify-content` and `align-items` properties to the children instead of the parent resulting in incorrect behavior.. I looked @ lost/lib/lost-align.js and it seems the conditional styles are always given to '  > \*

[2016-01-13 16:42] peterramsing commented on #232
That sounds promising @edriang. I'm going to leave this issue open for now as a reminder to process how Lost should say it supports libraries like this.

[2016-01-13 16:45] peterramsing commented on #233
@eybarta I might be misunderstanding this but it looks to be this works as expected. `lost-align` is intended to align the child elements. See here: [lost-align](https://github.com/peterramsing/lost#lost-align)

Please let me know if this I'm not understanding this correctly. Maybe some of the code you're working with? Thanks!

[2016-01-13 17:50] corysimmons commented on #233
Crap, I think @eybarta is right. `justify-content` and `align-items` should be applied to the parent container instead of `> *`.

`lost-align` is broken when used with global flexbox or the `flex` param.

[2016-01-13 18:48] afaayerhan opened #234 "fallback to Flexbox when calc is not supported on Android"
this is basically a question. can one just do a build time step to have compilation of multiple stylesheet to serve it based on user agent. so if calc is not supported will just change grid system to use flexbox. would it be just @lost flexbox flex; ?

[2016-01-13 19:25] peterramsing commented on #233
Will look into this tonight.

[2016-01-13 22:32] corysimmons commented on #234
Lost won't even work in Flexbox without calc. View compiled: http://codepen.io/corysimmons/pen/bErLxe?editors=010

I'm also not sure how we'd have a build time step to compile it based off of what user agent someone else is using.

Theoretically we could make it so you could set a setting in Lost like `@lost old-android true;` and it'd compile percentage based columns/gutters. But at that point, y

[2016-01-13 23:40] adrian2x commented on #233
I just noticed this too. I thing @eybarta is right too. Unlike the position-based alignment, the flex alignment properties should be applied on the container element, because they specify how a flex element arranges its items. The way that it is implemented right now, it will apply these properties (`justify-content` and `align-items`) to the actual children, which will make them in turn flex cont

[2016-01-14 04:54] corysimmons commented on #233
:tada:

[2016-01-14 06:42] peterramsing commented on #234
I'm with @corysimmons on this one. I think that this is a bit outside of the scope of Lost.

Are you needing to support IE 8 and old versions of Android? [Caniuse for reference](http://caniuse.com/#search=calc)

I'm always a fan of finding the right tool and one of those other grids might be the more suitable option as opposed to Lost. If this does need to be a feature let's chat, though!

[2016-01-14 06:46] peterramsing commented on #224
@sdale-fevo A bit late in responding, but those are great! Those will certainly be captured in documentation.

@FranzSkuffka Good thoughts. Will definitely consider that!

[2016-01-14 07:11] corysimmons commented on #224
Anyone working on this? If not, I have some bandwidth next week.

[2016-01-14 07:17] peterramsing opened #237 "Setup a standard way to write Lost with Linting/Documentation"
Open for discussion but I think this would be a great direction to help ensure the maintainability of the codebase.

[StandardJS](https://github.com/feross/standard)

[2016-01-14 07:21] corysimmons commented on #237
Let's do it. :^)

/discussion

[2016-01-14 07:25] peterramsing commented on #237
Ps: thanks for the recommendation @adrianca

[2016-01-14 10:56] eybarta commented on #233
glad this is being addressed
thanks guys :+1:

[2016-01-14 13:18] wyze commented on #237
In case you are a fan of semicolons, there is [Semistandard](https://github.com/Flet/semistandard).

Lost is currently using semicolons, so I thought I would just toss this out there.

[2016-01-14 16:02] corysimmons commented on #237
Wtf Standardjs doesn't support semi-colons? Why add that in by default? Ugh, I'll research this a bit but I'm so used to semi-colons and pretty sure everyone else in the world is. This might be one of those better-but-unnecessary changes that just throws everyone off a bit. :\

[2016-01-14 16:28] corysimmons commented on #237
After about 20 mins of research, https://github.com/twbs/bootstrap/issues/3057#issuecomment-5137415 kinda sums up my feelings on this.

This semi-colonless business got me thinking about how much I like Python and Stylus though...

Anyone else think CoffeeScript is a good idea (I'd love to learn it) or would we be closing the door on a lot of potential contributors? Is CoffeeScript even a thing an

[2016-01-14 16:57] wyze commented on #237
CoffeeScript would be closing the door on potential contributors. I believe it is on it's way out. It was all the rage a few years ago but now ES2015 (ES6) is the new rage and has gained a bunch of steam over the past year due to Babel.

[2016-01-14 17:26] peterramsing commented on #237
I'm not stuck on any tool in particular. I personally am a fan of the `;` but am more of a fan of standards. I don't think that CoffeeScript is the right direction and I'm not sure if ES2015 is where Lost should go just yet.

I think that @adrianca makes a good point about having a standard. I've noticed that different parts of Lost are written in different ways and I'd love to make Lost easier to

[2016-01-14 17:27] adrian2x commented on #237
I also agree that CoffeeScript is on its way out. It's not standard, not well adopted, not everyone knows it... ES6 is the new standard, and moreover, JS will have a new update every year! So in terms of support, and adopting new features, ES6 seems like the way to go! Since **lost** runs on top of node, the latest version could use whatever ES6 features have been implemented by default on latest

[2016-01-14 17:38] peterramsing commented on #224
@corysimmons Are you still thinking of working on the website?

I did get an account on [Readme.io](https://readme.io/) approved for Open Source. I think that I'd like to start working on that for documentation of the API. I can give you access to that if you'd like.

Also, @corysimmons Are you still thinking of making a project for that grid-comparison? We could put that in the Lost Grid organiza

[2016-01-14 17:50] peterramsing opened #238 "Moving Lost to LostGrid organization"
@corysimmons transitioned this repo to me last month to maintain and since then I've created an [organization](https://github.com/lostgrid). As this is a community project and not a personal project this project should probably move to that organization but before moving the repo a second time in as many months I wanted to get feedback from the community.

**Any objections?**
**Any thoughts?**
**A

[2016-01-14 18:27] corysimmons commented on #237
Okay I'll forget CoffeeScript (my indentation! :sob:) and start familiarizing myself with ES6.

@adrianca rule about matching Lost's ES6 with LTS Node's ES6 features seems pretty sound.

I vote for Semistandard and Node-friendly ES6.

[2016-01-14 18:32] corysimmons commented on #224
I'd prefer to avoid readme.io just because I'd want a better theme than what they offer, and I'm not sure how they store docs. They aren't very clear about what features their open source plan includes, and to that point, I don't see a reason in letting any system tie down our docs in any way, shape, or form.

readme.io and projects like it are cool if you're too busy/lazy to make real docs, but I

[2016-01-14 18:36] corysimmons commented on #238
As long as it's the final move I think it's alright to move it one more time.

I think it's good for branding purposes and gives us a place to organize all of our Lost-related projects (syntax highlighters, website, various sample integrations, etc.).

/$.02

[2016-01-14 18:38] peterramsing commented on #224
Per @corysimmons and I's quick email conversation about this: I'm all for that. Readme.io was just an option among many! I like the idea of a Jekyll solution as you mentioned in the email. I wouldn't say I'm too lazy/busy just wanting to make the right decision. Readme.io does look to be a way to make really great docs but keeping it all in the project is very appealing as well.

[2016-01-14 18:55] wyze commented on #238
I think it would be a good move as long as there is more than just the grid that lives under the org.

You already have one project under there and Cory suggested a few more that can be added, so I say go for it.

[2016-01-14 18:59] peterramsing commented on #238
@wyze Are you saying I can't put my new Grid called **Found** there? :wink:

I'll probably do this over the weekend pending any blocking comments.

[2016-01-14 19:08] peterramsing commented on #237
:+1:  to @corysimmons

[2016-01-14 19:13] corysimmons commented on #238
Soooooo I have a question. I'm thinking of reworking Typographic and making an **insanely awesome UI kit to end all UI kits**. All of these tools would play really nicely together.

Anyone interested in making a more abstract organization name to put all this stuff in? Or should we just keep it all separate?

[2016-01-14 19:25] corysimmons commented on #237
@wyze @adrianca Happen to know of any particularly good resources to learn ES6?

[2016-01-14 19:28] adrian2x commented on #237
@corysimmons This is a good one to get started http://es6-features.org/#Constants

[2016-01-14 19:36] peterramsing commented on #238
I'm down for making it more global.

[2016-01-14 19:37] wyze commented on #237
@corysimmons I learned from the Babel website. But, this seems to have a ton of stuff though: https://github.com/ericdouglas/ES6-Learning

As always, you can DM me on Twitter for questions or help. :)

[2016-01-14 19:42] corysimmons commented on #238
Something like what these dudes do https://github.com/at-import except maybe our theme be PostCSS?

http://github.com/postup is avail?

[2016-01-14 19:43] corysimmons commented on #237
Thanks guys! :D

@wyze I don't have Twitter anymore. I'm trying to unplug from the matrix. :neckbeard:

[2016-01-14 21:13] adrian2x opened #239 "Simple grid layout"
@corysimmons @peterramsing Wondering how I can achieve the following layout using lost:

[code]

I have some markup that sets the container element, and `1` has `lost-column: 1`, and each of `2`, `3`, `4` and `5` have `lost-column: 1/2` but they show up on top of each other because of the `margin-right`. Is there any property that I can use to tell lost that I want no `margin-right` after `3` and

[2016-01-14 21:44] corysimmons commented on #239
There's no Lost property for that yet. We could probably make one with some nth-child hackery. Like `lost-column: 1/2; lost-cycle-after: 1;` but I wonder how far Lost's scope should go? This has came up a couple times so it might be worth talking about.

In the meantime, if you only need 3 elements in there, you can do this: http://codepen.io/corysimmons/pen/MKvNBY?editors=110

Here's what the CSS

[2016-01-14 21:49] corysimmons commented on #239
^ I may have gone a bit crazy with the labels. :X

[2016-01-14 22:18] peterramsing commented on #239
@corysimmons I think you might be looking for the `component: lost-core` label. :wink:

*edit: now that I'm thinking about it, all those labels are accurate and `lost-core` isn't really. Maybe we need a `lost-lots` label? :dancer:

[2016-01-14 22:33] adrian2x commented on #239
So after playing with your example, I can see that by tweaking `cycle` I can tweak margins in between the elements. That is a great concept!

Now, let's say I do `lost-column: 6/12 2`. This would result in something like

[code]

but I have no control over the **b** parameter in the `an + b` expression of the `:nth-child` selector, because `cycle` controls only the **n** param.

I think that if `c

[2016-01-15 07:08] corysimmons commented on #239
@adrianca That's the general concept but the nth-child selector is confusing in practice. Which makes more sense at first glance?

[code]

or

[code]

That said, `lost-nth-child` would be **infinitely** more flexible than `lost-cycle-after` (and slightly harder to implement but still possible I think).

[2016-01-15 07:40] adrian2x commented on #239
So the way Im thinking about it, is that `cycle` is a pretty advanced concept. Like, for power users. Most beginners coming to **lost** are probably going to want an easy grid out of the box, ready to go. But for those who are going to want to use `cycle` to customize their grids, is going to make more sense to explain it in terms of
"This feature allows you to control the margin on the `nth-child

[2016-01-15 07:44] adrian2x commented on #239
The difficulty regarding implementation would be parsing the value expressions, but it shouldn't be too much of a big deal with some regex magic ;)

[2016-01-15 16:13] corysimmons commented on #239
Okay, so forget `lost-nth-child` and instead just convert the `cycle` param (and rule, e.g. `lost-column-cycle`) to an `nth-child` expression?

I like this idea.

We'd need to wrap the shorthand `cycle` in parens. So a rule might look like `lost-column: 1/2 (2n + 1);`. For the longhand we could exclude the parens: `lost-column-cycle: 2n +1;`.

Catching that arg and using regex is what I was thinki

[2016-01-15 16:19] corysimmons commented on #239
And what about people who want to use `nth-of-type`, `nth-last-child`, etc., etc., etc.?

[code]

[code]

?

If we're going to do something like this, I reeeeally think we should reconsider even offering shorthand as it's not explicit _at all_.

[2016-01-15 16:26] corysimmons commented on #239
I can't remember why I added in `clear: left;` on https://github.com/peterramsing/lost/blob/master/lib/lost-column.js#L131-L133 but if we can get rid of it, these implementations would be easy.

I feel like there was a legit reason for it though... I just can't remember. Too bad I don't write good commit messages. :^(

Update: I remember why I added it. I wanted rows to clear each other in this we

[2016-01-15 19:32] adrian2x commented on #239
Yeah I originally meant to include the expression inside the shorthand `cycle` on `lost-column` but you make a good point in saying

So I agree with you that maybe dropping the shorthand would be ideal, in favor of more advanced properties that allow for more customization. More explicit, more readable, and more powerful. :+1:

[2016-01-17 22:45] peterramsing commented on #239
Sorry to be so  out of the loop on this. Got sick and am just cracking the laptop today. This conversation is awesome, though.

@corysimmons Already said it, but to second the motion that there are other `nth-*` properties. Even [PR #216](https://github.com/peterramsing/lost/pull/216) from @zgreen regarding this.

@adrianca You made a great point about there being super users and users that want s

[2016-01-17 23:01] peterramsing commented on #238
In laying in bed sick these last few days I've pondered this a bit. I think I'm going to leave Lost in my name for the time being and move it over at a point release.

Regarding the organization name, I'm thinking _something like_  **Lost Tools** might be cool, letting **Lost** be the foundation of that. Possible addons could be:
- Lost Advanced Grid
- Lost Typographic
- Lost UI
- Lost PostCSS Sta

[2016-01-18 00:13] jrmyio opened #240 "Support for static columns?"
I am comparing susy and lost to find out which has the most support for edge cases. Is it true that lost doesn't support any sort static/hybrid approach?

Let's say I want to stack four columns as following:

50px  |   1/3rd(-50px)   |   1/3rd(-50px)  |   1/3rd(-50px)

Is there any way to do this with lost?

[2016-01-18 01:00] adrian2x commented on #239
@peterramsing agreed!
Also another question, what about `space-around` and `space-between` flex alignment? It looks like right now those are not supported?

[2016-01-18 01:08] peterramsing commented on #240
Currently, there isn't a way to do this natively, no. Double check me on this @corysimmons. The way that I have done this is to separate out the fixed column outside of a container. Here's what I do for this:

[code]

[code]

[2016-01-18 01:10] #234 closed, assigned to nobody

[2016-01-18 01:12] custa1200 commented on #238
## Could always call the entity “Flight815”, the flight that was at the centre of the TV series Lost :)

Mark Johnston

[2016-01-18 01:17] peterramsing commented on #238
@custa1200 I've actually never seen the show but really like that idea. (a bit of an aviation nerd)

I think that I would like to keep the word "Lost" in it for branding but I like that direction. Anything aviation will get me excited!

[2016-01-18 01:17] peterramsing commented on #239
Another needed feature/enhancement for sure.

[2016-01-18 01:19] adrian2x commented on #239
@peterramsing Just wanted to confirm that it wasn't implemented yet.
I'm taking a crack at it.

[2016-01-18 01:23] peterramsing commented on #239
@adrianca Code machine. I really need to get some more roadmap/7.0.0 definition done **soon**!

[2016-01-18 01:31] peterramsing commented on #239
@adrianca That being said–I want to make sure that we don't bite off more than we can chew with 7.0.0. I think that the more features the merrier, but do you have any gut feelings that this should wait till later? Maybe we do make 7.0.0 a huge release with all these features.

[2016-01-18 03:03] adrian2x commented on #239
@peterramsing It's done now. I added it to PR 241.
This should enable for all possible flex box-based alignment and combinations, so I believe this property should be pretty much done?

[2016-01-18 05:46] corysimmons commented on #240
@ConneXNL Lost doesn't currently support any static/hybrid approach.

We could add this in. I'm just curious what the [syntax](https://i.imgur.com/DNkCkbw.png) would look like, especially as we supported more and more edge cases.

[2016-01-18 05:51] corysimmons commented on #234
@afaayerhan Theoretically, you could have a Gulp task that compiled 2 stylesheets. One without flexbox, the other with flexbox.

Then use Modernizr to detect calc support.

If no calc support, then load the flexbox stylesheet.

[code]

I haven't tested this but I'm pretty sure it'd work.

[2016-01-18 06:03] corysimmons commented on #238
I dunno about branding everything as "Lost". Lost is pretty heavily associated with the grid itself and would overshadow any other tools.

Lost Typographic, etc., just sound weird to me. Maybe I'm too close to the tools to have a good opinion on this.

I think branding everything Lost could work if the organization was primarily focused around the grid:
- github.com/lostgrid/lost
- github.com/lost

[2016-01-18 10:00] custa1200 commented on #234
## Surely flexbox is not available on any browser that doesn’t support calc?

Mark Johnston

[2016-01-18 10:40] danieljarosz commented on #240
Just Great!, So what to do now? I create 2 column layout with left static column, right column have content with grid.

 lost-column: 1/3;
 lost-column-cycle: 4;

But in 9 item on grid cycle has broken.

[2016-01-18 11:58] corysimmons commented on #234
- http://caniuse.com/#feat=flexbox
- http://caniuse.com/#feat=calc

In particular, old android. That Modernizr solution should work though.

[2016-01-18 12:02] corysimmons commented on #240
@danieljarosz Does this work for your needs? http://codepen.io/corysimmons/pen/yePNmb?editors=110

Left column isn't static.

Sorry guys, to be honest I just haven't used static columns in years and didn't even realize it was still a thing.

Here it is with static: http://codepen.io/corysimmons/pen/KVydKa?editors=110

[2016-01-18 12:42] custa1200 commented on #234
Says it's old flexbox which I assume is not supported by lost anyways?

Sent from my iPhone

[2016-01-18 12:57] corysimmons commented on #234
Old flexbox is supported. Autoprefixer makes flexbox syntaxes a worry of the past.

[2016-01-18 17:17] corysimmons commented on #224
Actually @peterramsing I think I'm gonna get out of your hair over here and work on some other things. I'll be around to help out people in Issues and with anything else you might need.

Feel free to implement the readme.io docs. I think they'll look great and work wonderfully. =)

[2016-01-18 21:34] afaayerhan commented on #234
thanks. @corysimmons would go with the modernizr solution.

[2016-01-20 04:29] tellaho opened #242 "Calc() function not rendering correctly for certain IE versions"
Using lost-column leads to a broken layout for IE 9,10, and 11. It appears that the columns are too wide and force the last element to break to the next row.

**Here's a comparison of what it looks like in IE 9-11 vs Chrome:**
![image](https://cloud.githubusercontent.com/assets/5141111/12439819/640978cc-bed9-11e5-981f-a95aac36c840.png)
For clarification before it comes up, the row spans across thi

[2016-01-20 04:39] tellaho commented on #242
Changed the title since it seemed a bit overzealous at first ;) Appreciate the work you guys have put into this!

[2016-01-20 05:12] peterramsing commented on #242
Interesting. I'm guessing another case of the sub-pixel rounding has come into play.

I'm going to look into this but before I do, do me a favor and see if 6.7.0 works a bit better here. https://github.com/peterramsing/lost/tree/6.7.0

Just got off of holiday so need to catch up with everything then I'll look in. Thanks for submitting the issue.

[2016-01-20 05:19] peterramsing commented on #240
@danieljarosz I think that static columns are going to haunt us for a while. The [CSS Grid Layout](https://www.w3.org/TR/css-grid-1/) might be showing some promise. Maybe this is something that we target for 7.0.0 to get a solid "fixed column" grid solution. For now though, and sadly, Lost doesn't support it.

[2016-01-20 05:19] #240 closed, assigned to nobody

[2016-01-20 05:21] peterramsing commented on #238
On my bit of a holiday, I think that I'm a bit more for focusing in on making a powerful grid. Spreading too thin is what will cause lots of holes pop up. I'm going to target this for 7.0.0 so there is a planned transition, and until then it will be under my name.

[2016-01-20 12:17] corysimmons commented on #242
Seems like cycle is messed up. http://codepen.io/corysimmons/pen/vLpEXG?editors=110

Am I missing something?

[2016-01-20 12:27] corysimmons commented on #240
It might be worth keeping this open to serve as a reminder to add this functionality?

[2016-01-20 12:28] corysimmons commented on #238
Good plan!

[2016-01-20 19:48] tellaho commented on #242
Ah! Thanks for doing that pen. It got me to recreate my project in Codepen, seeing that the issue was no longer there, and lots of head scratching.

Then I noticed the lost-column calculation looked **different** between my project and the pen.
![image](https://cloud.githubusercontent.com/assets/5141111/12460800/a7797dc0-bf59-11e5-9809-2d061c4a6cf2.png)

Further, I found that my PostCSS stack incl

[2016-01-20 19:48] #242 closed, assigned to nobody

[2016-01-20 20:37] corysimmons commented on #242
Thanks. Yeah postcss-calc isn't particularly complete for every scenario. ~~It's unfortunate that CodePen is adding in postcss-cssnext by default... I guess they're trying to let everyone experience that "PostCSS is FuTuRe CsS" meme.~~

~~I'll email their support about it since it seems silly to randomly pick a PostCSS plugin to allow...~~

**Edit** I'm an idiot. You said cssnext was in _your_ sta

[2016-01-20 21:05] corysimmons commented on #242
@taylorkmho Do you happen to have the code you were originally using and the output? As well as the new code and output? It'd be nice if we could open an issue at postcss-calc about fixing this as I'm sure a lot of people are trying to combine cssnext and Lost and banging their head against the wall.

[2016-01-22 20:54] tellaho commented on #242
Sure @corysimmons, here's a [pen](http://codepen.io/tellaho/pen/YwYGNw) showing it in action.

A solution I've come across since a couple days ago was to include _lost_ after _cssnext_ (more specifically, _postcss-calc_). You can even see the code change work out in the pen.

**HTML:**

[code]

**CSS (pre-compiled):**

[code]

**CSS (compiled):**

[code]

[2016-01-23 22:29] ghost opened #244 "Issue when adding a border to elements with lost."
I believe the issue comes from the extra pixels added from border which forces the last element to the next row.

------------------HTML-------------------------
'<section class="row">
        <div class="quarter">1</div>
        <div class="half">2</div>
        <div class="quarter">3</div>
</section>'

--------------------CSS--------------------------
.row {
    width: 100%;
  lost-utility: clea

[2016-01-23 22:34] ghost opened #245 "Issue when adding a border to elements with lost."
I believe the issue comes from the extra pixels added from border which forces the last element to the next row.

------------------HTML-------------------------
`<section class="row">`
`<div class="quarter">1</div>`
`<div class="half">2</div>`
`<div class="quarter">3</div>`
`</section>`

--------------------CSS--------------------------
.row {
    width: 100%;
  lost-utility: clearfix;
}
div {

[2016-01-23 22:34] #244 closed, assigned to nobody

[2016-01-23 23:55] corysimmons commented on #242
@taylorkmho Thanks. Is it possible to use https://github.com/postcss/postcss-calc#precision-default-5 to fix this in IE?

`precision: 2` seems to work.

[2016-01-24 00:11] corysimmons commented on #245
Does this help? http://www.paulirish.com/2012/box-sizing-border-box-ftw/

[2016-01-24 00:13] corysimmons commented on #244
In the future when adding code snippets, use the triple backtick (and even the name of the language for syntax highlighting).

[code]

[2016-01-24 00:46] ghost commented on #245
Yes... that's a pretty simple solution.

[2016-01-24 00:46] #245 closed, assigned to nobody

[2016-01-24 01:42] corysimmons commented on #245
I highly suggest you add `* { box-sizing: border-box; }` to your CSS reset to save you a million headaches in the future. =)

[2016-01-25 03:25] gwww opened #246 "lost-offset not working"
http://codepen.io/anon/pen/GoQzPd

I'm trying to have the first line as so:
  `<blank> <Heading 1> <Heading 2>`

Perhaps I don't understand offset. Lost 6.7.0; Stylus 0.53.0

Related, I have other questions. Where is the best place to ask?

[2016-01-25 03:37] peterramsing commented on #246
@gwww Try `lost-offset: -1/3;`.

See #184
Let me know if that helps.

---

Regarding the other questions, if they are lost specific, you can always just submit an issue. It sounds like they might not be "issue" related so you're more than welcome to email or tweet.
[lost@peterramsing.com](mailto:lost@peterramsing.com)
[@lostgrid](https://twitter.com/lostgrid)

[2016-01-25 03:37] #246 closed, assigned to nobody

[2016-01-25 03:45] corysimmons commented on #246
@gwww You could also do something slightly shady like http://codepen.io/corysimmons/pen/adqxmR?editors=1100

Adding some sort of `nth-rule` is being discussed for situations like this: https://github.com/peterramsing/lost/issues/239

[2016-01-25 03:46] #217 closed, assigned to nobody

[2016-01-25 03:50] corysimmons opened #247 "Add code used to create demos to the comment above each section"
It'd take about 10 minutes and would probably help anyone inspecting source on those.

[code]

[2016-01-25 03:51] corysimmons commented on #247
If the site's going up soon it might not be worth the effort though? Your call. Feel free to close. Just dropping notes. =)

[2016-01-25 03:53] peterramsing commented on #247
Thanks @corysimmons! Closing but it's certainly noted. :smile:

[2016-01-25 03:53] #247 closed, assigned to nobody

[2016-01-25 03:56] gwww commented on #246
Thank you!

I never would have guessed using -1/3... although did see that after I started looking at the source. From an API perspective, a negative value seems odd to "shift" right.

@corysimmons I considered the shady approach. Yuck :)  I moving stuff from bootstrap where there is too much mixing of style in the html so I'm overly sensitive to hacks right now.

[2016-01-25 03:58] peterramsing commented on #246
@gwww This is [changing in 7.0.0](https://github.com/peterramsing/lost/issues/184#issuecomment-174387000) :smile:

[2016-01-25 04:07] peterramsing opened #248 "Transition to "cloneAllBefore" to project"
From @adrianca

This should be added to the entire project...because it's a great way to do this!

https://github.com/adrianca/lost/blob/641a7a13ba5e395169e618b65348d8a9e162f6cf/lib/lost-align.js#L29

[code]

used:

[code]

[2016-01-25 04:08] #200 closed, assigned to peterramsing

[2016-01-25 05:09] corysimmons commented on #247
:+1:

[2016-01-25 05:11] corysimmons commented on #248
![](https://38.media.tumblr.com/c26b20d3523d58572c00a59fabfc6650/tumblr_mtzmeqC16Z1qcga5ro1_500.gif)

[2016-01-26 02:30] corysimmons opened #249 "Remove the comparison table"
I put it up without thoroughly examining every other grid.

I studied them all but didn't thoroughly understand their pros and cons. I've been studying them all again lately and know the inner workings of all of the important ones now.

Lost is an opinionated PostCSS grid (works with any preprocessor) that saves most people typing a lot of characters and erases the need for [context](http://susydo

[2016-01-26 05:34] #249 closed, assigned to peterramsing

[2016-01-26 05:36] corysimmons commented on #249
@peterramsing Thanks =)

[2016-01-26 05:37] peterramsing commented on #249
@corysimmons I think that we should still make a tool to help people learn what each grid has to offer. :smile:

[2016-01-26 05:39] corysimmons commented on #249
Alrighty, gimme a second

[2016-01-26 06:39] peterramsing commented on #248
Closing for #251

[2016-01-26 06:39] #248 closed, assigned to peterramsing

[2016-01-26 11:21] corysimmons commented on #249
And by a second I mean 6 hours: https://corysimmons.github.io/compare.gs

I haven't browser tested it other than Chrome and haven't entered any real data, but it seems alright.

Edit these lines to add grids/features:
https://github.com/corysimmons/compare.gs/blob/gh-pages/js/main.js#L3-L15

Still a bit of work to do, but the skeleton is there and it seems pretty good (I'm sure the JS could use to

[2016-01-26 14:51] peterramsing commented on #249
You're a mad man! 💃😀 :+1:
That looks really cool!

[2016-01-27 21:42] wldcordeiro opened #252 "Perdido Grid - a translation of Lost for JSS"
I've been utilizing JSS more and more in projects and wanted to have a grid like Lost available to me, so I translated Lost over, check it out [here](https://www.npmjs.com/package/perdido)

I figured notifying the creators of Lost would be wise. :+1: :smile:

[2016-01-27 21:43] corysimmons commented on #252
Very cool! I know a few people have been asking about this! I didn't even know where to start. :+1: :100:

[2016-01-27 22:28] peterramsing commented on #252
@wldcordeiro Per our quick chat on Twitter: let's chat about how we might either integrate this into Lost or pair the two so that they remain in line and both benefit from each other. Busy in the office today so I'll circle back on this sometime tomorrow or Friday. Any thoughts welcome.

[2016-01-27 22:48] corysimmons commented on #252
I don't know if it's possible to submodule Lost into his fork. They seem like completely different codebases.

(I mean, anything's possible, but seems like it'd be a ton of work)

In the meantime it might be a good idea to keep an [Integrations page](https://github.com/mojotech/jeet/wiki/Jeet-Integrations) on the Wiki just as a reference.

[2016-01-27 22:48] corysimmons commented on #252
@wldcordeiro Why "Perdido Grid" instead of something more explicit like "JSS Lost Grid"? I suspect you'll get more users if you go with the latter (as they'll be Googling for `lost grid jss`).

[2016-01-27 23:03] wldcordeiro commented on #252
@corysimmons I felt like making a pun while naming it since it's a port/translation so I translated the name to another language. You do make a good point though.

[2016-01-27 23:04] wldcordeiro commented on #252
@corysimmons I think the only way to submodule it would be to write out a "lost-core" that only spits out some simple structure that we then manipulate in Lost and Perdido into their preferred returns.

[2016-01-27 23:07] corysimmons commented on #252
@wldcordeiro Puns are cool but no one's gonna find it (and there have been people looking for `lost grid jss`) so I might rename it early on if I were you.

I agree that it'd be nice if Lost broke stuff out into `peterramsing/lost-core` or something, but I don't see that happening anytime soon.

I wouldn't get too discouraged, even if Perdido (or whatever you wanna call it) is a few bumps behind L

[2016-01-27 23:17] wldcordeiro commented on #252
I wanted to test that search @corysimmons so I opened a private window and searched for those keywords. In Google Perdido is the #1 result, in DuckDuckGo, it's #2 after Lost itself, and in Bing it's the same as DuckDuckGo, so it looks like the searches are working. :smiley:

I'll consider changing the name still though if it's a common enough concern (getting that cool npm top level `perdido` name

[2016-01-27 23:23] peterramsing commented on #252
I've been considering what it would look like to create a lost-core since I got the project last month. So, yes, something I have been considering quite a lot and even experimenting with a little behind the scenes.

[2016-01-28 18:33] wldcordeiro commented on #252
So Perdido may be having a bit of an API split from Lost (though it may be preempting v7) as I am considering going flexbox default.

The other big consideration I've been having is since Perdido is straight JS changing the row/column fraction arguments to any value between 0 and 1 (with -1 for the reset) the only complications with this is getting the cycling right. This would make things really

[2016-01-28 21:02] nelson-rivera opened #253 "FlexBox issues in Safari 8"
When I use `lost-flex-container: row;` in a row container it won't work on Safari 8. The reason seems to be that Autoprefixer doesn't change `display: flex` to `display: -webkit-flex`, this version of Safari needs the -webkit prefix to work properly. If besides `lost-flex-container: row;` I add `display: flex` to the same container it works, because Autoprefixer catch the display and adds the pref

[2016-01-28 22:07] corysimmons commented on #253
@ai ^

[2016-01-28 22:24] peterramsing commented on #253
@nelson-rivera What's your Autoprefixer configuration? Are you specifying support for Safari 8?

[2016-01-29 03:48] corysimmons commented on #253
I think this is definitely an Autoprefixer problem.

@nelson-rivera Open an issue there please: https://github.com/postcss/autoprefixer/issues/new

[2016-01-29 05:40] peterramsing commented on #252
I think let's just see what happens. I've been hit by the need to ensure a stable piece of software here as I've continued to get feedback and experience myself the ever-changing landscape that is web-development these days. I'd love to see how we could collaborate and build off of each other but it sounds like you have some brilliant ideas and I don't want to hinder your innovation.

That isn't t

[2016-01-29 05:40] #252 closed, assigned to nobody

[2016-01-29 08:57] ai commented on #253
[Current Autoprefixer](http://autoprefixer.github.io/) adds:

[code]

Please always test CSS on online demo before issue report.

[2016-01-29 15:28] corysimmons commented on #253
@ai Ah, sorry about that.

Now that I'm re-reading his issue, he just needs to run Autoprefixer after Lost.
@nelson-rivera ^

[2016-01-29 15:28] #253 closed, assigned to nobody

[2016-01-29 17:01] nelson-rivera commented on #253
Thanks @ai and @corysimmons. My bad, running Autoprefixer after lost did the trick.

[2016-01-29 18:22] peterramsing commented on #253
:+1:

@nelson-rivera Let us know if you have any other issues!

[2016-01-30 01:23] wldcordeiro opened #254 "Possible dead code?"
I'm almost positive the else blocks to these two are some dead code/unreachable code. I've tried testing for it in Perdido and I ran Lost's test suite and you don't have coverage for it either.

https://github.com/peterramsing/lost/blob/master/lib/lost-offset.js#L74
https://github.com/peterramsing/lost/blob/master/lib/lost-offset.js#L110

[2016-01-30 01:26] wldcordeiro commented on #254
Nevermind, idiot me typed something wrong.

[2016-01-30 01:26] #254 closed, assigned to nobody

[2016-01-30 01:39] corysimmons commented on #254
:dancer:

[2016-02-02 10:30] fbid opened #255 "Masonry not working"
I was trying to use the Masonry support with no luck. I used the same syntax there is in the documentation here on github.

Example here: http://codepen.io/anon/pen/pgZdxB

[2016-02-02 16:42] gisu opened #256 "Too much Code"
I have the Issue that Lost (in a LibSass > PostCSS Pipe) generate too much Code. Lost Version: 6.7.1

[code]

Result

[code]

[2016-02-02 16:51] peterramsing commented on #256
It does look like

[code]

Could be simplified. (and for body as well)

But all of that looks correct at first glance. Are you getting unexpected results?

[2016-02-02 17:03] corysimmons commented on #256
Code bloat is an unfortunate side effect of pretty much any power grid. It's really hard to answer since the library has no idea how you're using the code. A lot of that code is put in there simply to "reset" it for things like media queries and such. (yeah you think that's bloated? wait til you add a few media queries in there)

Tbh, I haven't really found a solution to this yet. @peterramsing Yo

[2016-02-02 17:04] peterramsing commented on #255
Since taking over lost, masonry testing has been on my to-do list as I haven't done much with it. So, that being said, I don't have any answers right off the top of my head.

I do know that you do need to use a JS library like [Isotope](http://isotope.metafizzy.co/). Could you help me understand a bit more about what isn't working and I'll see what I can do.

[2016-02-02 17:08] peterramsing commented on #256
Thanks @corysimmons for the feedback. :+1:

I have been looking at how we might be able to do something to decrease the bloat but it does look like the side affect of a grid system like this.

@gisu Do you have any initial ideas about what might be removable/repetitive? :smile:

[2016-02-02 21:40] poxrud commented on #256
I'd like to add my thoughts on this... Most of the "bloat" that I see here is a result of sass nesting, not lost.
The only bloat is repeating `float:right` and `margin-right: 0`  for the same rule as @peterramsing already pointed out. With gzip enabled on the webserver the difference will be negligible.

In any case, I think it can be fixed with the following:

[code]

This probably makes the js c

[2016-02-02 21:59] gisu commented on #256
The main Issue for me the `float:right` and `margin-right: 0` - the rest is ok.

[code]

[2016-02-02 22:21] corysimmons commented on #256
Small change? Easily testable and fixable?

Perfect time for a PR boys! :dancer:

[2016-02-03 02:26] fbid commented on #255
Sorry for not being so much clear and helpful with my previous post.

I  updated the code in the codepen: http://codepen.io/anon/pen/pgZdxB

This is the issues I found so far doing some tests. I used masonry.js as plugin:
1. Using big gutter values (i.e. 100px) and with a viewport width minor than the main container width, the grid items loose responsiveness and the browser display an horizontal s

[2016-02-03 02:35] corysimmons commented on #255
Does masonry.js work with Bootstrap with 100px gutters?

Lost's masonry support effectively just uses Lost's math to make Bootstrap markup/grid style.

If masonry.js can't handle Bootstrap's grid then maybe you should find a new masonry plugin?

[2016-02-03 08:21] peterramsing commented on #256
Looks pretty solid. I'll wrap this into my code for the weekend and get this patched. Thanks @gisu for submitting the issue.

@poxrud If you want to beat me to it with a PR, you're more than welcome to.

[2016-02-03 08:30] peterramsing commented on #255
Hmm. I'll see if I can get some bandwidth on this this weekend. Work projects abound this week.

[2016-02-03 10:32] custa1200 commented on #255
I'm running a masonry layout using Isotope and it seems to be working ok.

Sent from my iPhone

[2016-02-03 11:13] fbid commented on #255
@custa1200  May you post an example of your code?

This is a codepen using Isotope plugin instead of masonry.js: http://codepen.io/anon/pen/OMoJrv

There are the same issues with the horizontal scrollbar and if you resize the preview section to about 650px, you see 1 column instead of two. I hope that helps.

[2016-02-03 17:12] poxrud commented on #256
@peterramsing done

[2016-02-03 22:47] #256 closed, assigned to peterramsing

[2016-02-05 00:35] custa1200 commented on #255
Hey,
Handlebars is:

[code]

Stylus is:

[code]

My JS for this is:

[code]

[2016-02-07 22:23] corysimmons commented on #255
@peterramsing I know I said I was taking off but the creator of masonry hooked me up with a sweet workaround I thought I'd pass on.

By removing `margin-right` completely from masonry'd elements, masonry plugins will actually pay attention to the `gutter` setting.

http://codepen.io/corysimmons/pen/eJPayv?editors=0110

This means you can probably completely get rid of Lost's support for Bootstrapp

[2016-02-08 14:29] fbid commented on #255
@corysimmons  pretty good trick!

However there's still a problem with media queries. I don't know why but for example adding:

`@media screen and (max-width:700px){
  div{
    lost-column: 1/2;
  }
}`

When applied, the divs have a margin-right equals to the gutter value, so 30px instead of 0.

I solved that adding !important to the margin like this:
`.masonry-enabled div {
  margin-right: 0 !imp

[2016-02-13 02:07] jack-guy commented on #213
+1 This was 100% my fault in not reading the documentation thoroughly first, but specifying `lost-column` with the fraction and a custom gutter not working almost made me stop using lost. I'm glad I didn't, but I think this would be a very helpful feature as far as accessibility is concerned.

[2016-02-13 10:41] hudochenkov opened #260 "Leftover float property in flexbox grid"
Example code from [Flexbox Grid](https://github.com/peterramsing/lost#flexbox-grids) section in readme add rule with float. It's a workaround for browsers which doesn't support `flex-wrap` or it's just a mistake?

Before:

[code]

After:

[code]

[2016-02-16 15:12] kfrost89 opened #261 "Global values"
I have encountered an issue with global values in lost.

Initially, when a global value is set, there seems to be no issues. However, changing or removing a global value will cause a bug. I have only tested this with the flex value.

An example:

@lost flexbox flex;

This changes all to flex. However, if I remove the global, the global value still exists. I simply cannot remove it. In some rare ca

[2016-02-17 04:55] peterramsing commented on #261
Hmm. That looks odd. Could you provide some code for us to reference?

[2016-02-17 05:00] peterramsing commented on #260
Yes, that is a work-around/feature for non-flex grids. I suppose that could be removed if flex is enabled... see #218

Is this causing any issues?

[2016-02-17 05:11] peterramsing commented on #255
Currently there is a lot of good options but the determination is to find the right one. I don't use masonry very much so I feel slightly inept. I do want to get some time with this.

@fbid is this a dealbreaker issue that needs to be sorted quickly or would you be willing to help out finding the best solution for lasting masonry support for Lost? Thanks for your patience and continued feedback on

[2016-02-17 08:35] hudochenkov commented on #260
I've tested flexbox behavior in Safari 9.0.3 on your example from #218. There is still an issue with 1px like in #218 when flexboxes are using. `float: right` doesn't fix this. The only solution I've found is using `99.999999%` for `calc()`. Probably we should test `99.99%` vs `99.999999%` in variety of browsers and see which value works best.

[2016-02-17 09:01] hudochenkov commented on #260
After I've made an PR I've remembered about `margin: auto` and flexboxes trick. If there is empty space in flexbox container `margin: auto` will push flex item on the specified side. So we can remove 1px on the right if flex item will be pushed from the left all the time. It's working like `float: right`.

[Codepen with compiled code](http://codepen.io/hudochenkov/full/XXQpZj/) after with PR #262.

[2016-02-17 21:30] kfrost89 commented on #261
I have done some more digging. Initially, the problem occurred on codepen.io. It seems as if that has been fixed. However, the issue also occurred locally.

I think I have located the issue but it does not relate to global values but media queries instead.

I suggest that I open another issue and this could be closed.

[2016-02-17 23:20] fbid commented on #255
You're welcome @peterramsing! It's not a total dealbreaker as the solution provided by @corysimmons is a very good fix, even if it needs a bit of tweaking.

At the moment I'm doing some other tests with lost/masonry and I will provide my feedback in the next few days about some other small issues I encountered.

[2016-02-18 09:56] kfrost89 opened #263 "Lost and mobile first approach"
Initially, I thought there was an issue with globals. See #261. However, it seems there is a bug when using lost and applying a mobile first approach.

Consider the following two examples:

**Not mobile first:**
http://codepen.io/kfrost89/pen/WrWBRZ

**Mobile first:**
http://codepen.io/kfrost89/pen/XXGwKG

Both outputs:
http://pastebin.com/UUwnWCQ0

The two pens should have the same output. Howeve

[2016-02-18 22:43] dacodekid commented on #261
@peterramsing I'm also facing the same issue. I'm using it with `webpack` with following config

[code]

Every time I change the global variable, it works fine. But if I comment them, then I had to restart `webpack` as the old values still exists on hot reload. I tried it both in `stylus & css`. This is my test code.

[code]

[2016-02-19 03:28] corysimmons commented on #263
Slightly cleaner examples:
- http://codepen.io/corysimmons/pen/PZvmmG?editors=1100 (mobile first with fix)
- http://codepen.io/corysimmons/pen/OMYmmb?editors=1100 (desktop first)

Seems like `lost-column` needs `height: auto; margin-bottom: 0;` added to it.

[2016-02-19 03:31] corysimmons commented on #261
I've been seeing similar behavior on CodePen.

@ai @ben-eb Do either of you know what might be wrong with this? Here is the small file where we parse at-rules for global settings: https://github.com/peterramsing/lost/blob/master/lib/lost-at-rule.js

[2016-02-19 10:33] ben-eb commented on #261
You've set settings globally so it will keep the value for the next time you use it, regardless of the atrule being there or not.

[2016-02-19 15:51] corysimmons commented on #261
Are you saying these JS vars are getting cached or something? Do you happen to know of a solution to this?

[2016-02-19 15:57] ben-eb commented on #261
Scope the options to be available for each processing step instead of globally.

[code]

[2016-02-19 16:25] corysimmons commented on #261
@ben-eb Thanks for the tip. =)

Wait, are we not doing that here? https://github.com/peterramsing/lost/blob/master/lost.js#L27-L35

[2016-02-19 17:05] ben-eb commented on #261
Setting options in the function that modifies the CSS means that the variable is only around for as long as that CSS tree is. I'm sure you will be able to reproduce the problem by processing two strings of CSS through the same PostCSS instance.

[code]

[2016-02-19 20:05] mlukaszczyk opened #264 "Can I use fixed pixel values to define the spacing between the columns?"
Hey there! Can I use fixed pixel values to define the spacing between the columns? I´m creating an image grid with quadratic tiles. I just want them to have 0px or 10px spacings.

Thanks,

Michael

[2016-02-22 13:46] marcustisater opened #265 "Gitter channel"
It would be **awesome** to have an gitter channel for the Lost plugin, I thought there used to be one?

[2016-02-23 11:09] kfrost89 commented on #265
+1. I would love to see the gitter channel back.

[2016-02-23 11:11] kfrost89 commented on #264
I am not quite sure to understand your issue. If you refer to gutter values you can set a global value or use the shorthand syntax:

lost-column: 1/x 0 0;

[2016-02-23 16:34] mlukaszczyk commented on #264
Ah thanks! I missunderstood the cycling concept. Now I got it working (: thanks!

[2016-02-23 16:34] #264 closed, assigned to nobody

[2016-02-25 04:39] Alx-l opened #266 "trouble with the flow"
Hi, first, I wanted to thank you guys for the great job on this awesome grid-system :)

Now, the facts. Let's look at this [pen](http://codepen.io/anon/pen/vGBKdG).

When I add a div above the &#60;section>'s, it messes up the order on the rows, looks like it's going backwards, or as if I had activated some rtl stuff...

Of course, if a add another div in between, to create another context, it put

[2016-02-25 15:13] corysimmons commented on #266
https://github.com/peterramsing/lost/issues/239

Lost is an "nth grid" (works with less markup than something like Bootstrap by making use of nth selectors). The problem with nth grids is you need to know how many elements are going to go into each row and can't mix/match them.

I'd suggest trying to pull the object out of the grid container: http://codepen.io/corysimmons/pen/XdrePV

Or using Lost

[2016-02-25 15:52] peterramsing commented on #266
Diddo with @corysimmons on this one. That div should probably be out of the context of the sections.

Let us know if you need anything else and thanks for taking the time to file and issue!

[2016-02-25 15:52] #266 closed, assigned to nobody

[2016-02-25 16:02] peterramsing commented on #265
When the project was transferred to me the channel went away. I've debated a Slack channel but until version 7 when Lost will transition to an organization's repo I wasn't planning on starting up a Gitter again.

There is [@lostgrid](http://twitter.com/lostgrid) on Twitter that I keep an eye on and am working to get a few more core contributors to help manage day-to-day support as my day-job keeps

[2016-02-25 16:02] #265 closed, assigned to nobody

[2016-02-25 16:09] #255 closed, assigned to peterramsing

[2016-02-25 16:17] peterramsing commented on #261
I'll take a look at this this weekend.

[2016-02-25 16:30] #232 closed, assigned to nobody

[2016-02-25 16:43] corysimmons commented on #255
I've been fighting with this problem for the past few weeks. Unfortunately, I think the best way for Lost to fully support various layout styles and such is to continue to provide lost-masonry support.

It sucks, but I haven't found another way to dump a random amount of randomly sized blocks into a container without using some negative margin hackery.

It should probably be renamed to something m

[2016-02-25 20:18] Alx-l commented on #266
Thx for the quick answer. It makes sense (the fact that I can't mix/match everything like it was friday night), so, there's nothing wrong with your grid system, I just have to be careful when setting up my grids ;)

And so true about the less bloated markup @corysimmons, actually, that is one of the main reasons I got interested in that kind of tool in the first place (I was using Foundation, whic

[2016-02-25 20:27] corysimmons commented on #266
haha, cool layout. Really shows off a lot of stuff Lost can do. =)

[2016-02-26 08:26] marcustisater commented on #265
+1 thanks

[2016-03-07 23:13] txixx opened #267 "lost-align leads grid to collapse"
Hi!
my page markup is looking like this:

[code]

And as .grid-item:

[code]

My css:

[code]

and

[code]

What I'm trying to achieve is the `<h3>` to center vertically and horizontally above the `<img>`.
What it does is collapsing the hole grid into two small columns and everything is overlapping!

![lost-collapsed](https://cloud.githubusercontent.com/assets/15063582/13586575/10f820c0-e4c2-11e5-

[2016-03-09 11:17] plauge opened #268 "[TypeError: Cannot read property 'split' of undefined]"
HI,
I've just started using PostCSS - so maybe Im the bug :-)

I'm getting this error in my terminal. If I remove lost() from the pipe(), I do not get any errors.
Only thing I found that looks as the same "bug" is this https://github.com/peterramsing/lost/issues/160 - but it did not help me.

Anybody knwo how to fix this?

Thanks!!

[code]

Here is how my dependencies looks in my package.json fil:

[2016-03-09 12:10] plauge commented on #268
I've tried to put lost() in the beginning and in the end of the pipe(). Same result.

[2016-03-09 16:44] peterramsing commented on #268
Just out of curiosity, what if you put `autoprefixer()` after `lost()`?

[2016-03-09 19:25] plauge commented on #268
Sorry - Im new to PostCSS.
After some more test, I can see that some of my SASS code not was converted correct.

BTW - very nice library! Im coming from the Susy grid.

[2016-03-09 19:25] #268 closed, assigned to peterramsing

[2016-03-09 19:27] peterramsing commented on #268
@plauge Super. Glad you got it sorted and thanks!

[2016-03-14 15:50] pixelize opened #269 "lost-center left align"
Hey guys,

I'm working on an ipad app. I need the lost center container to be aligned on the left side all the time (that mean without the margin-left: auto & margin-right: auto);

http://codepen.io/Pixelize/pen/eZdoBm

Is there any options for that please ?

Thanks in advance

[2016-03-16 16:44] Alx-l commented on #266
Hi, I have another question for you @corysimmons, @peterramsing, please take a look at this <a href="http://codepen.io/anon/pen/eZgNJz" target="_blank">pen</a>.

At first glance, everything seems alright, but let's resize the window below 760px, and the layout breaks.
Is this the expected behavior?

I came up with a mixin (strongly inspired by Lost) and here is the <a href="http://codepen.io/anon/

[2016-03-16 20:12] corysimmons commented on #266
Try out lost-masonry stuff. By default Lost uses nth-child to create grids. It's less markup but not great for masonry stuff. I added in lost-masonry to support this kind of stuff though.

Re: clearing; we were doing that. I forget if/why it got taken out.

[2016-03-16 22:39] Alx-l commented on #266
Yes, I've already looked at that masonry stuff, and it's pretty pretty cool, but I meant, with no JS :)

Too bad if you did have this clearing stuff but have left it out...

Anyway, thx again for your work :+1:

[2016-03-18 03:07] peterramsing commented on #269
@pixelize Are you meaning above the menu?

[2016-03-18 03:15] peterramsing commented on #267
@txixx I updated your comment to show how you can use ``` to open a block of code in your code comments.

Could you maybe elaborate more? I'm not fully understanding what you're trying to accomplish. Maybe a codepen?

Thanks

[2016-03-18 04:56] corysimmons commented on #266
Please at least browse the README's Table of Contents:

![image](https://cloud.githubusercontent.com/assets/224636/13868900/2ee29630-eca4-11e5-8ba6-bc15dca89cc7.png)

This isn't JavaScript. It's CSS built into Lost.

[2016-03-18 09:36] Alx-l commented on #266
No, I know, I meant "masonry", not lost-masonry ;)

[2016-03-18 16:24] corysimmons commented on #266
@peterramsing Did clearing get removed from Lost?

[2016-03-21 14:34] pixelize commented on #269
No I mean, I want to container to be aligned on the left side rather than centered.
I did a dirty trick to overwrite the rules in the css which is working, but I was wondering if there wasn't an option for that ?

Thanks for the details Peter !

![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/2931627/13921889/59cd8354-ef7a-11e5-9f2a-282de9f8c926.gif)

[2016-03-21 14:49] canvural commented on #269
You don't have to use `lost-center`. Its just for centering things.

[2016-03-22 02:11] peterramsing commented on #269
@pixelize Like @canvural said: that's not necessarily what `lost-center` is used for. However, is this because you have media queries that have it "lost-centered" on mobile and thus it is being centered on the tablet viewport? Is that the issue?

Hopefully, I'm not totally missing what you're meaning. Sorry for the continued questions instead of solid answers.

[2016-03-22 02:39] peterramsing commented on #263
Looking into this, I'm tempted to have a `lost-row: none;` rule like we have for [lost-column](https://github.com/peterramsing/lost#lost-column).

[2016-03-22 10:19] pixelize commented on #269
Thanks for taking on your time for helping me out Peter.

Alright so you just use regular CSS rules ?
I was thinking there was a mixin in LostGrid for setting max-width and padding without centering ;)

[code]

[2016-03-22 11:51] niorad opened #270 "nth-child breaks layout on iOS8"
I'm using Lost in my current project and it's great so far, except for a few quicks that happen on iOS8/Safari.

After some investigation I came across this Page:
http://stackoverflow.com/questions/26032513/ios8-safari-after-a-pushstate-the-nth-child-selectors-not-works

(This page is also referenced under "known bugs" on CanIUse)

It seems like "nth-of-type" works fine, though.
I found the nth-of

[2016-03-22 15:34] peterramsing commented on #269
@pixelize When in doubt use regular CSS. LostGrid is extremely powerful at creating grids but it also will try to avoid catching every edge case because that just leads to unmaintainable code later causing many typical use cases to be more difficult.

Since taking over LostGrid several months ago this has been my goal. If you feel that this use case might be useful for many others then we could di

[2016-03-22 15:47] peterramsing commented on #270
@niorad Thanks for the note. I'm sorry that there weren't any notes on this in the docs.

Would you mind writing a few notes here on what you found specifically or even doing a PR to the `README.md` file. Soon we'll have some new documentation but work has been pretty busy. Time will come soon. :smile:

[2016-03-22 16:27] corysimmons commented on #263
If there is something for column there should be something for row and waffle as well.

[2016-03-22 16:27] peterramsing commented on #263
@corysimmons :+1:

[2016-03-26 23:00] kyvour opened #271 "Is it possible to have gutter width relative to column width?"

[2016-03-27 00:08] kyvour opened #272 "Option for disabling nth-child styles."
There are unnecessary styles in some cases when I use only one row of lost-columns or I want to use manual handling for lost properties.

There is the simpliest example: http://codepen.io/kyvour/pen/LNLzpV
What I expect: http://codepen.io/kyvour/pen/ZWyXbw

I think that there should be some additional property/rule (flag true/false) for lost-center, for example lost-center-manual, that will work a

[2016-03-27 00:21] kyvour commented on #272
Definitely Lost is the great grid and it already more powerful than many others, but Lost hasn't enough functionality for manual columns/rows hadling. Now I use Susy / Singularity grid, but in future I want leave sass and use only postcss in my projects. Susy is one thing which stop me do this :)

[2016-03-30 16:19] peterramsing commented on #271
Not currently.

What use case are you looking for this?

[2016-03-30 16:22] peterramsing commented on #272
Thanks for the notes. Susy is a great grid and I use it in production for work and other things.

Regarding disabling the nth-child styles...I think it's an interesting concept. I'm going to be doing some refactoring of the `lost-column` rule here soon so I'll see what makes sense while I'm doing that.

[2016-03-30 23:36] rodoabad opened #273 "Removing a gutter does not adjust column width"
I've created two columns—7/8 and 1/8.

I removed the gutter for 7/8 `lost-column: 7/8 0 0;`

It doesn't adjust the columns though and I'm left with a `30px` space on my right right.
![test](https://cloud.githubusercontent.com/assets/1240667/14161062/4977714e-f6a6-11e5-9f1b-9ab3f6b984c1.gif)

[2016-04-03 17:38] #273 closed, assigned to nobody

[2016-04-06 12:56] gausie commented on #237
Personally I'm a big fan of using eslint with [airbnb's ruleset](https://github.com/airbnb/javascript).

[2016-04-07 06:03] jitendravyas opened #274 "Is there a gitter chat room for Lost?"

[2016-04-13 18:20] rlam3 opened #275 "coming from jeet. is there a similar way to use stack() for lost?"
Is there a similar way to use stack() for lost with rupture, coming over from jeet?

Or is there a new way you would suggest to do this type of responsive media css.

Also is there an equivalent of edit() from jeet in lost grid?

Thanks!

[2016-04-14 14:54] schelmo opened #276 "clear: left on element after cycle"
Example:
http://codepen.io/schlmm/pen/PNRBZw?editors=1111
shouldnt the third element define clear: right (or even both) instead of clear: left, since the second element hast float: right ?
as you can see the third element doesnt start in a new "row".
if you change clear: left, to clear: right, the behaviour would be the same as if you use lost with flexbox.
(with flex: https://codepen.io/schlmm/pe

[2016-04-15 20:29] rlam3 opened #277 "Looking for a way to use lost without having to use postcss..."
Looking for a way to use lost without having to use postcss...

Is there a way so we can do something similar to

[code]

[2016-04-18 00:35] JakeHenshall opened #278 "Using Packery With Lost"
Hi,

I love lost framework, but the the life of me I cant seem to work out how to get packery working with it.

JS init:

[code]

CSS:

[code]

HTML:

[code]

I'm using Timber with WordPress -> https://github.com/timber/timber thats what the {{ post.title }} is.

Here is an example of whats happening.

<img width="1910" alt="mansonry-grid" src="https://cloud.githubusercontent.com/assets/4720782/14

[2016-04-18 10:38] pl-mnm commented on #276
I'm having the same issue, `clear: right` does it for me however I can't figure out why it's working in the demos.

[2016-04-18 15:37] schelmo commented on #276
looks like it only happen if you have 2 columns in a row.
lost-column: 1/3 works: http://codepen.io/schlmm/pen/MyGxMV
why the last element must be "float: right" ?

[2016-04-19 02:38] peterramsing commented on #276
@schelmo Thanks submitting this. I think you're onto something here regarding how there are differences in using flexbox and not within Lost but could you be a bit more specific as to what you would expect it to do?

Regarding the reason for adding `float: right`. See: https://github.com/peterramsing/lost/pull/218

@pl-mnm Could you elaborate on how `clear: right` does it for you? What does it do?

[2016-04-19 02:42] peterramsing commented on #278
I haven't ever used Packery. Could you be a bit more specific on the issues your having?

[2016-04-19 02:44] peterramsing commented on #277
LostGrid is completely reliant on PostCSS. There are some previous versions from @corysimmons that might still be floating around but currently there are only plans to support LostGrid with PostCSS at the core.

[2016-04-19 02:44] #277 closed, assigned to peterramsing

[2016-04-19 02:46] peterramsing commented on #275
To enter the edit mode in LostGrid: `lost-utility: edit;`

For the `stack()` feature from Jeet look into: https://github.com/peterramsing/lost#vertical-grids

[2016-04-19 02:47] #275 closed, assigned to peterramsing

[2016-04-19 02:49] peterramsing commented on #274
See: https://github.com/peterramsing/lost/issues/265 :)

[2016-04-19 02:49] #274 closed, assigned to peterramsing

[2016-04-19 02:49] #271 closed, assigned to nobody

[2016-04-19 03:05] pl-mnm commented on #276
Apologies for not being clear the first time around. I'm having the same issue as described above (also in the codepen): in a two column grid the first cell in the second row doesn't clear anything so the top of the cells don't align. When I open up firebug, editing the `clear: left` to `right` manually works and the cells align nicely. Am I missing something?

[2016-04-19 03:07] peterramsing commented on #276
@pl-mnm By "aligning" do you mean being flush with the bottom of the first "row"?

[2016-04-19 03:08] pl-mnm commented on #276
Yes that's correct.

[2016-04-19 03:12] peterramsing commented on #276
@pl-mnm I attached a screenshot of what I'm understanding from you.

![screen shot 2016-04-18 at 8 11 21 pm](https://cloud.githubusercontent.com/assets/3523268/14626597/d4cefcb2-05a1-11e6-8ad5-b3dbfd8e90c9.png)

[2016-04-19 03:15] pl-mnm commented on #276
Yes that's it. Sorry I didn't do it myself, I thought the codepen would be enough!

[2016-04-19 03:15] peterramsing commented on #276
I'm also seeing what you mean that the "desired" behaviour happens when `lost-column: 1/3` is used.

I think I'm understanding a bit better now. I'll investigate.

[2016-04-19 03:16] peterramsing commented on #276
@pl-mnm The codepen was really helpful but one used Flexbox and the other didn't so I just wanted to be sure we were on the same page. 😄

[2016-04-19 03:24] peterramsing commented on #276
I think the issue is confined to having having the cycle of 2. That is for 1/2 or anything with the cycle specified as 2.

[2016-04-19 04:23] rlam3 commented on #277
just need to install poststylus

stylus \
    -u ./node_modules/poststylus --with "['lost']" \
        -w css/main.styl -o css/main.css
/

[2016-04-19 05:35] peterramsing commented on #277
@rlam3 I haven't seen that. Could you elaborate? 😄

[2016-04-19 08:30] JakeHenshall commented on #278
@peterramsing Hey, thanks for responding its all sorted now :)

[2016-04-19 08:34] #278 closed, assigned to peterramsing

[2016-04-19 18:03] EnMod commented on #277
I think s/he's referring to [this](https://github.com/seaneking/poststylus)

[2016-04-20 03:20] corysimmons commented on #277
@rlam3 As Peter pointed out, there is no longer a supported Stylus port of Lost. It's entirely PostCSS now (so we don't have to maintain a codebase for 3+ preprocessors).

You can either browse the old commits in this repo until you find a repo snapshot that has the Stylus port, or you can hold tight for a few months while the PostCSS guys iron out a quality CLI and put some finishing touches on S

[2016-04-20 07:58] rlam3 commented on #277
@corysimmons you can npm install --save-dev poststylus and then use the command above because poststylus is a port for postcss ... this way you can still do it in the commandline instead of using gulp etc.. What is sugarss? it looks similar to stylus....

[2016-04-20 08:02] schelmo commented on #276
if we change it to "clear:right", we get a similar floating issue with a cycle greater than 2
http://codepen.io/schlmm/pen/grKoNx
so "clear:both" is the way to go ?

[2016-04-20 15:40] peterramsing commented on #276
@schelmo Worth a try. I need to address #262 first and then can tackle this.

[2016-04-20 15:54] corysimmons commented on #277
@rlam3 Ah that's awesome, thanks for the head's up.

I think SugarSS is what will replace preprocessors for syntax.

[2016-04-20 15:57] peterramsing commented on #277
SugarSS looks cool. With all the sites using pre-processors I'm curious what the adoption rate will for sites currently using pre-processors. I know at my company we won't be making any transitions away from pre-processors for a long while. We have too much invested in them. I love all this innovation, though! Can't be mad about that! 😄

[2016-04-20 16:50] corysimmons commented on #277
Yeah I think I might try to do the same. I really only used preprocessors for vars and mixins. CSS has vars now. And mixins should probably be parts of PostCSS libs.

Gotta admit I miss the terseness of indentation-based stuff though... :\

[2016-04-22 05:36] jmarceli opened #279 "Change gutter size for specific lost-column"
Is it possible to change gutter size for specific lost columns?

I have default gutter defined somewhere in the beginning of my css with value of 24px but I want my photos columns to have gutter of 10px. I've tried to change gutter just before my photos columns css but it has no effect:

[code]

[2016-04-22 11:02] jmarceli commented on #279
Sorry,
That is easy with Lost grid and well described in the README https://github.com/peterramsing/lost#lost-column.

In my case I should write:

[code]

[2016-04-22 11:02] #279 closed, assigned to nobody

[2016-04-22 15:45] rlam3 commented on #275
If i'm using rupture it would look like this?

[code]

[2016-04-22 15:56] Siva-Siva opened #280 "Nesting media queries in lost columns"
Nesting a media query within a class that has a lost-column property will cause a compilation error.

Example:

[code]

Error:

[code]

[2016-04-22 23:56] peterramsing commented on #280
@Siva-Siva I'll look into this. Thanks!

[2016-04-23 00:00] Siva-Siva commented on #280
Thanks Peter!

[2016-04-30 12:25] dotnetCarpenter opened #282 "[SOLVED] lost-column: 1/24 is too small"
Actually, after writing this issue it dawned on me. The 1/24 is not too small but my gutter is too big to make sense in such a small context. I'll leave this in case others run into a similar issue with very fined grained grids with a big gutter.

I've made a simple grid with [lost](https://github.com/peterramsing/lost/) and is testing it right now. [lost](https://github.com/peterramsing/lost/) se

[2016-04-30 12:26] #282 closed, assigned to nobody

[2016-05-02 15:16] 412andrewmortimer commented on #280
I've been battling with this in my project as well. Mixins cause this error too.

[code]

`Cannot read property 'split' of undefined`

[2016-05-04 09:45] 4iAmAve opened #283 "Using Lost with SASS"
Hi, most recently I am using lost and I like it.

I am using webpack fpr ReactJS and included it into my stylus files.

Unfortunately I have to move it to SASS.

Especially I have problems with the @ command

[code]

I already found the following solution

[code]

But it didn't work.

Can anyone please help?

P.S.: And no I am not allowed to use gulp or grunt.

[2016-05-04 12:59] #283 closed, assigned to nobody

[2016-05-05 13:56] dacz opened #284 "calc within lost-center not working"
[code]

Throws an error:

[code]

I use react, cssModules and vars, compiling with webpack.

Am I doing something wrong? Thanks!

[2016-05-07 18:34] peterramsing commented on #284
@dacz I think you might be getting a bit to complex for what the `lost-center` rule is looking for. Maybe setting that variable outside of the `lost-center` rule would solve the issue.

There also might be an ordering of what tools are running at what time at play. What's the order that you have your css compiled?

[2016-05-07 18:38] peterramsing commented on #282
Thanks!

[2016-05-07 18:47] peterramsing commented on #280
@Siva-Siva Are you using a tool that allows the nested syntax like `cssnext`?

[2016-05-07 18:47] peterramsing commented on #280
@412andrewmortimer What's the order of compilation that you're doing? Is `LostGrid` before or after you compile that mixin?

[2016-05-07 19:03] peterramsing opened #285 "Duplicate Code in lost-column: none"
Thanks @artisin for this note: https://github.com/peterramsing/lost/pull/211#issuecomment-217240870

From @artisin:

I was looking at the tests and it appears that `lost-column: none;` creates a duplicate of the `a:nth-child(1n)` rule. Based on the code above it looks like that duplicate should be a `a:nth-child(n)` rule.

[code]

[2016-05-07 22:49] peterramsing commented on #280
What I think is going on here is that LostGrid is being used before it should be. LostGrid should only be receiving valid css. For example, if a gulpfile looked like this:

[code]

Then there would be a failure because LostGrid doesn't know what to do with the nested syntax.

_But_ if you use LostGrid after like so:

[code]

Then you should be able to compile without issue.

[2016-05-09 07:28] dacz commented on #284
Thanks.
I end up with setting this variable, for now.

From webpack loaders:

[code]

postcss from webpack:

[code]

Thanks for reviewing.

[2016-05-10 09:45] dacz commented on #284
@peterramsing You closed this... does this mean that I cannot use calc with lost-center and use somewhere else defined value (that's how I solved it for now but it's not optimal)?

Or is some other solution or I have wrong webpack config?

[2016-05-10 15:28] peterramsing commented on #284
@dacz Shucks, I think I read that too quickly. I understood it as you had a solution.

Looking back through this should be able to use the Calc operation within LostGrid. I would recommend moving the LostGrid task the end of your compilation pipeline.

[code]

[2016-05-11 11:27] dacz commented on #284
Reordering make it work. Thanks a lot, Peter.

[2016-05-11 11:27] #284 closed, assigned to peterramsing

[2016-05-11 18:14] Siva-Siva commented on #280
@peterramsing Sorry for the late reply. Currently we're using postcss-nested in order to use nested syntax, and looks like it's being used after lost. I'll investigate further to see whether this is root cause.

[2016-05-11 19:11] peterramsing commented on #280
@Siva-Siva I would image if you used it before `lost()` then you should be good to go.

[2016-05-12 08:29] AljanScholtens opened #287 "Lost-column not always working"
Hi,

In my boilerplate I'm using Lost, but I have some trouble with it, because in some situations it works perfectly and in others not. And I have no clue what I can do about it. Can anyone tell me what I'm doing wrong here? An example in the codepen below. Thanks!

http://codepen.io/aljan/pen/vGPbgr?editors=1100

[2016-05-12 16:03] peterramsing commented on #287
Hey @AljanScholtens

There are several ways to make this work.
1st. Update the HTML to allow the `:last-child` rule to work.

[code]

2nd. This comes into a larger thought process on how to use LostGrid. You're using LostGrid similar to how one might use Bootstrap. You're putting the grid in the `html`. There is nothing wrong with that but LostGrid is more designed with Semantic CSS in mind. (Here

[2016-05-13 07:13] AljanScholtens commented on #287
Thanks a lot Peter! It works and I think I made a beginners mistake.. :-P
I don't work often with these classes like .l-6, but I need them in a large web application. And you're absolutely right about semantics. But I also prefer display patterns over content patterns (http://danielmall.com/articles/content-display-patterns/).

[2016-05-13 15:45] peterramsing commented on #287
@AljanScholtens There are so many ways to do all of this...it's what makes being a FED such a challenging job these days.

My current day job has me working on a lot of one-off pages that are not intended to be re-used so my example used classes like the ones that I did. LostGrid is also going to be great for the example in the [article](http://danielmall.com/articles/content-display-patterns/) (g

[2016-05-14 13:28] #287 closed, assigned to nobody

[2016-05-15 04:55] #260 closed, assigned to nobody

[2016-05-15 13:29] hemedani opened #288 "does lost support rtl for grid system ?"
in jeet we have an rtl option in configuration like this :

[code]

for changing the floating statement  to right.
I'm searching a bit and not find any configuration option  specially for rtl (right to left). how can use lost with floating element to right?

[2016-05-16 16:35] peterramsing commented on #288
Unless @corysimmons has a hidden feature somewhere for this, LostGrid doesn't support RTL.

Although maybe it should.

[2016-05-16 22:22] corysimmons commented on #288
https://github.com/MohammadYounes/rtlcss

This way Lost doesn't need to maintain an extra tool.

[2016-05-16 22:26] peterramsing commented on #288
@corysimmons ...and that's why you're so cool! Thanks for the tip!

[2016-05-17 04:21] corysimmons commented on #288
No problem. Feel free to ping me anytime. =)

[2016-05-17 07:24] hemedani commented on #288
Thanks for @corysimmons  and @peterramsing  for your favors ...
But if we just want's to use flexbox of lost we just need to care of the margin's right and left and the master direction statement for example:
it's the orginal code generate from `lost-column 1/3 3 15px` with flexbox:

[code]

and if we want's to get the rtl version we just need to change the margin's like this :

[code]

just that,

[2016-05-18 03:43] corysimmons commented on #288
Hmmm.... I'm not sure if Lost can fix this. If we set up this stuff for Lost, then people won't be able to use rtlcss together.

@MohammadYounes Do you happen to have any ideas for this?

[2016-05-18 08:31] MohammadYounes commented on #288
@corysimmons As lost is usually embedded inside a larger CSS, Having this as an option would only benefit authors writing RTL only CSS.

But for authors writing LTR CSS that needs to be converted to RTL at a later stage,such option would be useless.

[2016-05-18 20:02] MohammadYounes commented on #288
Moreover, RTL authors can limit the scope of rtlcss to lost output only using [postcss-plugin-context](https://github.com/postcss/postcss-plugin-context):

[code]

Will give you:

[code]

[2016-05-19 03:12] peterramsing commented on #288
Before adding in support for RTL I want to understand the entire scope of what it would be to add it. It's possible but I think there are other priorities for this. @MohammadYounes You're more than welcome to submit a PR for this.

[2016-05-19 03:33] peterramsing commented on #280
@Siva-Siva Any update on this?

[2016-05-19 03:35] peterramsing commented on #285
@artisin Does #290 resolve this?

[2016-05-19 03:42] corysimmons commented on #288
@hemedani https://github.com/peterramsing/lost/issues/288#issuecomment-220141097 sounds like the perfect solution. 👍

@peterramsing I don't think Lost needs explicit RTL support now.

@MohammadYounes Thank you so much!

[2016-05-19 03:44] peterramsing commented on #288
...and this is when I need to read more closely...or at least not late in the evening after a long day of work.
I got totally spun around and misread @MohammadYounes's comment. ...yes, thanks for that tip!

[2016-05-19 03:58] corysimmons commented on #288
@peterramsing Sorry for not explaining it well. I hate when a bunch of crap goes down and I don't know what's going on.
- hemedani wanted rtl support
- I told him to use rtlcss
- he mentioned it might not work as seamlessly with flexbox. here's an example of simply swapping left/right having unintended effects (change the `$dir` var from right to left): http://codepen.io/corysimmons/pen/grNagq?edi

[2016-05-19 04:28] MohammadYounes commented on #288
Flex properties follow document direction and need not to be swapped. As for the scoping, it's a solution for those who are authoring RTL based CSS with no interest in the LTR version.

Frankly, I don't see the issue here! What's there to fix?

[2016-05-19 06:34] MohammadYounes commented on #288
Maybe this would clarify things up!

http://codepen.io/anon/pen/zqVrxa

[2016-05-19 15:54] corysimmons commented on #288
@MohammadYounes Maybe you're right about flex, but it still doesn't work with `float` (Lost's default).

http://codepen.io/corysimmons/pen/LNKxKX?editors=1100

[2016-05-19 16:25] peterramsing commented on #288
RTL could be only in Flexbox...

[2016-05-19 19:47] MohammadYounes commented on #288
@corysimmons  Sure, as `float`/`margin` are required to be set explicitly.

http://codepen.io/anon/pen/jqjwOg

The example presented by hemedani is not using rtlcss, he's simply stating that lost output is LTR and to make it RTL you need to flip the margins (no floats - as it's using flex).

To clarify things a bit more, CSS properties fall into 3 categories:
- **Direction Aware**
  These follow c

[2016-05-19 21:38] peterramsing commented on #288
I don't want to add a dependency into LostGrid internally. If we add this support it would have to be done internally.

[2016-05-20 14:08] corysimmons commented on #288
@MohammadYounes Thanks for your effort.

@peterramsing Why don't you want to add rtlcss internally? I'm not sure what the perfect solution is, but I think we should keep it on the table.

[2016-05-20 14:13] peterramsing commented on #288
@corysimmons It's not a "let's do everything by ourselves!" motive. I want to limit the dependencies that LostGrid is relying on for simplicity. Simple = better. That's not to say that we can't offer RTL support as code that is local to LostGrid.

[2016-05-20 14:14] peterramsing commented on #288
...and @MohammadYounes to second what Cory said: thanks for the insight! I don't use RTL so having your input is very helpful!

[2016-05-20 14:15] peterramsing commented on #288
Now the question is whether or not this is something that should be added or something that can be done outside of LostGrid.

[2016-05-20 16:08] MohammadYounes commented on #288
@peterramsing

It's already done via rtlcss (externally).

[2016-05-20 16:22] peterramsing commented on #288
@MohammadYounes I agree, so I think this is a sort of a non-issue because of the added complexity to the LostGrid codebase.

My main point to that comment was that I _don't want to bring in any more dependencies to LostGrid_. That's just a recipe for even more complexity. 😄

[2016-05-20 16:22] #288 closed, assigned to nobody

[2016-05-21 18:17] fetchTe commented on #285
@peterramsing no it does not but I just submitted a pull for #290 should resolve the issue

[2016-05-23 02:33] peterramsing commented on #276
@schelmo My gut is saying this is a breaking change. While it is fixing a "bug", I worry that there are people that are relying on this by accident.

A thought might be that this could be a feature flag that could be enabled.

[2016-05-23 03:41] peterramsing commented on #276
@schelmo I'm working on adding a rule that would enable reverting to the old way with a global setting so that a refactor of code isn't needed if this was relied on. Should have something to glance at tonight.

[2016-05-23 04:45] #285 closed, assigned to nobody

[2016-05-23 04:46] #280 closed, assigned to peterramsing

[2016-05-23 05:14] peterramsing opened #292 "Globals settings need to be reset during tests"
**Is this a feature request or a bug report?**
Bug

**What is the current behavior?**
When a global is set in one test it persists throughout all tests

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
In a test, set a global. This global will persist for the rest of tests.

[code]

**What is the behavior that you expect?**
That to global will reset for each

[2016-05-23 05:40] peterramsing commented on #292
Also see #261

[2016-05-23 05:42] peterramsing commented on #269
This issue is getting a bit stale. If you'd like to bring this issue back up please feel free to reach out.

[2016-05-23 05:42] #269 closed, assigned to peterramsing

[2016-05-23 05:57] peterramsing commented on #276
Closing for PR:
cc: @schelmo @pl-mnm
#293

[2016-05-23 05:57] #276 closed, assigned to peterramsing

[2016-05-24 14:17] plesiecki opened #294 "margin-right: settings.gutter !important when disabling offset"
**Is this a feature request or a bug report?**

Bug report

**What is the current behavior?**

When you attempt to disable the offset lost outputs `margin-right: settings.gutter !important`

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

`@lost gutter 1rem;`
`lost-offset: 0` or `lost-offset: -0` or `lost-offset: none` or `lost-offset: -0/1`
outputs
`margin

[2016-05-24 15:21] peterramsing commented on #294
Will look into this.

[2016-05-26 10:32] dotnetCarpenter opened #295 "99.99% rounding issue in Edge"
**Is this a feature request or a bug report?**
Bug report

**What is the current behavior?**

![lost_edge](https://cloud.githubusercontent.com/assets/43763/15571762/0fd50b22-233d-11e6-9c9b-cc2a1137bf81.png)
_Edge_

![lost_ie11](https://cloud.githubusercontent.com/assets/43763/15571757/05212562-233d-11e6-8398-1a3002b27376.png)
_IE11_

**If it's a bug please provide the steps to reproduce it and may

[2016-05-30 09:11] kfrost89 commented on #292
I am stilling having these issues.

I have just tested using the shorthand syntax as well.

http://codepen.io/kfrost89/pen/ezYLoE

[2016-05-30 21:07] halvves commented on #238
Not that my opinion is worth much, but I do like @corysimmons's idea of having 'post' in the name. Postup was a good one. Some other suggestions could be (in no order): postpeople (alliteration), postkit, the daily post (ok, now i'm falling apart) etc... (personally fond of postkit).

[2016-05-31 05:39] peterramsing commented on #276
@schelmo @pl-mnm This is now merged into the `beta` branch. https://github.com/peterramsing/lost/releases/tag/v7.0.0-beta.1

Also on npm. `npm install --save lost@beta`

[2016-05-31 05:47] peterramsing commented on #295
Closing for #296

[2016-05-31 20:26] corysimmons commented on #238
Tbh, I'd just leave it here and close this issue. Peter is doing a good job with it and he deserves the name recognition for his efforts.

I also think we should stop naming projects after the tools they're built on. What if a shiny new processor comes out and we want to abandon PostCSS?

This also means I think the whole `postcss-lost` convention is a mistake.

[2016-05-31 20:54] peterramsing commented on #238
@corysimmons Aww shucks. Thanks! ...yeah, I haven't put much effort in this because it is a pain for the users.

Okay, closing. I'll also setup a new Gitter if it's staying here, then. 😄

#274 #265

[2016-05-31 20:54] #238 closed, assigned to peterramsing

[2016-05-31 20:54] peterramsing commented on #265
@marcustisater https://github.com/peterramsing/lost/issues/238#issuecomment-222809544

[2016-05-31 20:54] peterramsing commented on #274
@jitendravyas https://github.com/peterramsing/lost/issues/238#issuecomment-222809544

[2016-06-01 16:46] alexc101 opened #301 "Setting different column sizes within grid using first/last/nth-child() ?"
Hi,

Here is the set up of my code;

HTML

[code]

CSS

[code]

I expect to see;

![Image of Yaktocat](http://i.imgur.com/W9YfPO0.png)

But this is the result;

![Image of Yaktocat](http://i.imgur.com/YacPeRg.png)

I'm wondering why this is?

(Sorry for not tweeting, I don't use twitter as I'm a bit of a dinosaur)

codepen:

http://codepen.io/alexc101/pen/mEJQaR?editors=110

[2016-06-04 15:00] peterramsing opened #305 "Merge 7.0.0 Branch into beta Branch"
**Type**
Chore

[2016-06-04 22:24] peterramsing commented on #305
Fixed with https://github.com/peterramsing/lost/commit/fdb90aa775c74d78468e00df205e174f6cdad19e

[2016-06-04 22:24] #305 closed, assigned to peterramsing

[2016-06-05 17:19] i8ramin opened #307 "lost-offset with lost gutter of 0 does not work properly"
_For support questions you might try tweeting me [@lostgrid](https://twitter.com/lostgrid) first._

---

**Is this a feature request or a bug report?**
bug report

**What is the current behavior?**
`lost-offset` does not behave correctly with gutter of 0

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

[code]

Then try to use `lost-offset` with a value such

[2016-06-05 17:33] i8ramin commented on #307
Found out why this was happening. This other postcss plugin was the culprit:
http://cssnext.io/features/#reduced-calc

Just realized that if I pass in the full lost-offset params, like so:
`lost-offset: -1/6 row 0px;`

It works as expected. postcss-next is reducing that `calc` to something that is invalid. So this (valid):
`calc(99.9% * (-0.1 * -1) - (0px - 0px * (-0.1 * -1)) + 0px) !important`

G

[2016-06-07 14:07] kfrost89 commented on #301
Hey there,

See this pen.

http://codepen.io/kfrost89/pen/YWyqmb

[2016-06-07 14:15] peterramsing commented on #301
Thanks @kfrost89!

@alexc101 Does that codepen help?

[2016-06-07 19:58] kfrost89 commented on #301
No worries :+1:

http://codepen.io/kfrost89/pen/rLOdJZ

This pen uses no-flex. Why does the cycle have to be different?

[2016-06-09 03:10] peterramsing commented on #307
Thanks for this. I'll tag and close.

[2016-06-20 13:58] ericstumper commented on #307
I am having a similar issue with lost 6.8.1. I disabled all other postcss plugins. When using 0px for the gutter everything is working as expected, with a unitless 0 it's not working (both globally set and manually set):

[code]

Output:

[code]

[code]

Output:

[code]

The second obviously results in a negative value pushing the element leftwards out of the grid.

Could anything else besides los

[2016-06-20 15:41] peterramsing commented on #307
@ericstumper I think I may have found the issue and will play with it more this afternoon if I have time.

[2016-06-20 15:42] peterramsing commented on #307
Valid CSS syntax is to allow for "0" to work just the same as "0px" so LostGrid should follow this as much as possible.

[2016-06-20 15:47] peterramsing opened #309 "Make all instances of 99.9*% consistent."
**Is this a feature request or a bug report?**
- Chore

**What is the current behavior?**
- Some instances fo 99.9*% have not been updated as #299 didn't change those in Offset, Move, etc.

**What is the behavior that you expect?**
- All uses of 99.9% to be the same unless there is a reasoning behind them being different.

**What's the motivation or use-case behind changing the behavior?**
- Code

[2016-06-20 16:04] ericstumper commented on #307
I thought so too, only calc(0) I think is invalid for width or something. Thanks a lot for looking into it and all the great work on lost!

[2016-06-20 16:08] peterramsing commented on #307
_Note To Self:_ For reading later to make sure that LostGrid won't allow improper syntax.
https://developer.mozilla.org/en-US/docs/Web/CSS/calc#Formal_syntax

[2016-06-28 15:26] aguilera51284 commented on #233
i have the same problem here :)!

[2016-06-29 15:28] cmnstmntmn opened #310 "odd behaviour of variables"
i'm using lost with webpack

for this input

[code]

i get the expected output for the **.container**

[code]

but not for the **.half**

[code]

variables aren't parsed

i'm using  `lost: "^6.8.1"` and variable values are in **rem**

[2016-07-01 04:09] peterramsing commented on #310
Hmm. My guess is this has something to do with webpack...not necessarily that it's the fault of webpack but that that is where to start looking.

@cmnstmntmn What's your webpack config look like?

[2016-07-01 04:11] peterramsing commented on #301
This issue is getting a bit stale. If you'd like to bring this issue back up please feel free to reach out.

[2016-07-01 04:11] #301 closed, assigned to nobody

[2016-07-01 04:17] peterramsing commented on #231
This issue is getting a bit stale. If you'd like to bring this issue back up please feel free to reach out.

[2016-07-01 04:17] #231 closed, assigned to nobody

[2016-07-01 04:18] peterramsing commented on #270
This issue is getting a bit stale. If you'd like to bring this issue back up please feel free to reach out.

[2016-07-01 04:18] #270 closed, assigned to nobody

[2016-07-01 07:22] niorad commented on #270
Yes that's fine, I'm sorry.

If anyone has the same problem:
I managed to fix the issue by using 498/1000 instead of 1/2 on 50/50 grids.

[2016-07-01 09:55] cmnstmntmn commented on #310
@peterramsing [this](https://gist.github.com/cmnstmntmn/ba261c4216ada8b8fcea9816dfbe5bc2) is how it looks like

[2016-07-01 23:02] peterramsing commented on #270
@niorad Hmm. Odd but I suppose if it works. Have you tried with https://github.com/peterramsing/lost/releases/tag/v7.0.1-beta.2 ?

[2016-07-02 07:24] peterramsing commented on #310
@cmnstmntmn Hmm. Have you played with the order of the PostCSS plugins?

[2016-07-05 07:15] monochromer opened #311 "Unnecessary use *zoom: 1"
`*zoom: 1` is a hack for `IE <= 7`.
These browsers do not support `calc`. I propose to cut this css to avoid generating extra code.

[2016-07-05 15:42] peterramsing commented on #311
See #222

👍🏻

[2016-07-05 15:42] #311 closed, assigned to nobody

[2016-07-05 15:49] peterramsing commented on #295
Closed by #308

[2016-07-05 15:49] #295 closed, assigned to peterramsing

[2016-07-06 04:34] peterramsing commented on #292
Closed by #312

[2016-07-06 04:34] #292 closed, assigned to nobody

[2016-07-06 04:37] peterramsing commented on #261
Fixed by #312

[2016-07-06 04:37] #261 closed, assigned to nobody

[2016-07-06 12:40] davidlapham opened #314 "New Documentation Link"
The "New Documentation" link is broken.

[2016-07-06 14:17] peterramsing commented on #310
@cmnstmntmn I'm not terribly familiar with webpack. Looking through your file it looks like it should be parsing those vars before LostGrid is run but from what it looks like, LostGrid is setting the global vars before the variable is resolved.

In webpack, is there a way to ensure that the vars are resolved before LostGrid is run?

[2016-07-06 14:22] peterramsing commented on #267
Hey @txixx

I'd still love to help resolve this. I'm closing this for now as it's been a while but feel free to reply and we can begin the conversation again. Thanks!

[2016-07-06 14:22] #267 closed, assigned to peterramsing

[2016-07-06 14:23] #220 closed, assigned to nobody

[2016-07-06 20:10] #314 closed, assigned to nobody

[2016-07-06 20:10] peterramsing commented on #314
Thanks!

[2016-07-09 10:14] peterramsing commented on #263
With the the [Darcy Release](https://github.com/peterramsing/lost/releases/tag/v7.0.1), this should be handled with `lost-row: none;`. 👍🏻

[2016-07-09 10:14] #263 closed, assigned to nobody

[2016-07-15 04:22] peterramsing opened #317 "Add warning for dropping Node v0.10 support"
ToDo: create the warning.

[2016-07-15 04:26] peterramsing opened #318 "Dropping Support for Node v0.10"
## Drop support for Node v0.10

To use Typescript we're going to need to drop support lest we have failing tests. With Node dropping LTS for 0.10 in October. https://github.com/nodejs/LTS#lts_schedule

Pending feedback we might be able to drop support for this sooner but I want to open this up to discussion.

(placeholder: will be updated soon)
### ToDo
- #317

[2016-07-15 04:39] peterramsing commented on #310
@cmnstmntmn Any update on whether or not the variables are resolved before LostGrid is run?

[2016-07-15 05:23] peterramsing opened #319 "Update Dependencies"
- [x] Audit dependencies
- [x] Update

[2016-08-03 02:31] JamesTheHacker opened #320 "--save-dev doesn't save lost to package.json"
**Is this a feature request or a bug report?**

Bug I believe

**What is the current behavior?**

Running `npm i lost --save-dev` does not add lost to dev. dependencies in `package.json`

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
1. Run `npm init` to create a new `package.json` file.
2. Run `npm i lost --save-dev`

**What is the behavior that you expec

[2016-08-03 02:39] peterramsing commented on #320
@JamesTheHacker I can't seem to replicate this. Are you getting any errors?

[2016-08-03 02:42] peterramsing commented on #320
This sounds like it might be a local issue. Typically issues like this are not those of the library but of something configured incorrectly.

[2016-08-03 10:12] JamesTheHacker commented on #320
Apologies, you were correct. I don't know what happened but when I retried this morning it worked fine.

[2016-08-03 15:38] peterramsing commented on #320
@JamesTheHacker Great! Glad to hear.

[2016-08-03 15:38] #320 closed, assigned to nobody

[2016-08-10 20:04] #319 closed, assigned to nobody

[2016-08-10 20:05] peterramsing commented on #310
This issue is getting a bit stale. If you'd like to bring this issue back up please feel free to reach out.

[2016-08-10 20:05] #310 closed, assigned to nobody

[2016-08-24 20:22] russelporosky commented on #309
Can this be set to 99.99%? Add the hundredths place removes a single pixel vertical line I've been noticing on the far right of my columns in some circumstances in Chrome.

[2016-08-24 21:05] peterramsing commented on #309
Hmmm. Shoot.

I think this is going to be a constant moving target. @metaloha could you share where you're having this issue so I can see specifically where it might be?

I'll put it on my TODO list to check out the latest in pixel rounding in the latest browsers.

[2016-08-24 21:43] russelporosky commented on #309
It is visible in the latest Chrome on OSX by simply creating a 2-column flex grid with no gutter and with a solid background colour. The 2 columns don't quite add up to 100%, leaving a single pixel of space on the far right in the browser's default colour. I believe I noticed this same thing in Firefox on OSX as well, but haven't double-checked it.

[2016-08-29 06:34] peterramsing commented on #237
Closing with #324

[2016-08-29 06:34] #237 closed, assigned to nobody

[2016-08-29 13:09] Braden1996 opened #325 "Invalid Property Value"
**Is this a feature request or a bug report?**
Bug Report

**What is the current behavior?**
Lost is generating invalid property values - seems to be missing 'px' units.

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
Input:

[code]

PostCSS load order (with Gulp):

Output:

[code]

**What is the behavior that you expect?**
Valid property values for width a

[2016-08-29 13:40] Braden1996 commented on #325
I believe I have discovered the cause of this 'bug'.
The lost-column property cannot contain a space separated value. My Gulp workflow enforces these via [stylefmt](https://github.com/morishitter/stylefmt).

I shall close this issue - hopefully nobody else embarrasses themself with such an issue!

[2016-08-29 13:40] #325 closed, assigned to nobody

[2016-09-08 15:52] ifokeev opened #326 "vw for columns"
**Is this a feature request or a bug report?**

Feature request

**What is the current behavior?**

Now `lost-column` calculates width based on `%`

**What is the behavior that you expect?**

I want to set `wv` or `%` based on my layout.
It may be something like `lost-document-column` or an additional attribute for `lost-column`

**What's the motivation or use-case behind changing the behavior?**

[2016-09-10 19:04] peterramsing commented on #326
Hmm. Certainly something to think about and look into.

I'll put it on my list to see what this might look like and get back to this issue.

[2016-09-12 11:13] psamhaber commented on #309
Same here, two-col flex grid with no gutter with 100% wide images in each:
The columns have a small but noticeable gap in between at certain viewport widths, in chrome+safari. Changing to 99.99% has the same gap though.

I suppose the 99.9% (vs 100%) are necessary for IE? Is this still really needed?

[2016-09-12 12:40] komlev opened #327 "Safari clearfix round problem"
There is a problem with safari rounding problem while using cleafix, no place for last column. I guess this has something to do with rounding mechanism on safari.
This is the screenshot of that is happening

![lost](https://cloud.githubusercontent.com/assets/513452/18435958/d1f69a6c-78ed-11e6-8381-f5b98243e413.png)

Here is the code itself
https://jsbin.com/hasuxacabi

No ideas yet how to fix this

[2016-09-12 13:05] #327 closed, assigned to nobody

[2016-09-12 13:06] komlev commented on #327
Turns out cleafix is not to be used with flex grids

[2016-09-12 16:43] peterramsing commented on #327
@komlev I'm assuming this has been solved then? 👍

[2016-09-12 16:47] peterramsing commented on #309
I'll be honest that right now I'm completely swamped with work so I have not given this as much time as I'd like.

I have been doing some testing of the pixel rounding issues. I'm going to look at the support issue, as @psamhaber mentioned.

Where I have found this to be a trouble area is when you have multiple nested columns. 1/2 => 1/2 => 1/8 (I've seen it in several places in navbars, etc). Thi

[2016-09-12 16:48] komlev commented on #327
@peterramsing Yep, removing clearfix did the trick. My only concern is that it might be useful to emphasize this in 'clearfix' section in documentation

[2016-09-13 21:19] corysimmons commented on #309
@psamhaber The `99.99%` stuff is needed for Edge -- a pretty relevant browser by a team who consistently doesn't play along with every single other browser (including their own old browsers).

In my tests (throwing tons of stuff/nested stuff) at it, `99.9999%` seems to work well. But https://github.com/peterramsing/lost/issues/295 happened.

Maybe this should revert back to `99.99%` so people usin

[2016-09-17 14:58] peterramsing commented on #224
Closing for https://github.com/lostgrid/lostgrid-site

[2016-09-17 14:58] #224 closed, assigned to peterramsing

[2016-09-21 15:06] #213 closed, assigned to nobody

[2016-09-24 16:46] corysimmons commented on #326
@peterramsing This could be added as a minor-version feature change by adding it as a param to `lost-column`. For instance: `lost-column: 1/3 3 30px vw`.

The only change to the formula would be replacing `%` with `vw`.

https://codepen.io/corysimmons/pen/kkBZyq?editors=1100#0

@ifokeev Could you elaborate on your use case before we add another param to Lost?

[2016-09-24 16:47] corysimmons commented on #318
This would need to be a major version bump since it'd break for everyone using Lost <= 0.10, but otherwise 👍

[2016-09-24 17:12] ifokeev commented on #326
@corysimmons
for example, I have 3 sections (programmed with Lost) on my site https://monolama.ru/contacts :
1 sidebar, 2 map, 3 contacts. The sidebar and the map are `display: fixed`. I want just make them something like 1/4 vw, 2/4 vw, 1/4 vw.

[2016-09-24 17:37] corysimmons commented on #326
@ifokeev Ah, I see. `position: fixed` kinda breaks Lost anyway. We'll definitely discuss appending this param.

In the meantime, since you're not really using gutters (and therefore don't need any complicated math), you can probably just do something like:

[code]

[code]

https://codepen.io/corysimmons/pen/WGprLY?editors=1100#0

Lost is great for slapping together grids, but isn't necessarily a 1

[2016-09-28 00:47] akoury opened #328 "Lost-column/waffle float:right to last cycle unexpected outcome"
**Is this a feature request or a bug report?**

Bug Report

**What is the current behavior?**

Regarding issue #200 which was solved in pull request #218 , a float:right was added to the last cycle of a column/waffle, which leads to a wrong display of elements

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

Just add any number of elements in a view, place

[2016-09-28 22:06] peterramsing commented on #328
@akoury  I see where you're going with this. As a people pleaser, doing Open Source work on large projects is really tough. I want everyone happy.

That said, thank you so much for this issue! You're the type of person that makes Open Source really fun! This is a really well thought out issue.

If I knew this would cause any breaking changes I would have certainly done #218 as a major release. I'm

[2016-09-29 01:26] akoury commented on #328
@peterramsing please dont apologize! your work here has been great and you are not even getting compensated for this, so know that everything you do is greatly appreciated.

Regarding the issue: like i said, i could've made a pull request just removing the float right from **both** lost-waffle and lost-column files, however i think that would just make the previous issue #200 reappear, so i dont k

[2016-09-29 04:41] peterramsing commented on #328
I'll look into a param and some more testing in the waffle's case.

[2016-09-29 22:08] corysimmons commented on #328
@peterramsing Why don't we break out all the params for these various things into their own properties (as well as keeping shorthand)?

Lost keeps needing more params to help with various use cases, but `lost-column: a b c d e f g` is pretty gnarly whereas:

[code]

etc... is a lot more readable/composable.

It'd let us tack these features on left and right (after discussing their value as a param

[2016-10-05 17:45] raymondwang opened #329 "Explicitly set flex-basis with lost-column for IE11 support."
**Is this a feature request or a bug report?**
Bug report for compatibility with IE10-11: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored

**What is the current behavior?**
lost-column sets flex-basis via flex shorthand, i.e. `flex: 0 0 auto;`.

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

[2016-10-31 11:38] steve-holland commented on #294
Is there any update on this issue?

I'm having the exact same problem and it would be great to use something like this at certain breakpoints:

`lost-offset: none`

I'm using v7.1.0.

[2016-11-01 05:18] peterramsing commented on #294
@codebybrassneck I've been working on some other things for LostGrid but can certainly put some time into this.

[2016-11-01 05:58] peterramsing commented on #309
Closing for #332

[2016-11-04 18:31] x35a opened #333 "1px gap between columns; rounding issue"
Hi guys! story about 1px..
Example pen http://codepen.io/ros/pen/qqBJWX
If you can't see a gap this is a pic http://joxi.ru/52aJDoNuGVvMdA
chrome 54, win7 x64, lost v7.0.3
Obviously gap happens when grid width calc is 99.9% or 99.99%. Changing container to 1071px make things okay or changing clac to 99.9999%, but this seems not good idea.
What can you suggest to avoid gap between columns?

[2016-11-05 15:21] peterramsing commented on #333
I'm presently not seeing the gap on my machine but I certainly don't doubt that it's there. I'm working on a fix for this in the next version but it's proving to be quite complicated to ensure cross-browser compatibility. When I get to my home office I have a non-retina screen that I'm hoping I can get it to happen so I can debug this more.

[2016-11-05 15:23] peterramsing commented on #333
Ahh...okay, I was able to get it so I could see it. I've got some time today that I'm going to focus on trying to fix this. I'm open to suggestions.

[2016-11-05 15:27] peterramsing commented on #333
...I'm tempted to just make this a param that allows for the user to either use the default or specify a percentage if they wish. Sometimes 100% width works perfectly in the calc but not all the time if there is nesting. This might be as good a solution as can be shipped now. @corysimmons suggested sometime similar to this In https://github.com/peterramsing/lost/pull/332.

[2016-11-05 19:10] ghost opened #334 "Problem with display none"
Hello. Congratulations for this development! I am having trouble using the "lost-column" when there is a set div to "display: none".

[2016-11-05 19:26] ghost commented on #334
Add div none.

[2016-11-05 19:26] #334 closed, assigned to nobody

[2016-11-05 20:05] x35a commented on #333
Hi Peter! Perhaps I understand why you could not see a gap therefore i've made a liittle change in codepen. Hope it is visible now http://codepen.io/ros/pen/qqBJWX
I've took a look into https://github.com/peterramsing/lost/pull/332 and hope i got your idea about param.
I was trying to show how do i see things, pls take a look http://codepen.io/ros/pen/Wobwrq

[2016-11-06 01:13] peterramsing commented on #333
@rosivanov Give this release a try: https://github.com/peterramsing/lost/releases/tag/v8.0.0-beta.1

...you can set a custom percentage with this version with `lost-column-rounder: 100;` and see if that helps.

If you're nesting you'll probably want to stick with the default of 99.9 or you could customize it to make it perfect with `lost-column-rounder: 99.98728372;` (or some other variant).

[2016-11-06 01:14] #309 closed, assigned to nobody

[2016-11-06 01:15] peterramsing commented on #309
@metaloha @psamhaber Give this release a try: https://github.com/peterramsing/lost/releases/tag/v8.0.0-beta.1

You can fine tune the "rounder" or the percentage of width with `lost-column-rounder: 100;` or a more custom variant.

[2016-11-06 07:31] x35a commented on #333
@peterramsing I didn't see `lost-column-rounde`, I will give a try. Seems this is an answer for rounding issues.
Probably you can close this issue, thanks for haelp Peter!

[2016-11-06 15:13] peterramsing commented on #333
@rosivanov You wouldn't have seen it before...I [just added](https://github.com/peterramsing/lost/pull/332#commits-pushed-ac5215a) it. 👍

[2016-11-06 15:13] #333 closed, assigned to nobody

[2016-11-06 15:18] peterramsing commented on #307
Closing this for #180

[2016-11-06 15:18] #307 closed, assigned to nobody

[2016-11-06 20:50] corysimmons commented on #309
You offering 2 rounder settings (1 for gutterless, 1 for gutter)?

[2016-11-06 21:39] peterramsing commented on #309
Just a global and per rule. I suppose it could be expanded to a gutter _and_ gutter-less. Off the top of my head I'm not sure the need for both but I haven't tested out all that the param has to offer just yet.

[2016-11-07 01:38] #317 closed, assigned to peterramsing

[2016-11-07 06:27] peterramsing commented on #309
@corysimmons Now I think I get it. ...because this is mostly issues if you don't have gutters?

...okay, now I'm thinking on it some more.

[2016-11-07 12:04] corysimmons commented on #309
If `gutter === 0` then you get slightly different calc formulas, but `100%` still doesn't work great on everything so I settled on `99.99999%` as it hit the most browsers.

If `gutter > 0` you need a different formula, and with it `99.99%` seemed to work the best.

So you'd need 2 rounder settings. One for each of those formula types.

It'd need to be set globally, as well as locally.

[2016-11-08 17:14] JeremyBernier opened #337 "How to write a separate CSS class that adjusts lost-column-gutter for arbitrary grid?"
Is it possible for a CSS class to adjust the gutter for an arbitrary grid fraction?

I want to create a class named `extra-padding` that increases the gutter. The following does not work unless I explicitly add the column fraction into the `extra-padding` class (1/3 in my example), but of course this wouldn't generalize to grids with other fractions (eg. 1/4).

[code]

I was going to utilize Lost

[2016-11-08 20:12] peterramsing commented on #337
The nature of how `lost-column-gutter` is computed, it needs a grid fraction to add the gutter in.

https://github.com/peterramsing/lost/blob/master/lib/lost-column.js#L179

[2016-11-08 20:12] #337 closed, assigned to nobody

[2016-11-08 20:18] peterramsing commented on #337
Or I suppose, "How it's used". It's not really computed. That was a pre-lunch response. 👍🏻

[2016-11-08 20:33] JeremyBernier commented on #337
Would this be a lot of work to fix?

[2016-11-09 01:29] peterramsing commented on #337
I don't think it's a matter of fixing it as much as how would the class that has the new gutter know the context of the grid?

When you use `lost-column: 1/3` it outputs `width: calc(99.99% * 1/3 - (30px - 30px * 1/3));`

If you were to have a class with an adjustment of the gutter to 100 it would have to update that formula with the new gutter of 100 (`width: calc(99.99% * 1/3 - (100px - 100px *

[2016-11-12 05:42] peterramsing opened #338 "lost-align should know about and use global @lost flexbox declaration"
Using `@lost flexbox flex;` should no longer need the user to add `flex` to the end of their `lost-align` declarations in order to take advantage of flexbox.

[2016-11-12 05:57] #338 closed, assigned to peterramsing

[2016-11-13 05:36] peterramsing commented on #329
Tackling this now. It's slated to be in the LostGrid Version 8 release.

[2016-11-13 05:37] peterramsing commented on #329
Thanks for the super descriptive issue request! Makes my life so much easier!

[2016-11-13 06:44] peterramsing commented on #329
@raymondwang This is now live in the [Beta release](https://github.com/peterramsing/lost/releases/tag/v8.0.0-beta.2). Please give it a try and let me know if you have any other issues with it.

Closing for now but feel free top open it again if I missed something. Thanks again for catching this!

[2016-11-13 06:44] #329 closed, assigned to peterramsing

[2016-11-14 05:41] peterramsing opened #342 "Refactor lost-align to fix some inconsistencies"

[2016-11-14 05:43] peterramsing commented on #318
Closing this as it seems as though this is pretty much all good from users. I've yet to hear anyone say otherwise.

See post here for details: http://peter.coffee/lostgrid-node-versions

[2016-11-14 05:43] #318 closed, assigned to nobody

[2016-11-14 05:56] peterramsing commented on #196
Code bloat is never good. I think this could be added to the roadmap.

[2016-11-14 05:58] peterramsing commented on #201
I think for now this isn't going to be the role of LostGrid. There are some really good (and easy) ways to do this simply with flexbox.

[2016-11-14 05:58] #201 closed, assigned to nobody

[2016-11-14 06:00] #239 closed, assigned to nobody

[2016-11-14 06:00] #272 closed, assigned to nobody

[2016-11-14 06:04] peterramsing commented on #294
Sorry you're having this issue. I think there are two issues here: 1 being the `important` rule and of course the feature for adding an offset. I'm going to label this up and hopefully see if I can get something sorted...I just don't know what the right solution would be here just yet.

[2016-11-16 05:38] peterramsing commented on #233
Fixed here: https://github.com/peterramsing/lost/pull/339

You'll see this in the beta version soon and in LostGrid v8. 👍

[2016-11-16 05:38] #233 closed, assigned to peterramsing

[2016-11-16 05:47] peterramsing commented on #328
I think that I'm going to remove the float as standard for `lost-waffle` with a param for if the float should be used. @akoury, I think you're right when you said that the old way was better and I'm sorry that it changed and I didn't realize it would cause that much change.

You'll see this change in LostGrid v8.

[2016-11-16 05:57] peterramsing commented on #328
@akoury Here's the fix: https://github.com/peterramsing/lost/pull/343

I'm going to add in some more properties for the shorthand properties. Probably should make all shorthands have a corresponding longhand.

[2016-11-16 05:57] #328 closed, assigned to peterramsing

[2016-11-16 09:07] steve-holland commented on #294
I really appreciate you looking into this.

I don't know whether this will help or hinder your efforts but I think the reason I came across this issue is at certain breakpoints I needed to center columns one above the other, but then at other breakpoints they needed to be side by side. What I was hoping to do was use something like this:

`lost-center: 6/12`

That didn't seem to be supported, so i

[2016-11-16 13:35] peterramsing commented on #294
Hmm. Off the top of my head, `lost-center: 6/12` might not be that hard to support. I'll look into that.

Thanks for the additional feedback.

[2016-11-16 14:45] peterramsing opened #344 "Add Fractions to lost-center"
**Is this a feature request or a bug report?**
Enhancement Request

**What is the current behavior?**
`lost-center` doesn't take fractions as a param (http://lostgrid.org/docs.html#lost-center).

**What is the behavior that you expect?**
`lost-center` could take fractions as a param.
`lost-center: 6/12 30px;`

**What's the motivation or use-case behind changing the behavior?**
(https://github.com/

[2016-11-16 15:41] akoury commented on #328
@peterramsing two questions:
1. Basically the default will return to normal and if issue #200 bothers us we can use the float right param for that specific waffle?
2. Does this also apply to lost-column?

Seems great so far! thanks for the awesome help

[2016-11-16 15:43] peterramsing commented on #328
That's correct.

As for `lost-column`, I was thinking that it would retain the float as that's a more typical use case for the column.

[2016-11-16 22:12] akoury commented on #328
@peterramsing perfect! thanks again for doing such an awesome work

[2016-11-17 04:34] peterramsing commented on #326
Looking at this ticket, I think that I'm going to try to make it so that vw/vh could be used anywhere. Still need to rough out exactly how that would look but that's the update. Working on this now.

[2016-11-17 05:16] corysimmons commented on #326
More params for the param god!!!

Wait, this could be combined with the rounding param right? Instead of `99.9992423%` he could specify `100vw` (or whatever).

[2016-11-17 05:30] peterramsing commented on #326
I was thinking about that...maybe? ...actually very maybe. My first version is just going to have a `lost-unit` param (and then adding a shorthand). I'm just getting the warn to work correctly right now. 👍

[2016-11-17 05:32] peterramsing commented on #326
Just hardening the tests for this right now then I'll push it up if you want to see.

[2016-11-17 05:33] corysimmons commented on #326
I'm literally passing out and have to wake up in 4.5 hrs, but I dig it. <3

[2016-11-17 05:42] peterramsing commented on #326
Closing this for PR: https://github.com/peterramsing/lost/pull/345

[2016-11-17 05:42] #326 closed, assigned to peterramsing

[2016-11-20 23:40] peterramsing opened #347 "RELEASE: LostGrid v8.0.0"
Issues and notes in prep for the release of LostGrid version 8.

- [x] Review all documentation.
- [x] Review tests and add more for hardening
- [x] Test in all browsers with complex layout testing
- [x] Resolve bugs/hardening from added tests and testing.
- [x] Review and finalize naming of new features/variables/functions.
- [x] Resolve any community feedback issues
- [x] Write blog post
- [x] R

[2016-11-21 03:17] peterramsing commented on #195
With the work that I did with the `$lost-gutter` variable I think this should be pretty simple now (or at least more simple?). As I'm getting close to finishing all the needs for version 8 early I'm adding this to the version 8 milestone for the December release.

[2016-11-21 18:45] raymondwang commented on #329
Thanks @peterramsing! Appreciate it. Looking forward to testing out the improved compatibility.

[2016-11-24 22:54] tinybike opened #348 "Lostgrid website logo cut off on mobile"
The top of the lostgrid logo is cut off on Chrome mobile browser on Android.  Not sure if this is a bug in lostgrid itself but wanted to give you a heads up.

[2016-11-24 22:54] tinybike commented on #348
![screenshot_2016-11-24-14-46-34](https://cloud.githubusercontent.com/assets/2637020/20610914/f36afc46-b255-11e6-832e-e272f72279d4.png)

[2016-11-24 22:57] peterramsing commented on #348
Thanks for the heads up! I'll take a look.

[2016-11-25 00:51] peterramsing commented on #348
Fixed. The issue was caused by the new link. Thanks @tinybike for the find!

[2016-11-25 00:51] #348 closed, assigned to nobody

[2016-11-29 09:08] paulca55 opened #349 "Feature request for a visual grid overlay."
**Is this a feature request or a bug report?**

Feature request for a visual grid overlay.

**What is the current behavior?**

Lost Grid doesn't include this feature as far as I'm aware.

**What is the behavior that you expect?**

Something like the _visual grid_ overlay that **[Bourbon Neat](http://neat.bourbon.io/examples/)** uses. This will make it easier to layout the grid when working with gr

[2016-11-30 04:58] peterramsing commented on #349
I'm super stoked to work on this! Any feedback on the syntax for this?

`lost-utility: overlay 12 30px;`

Could possibly even be done automagically with `@lost: overlay 12 30px;` and it would be put on the `html` element by default?

Thoughts?

[2016-11-30 10:58] paulca55 commented on #349
I'm glad you're happy to implement it :)

I think anything that happens automagically would be cool but I'll leave it in your capable hands on the best way to do this.

It would also be good to be able to change the colour and opacity of the grid overlay too.

I'm excited to see what you can come up with!

[2016-12-02 15:26] peterramsing commented on #195
Closing for #350

[2016-12-02 15:26] #195 closed, assigned to peterramsing

[2016-12-02 16:18] bourhaouta opened #351 "RTL Support"
Hey,
I really enjoy using your grid system..
But can we have a RTL support with 8 release?
I think it's all about margin-left instead of margin-right and some stuff
Cheers

[2016-12-02 17:09] corysimmons commented on #351
I think this can be done with https://github.com/MohammadYounes/rtlcss can't it?

[2016-12-02 19:16] bourhaouta commented on #351
Yes, but I thought it'll be cool if you can include it within your grid system

[2016-12-02 22:01] corysimmons commented on #351
I'll defer that to @peterramsing

tbh, I'm not sure what the best solution is. Adding rtlcss as a dependency wouldn't be too hard, and adheres to the Unix philosophy of modularity. But there's enough configuring build tools in this world so if we can make it nicer, it might be nice.

Heck, Lost could just rely on rtlcss and expose the same options within Lost, but that starts to feel a bit dirty.

[2016-12-04 14:21] bourhaouta commented on #351
So, I tried a few things.
First I added a new rule called direction.
[code]
For the `lost-center` I added a `direction`:
[code]
And then in the `lost-column`, I did this to replace `right` with `left`:
[code]
The result:
![result](http://image.prntscr.com/image/69ba9004496f48b89ed76120436bd271.png)
And yeah, I know the code looks ugly haha but it'll be cool if you can do something about it, instea

[2016-12-04 15:20] peterramsing commented on #351
Thanks for spiking on this! I think it's something worth taking a look into for sure.

Do you think it should also affect text alignment or should that be done by the users manually?

[2016-12-04 15:23] bourhaouta commented on #351
Thanks for your consideration.
For me, I think it's better done by the users manually.

Cheers.

[2016-12-04 18:42] peterramsing commented on #351
@bourhaouta I think keeping text-alignment on the user is correct, too. I just wanted your insights.

I'll get some time on this later this week hopefully.

[2016-12-06 21:01] peterramsing commented on #351
Progress: https://github.com/peterramsing/lost/compare/beta...rtl-support

[2016-12-12 16:43] lifeinchords commented on #294
Hi there,

I'm using this syntax which seems to be outputting `margin-left: 0 !important`, and helping me override offsets from smaller breakpoints

[code]

The syntax is a bit awkward, but seems to be the only thing I got working..
I think this would be a really helpful tool, to implement diff designs at different breakpoints.

Thanks!
~s

[2016-12-15 06:56] peterramsing commented on #351
See #352 for PR

[2016-12-15 06:57] #351 closed, assigned to peterramsing

[2016-12-28 23:52] #347 closed, assigned to peterramsing

[2017-01-02 03:48] sea129 opened #354 "Upgrade to v8"
after upgrading to version 8. the basic examples does not work. Is the old docs/guild still apply?

[2017-01-02 03:50] #354 closed, assigned to nobody

[2017-01-02 21:29] peterramsing commented on #354
I'm assuming since you closed this you figured it out. As for the docs, the most current ones are here: http://lostgrid.org/docs.html

Let me know if anything is incorrect with them!

[2017-01-04 13:52] nirfse opened #355 "Add visual examples of grid layouts in documentation"
Please consider adding screenshots or visual representation of grid layouts in documentation. There are *horizontal*, *vertical*, *waffles*, and *masonry* grid layouts available to day.

While "horizontal' and "vertical" grids meet the expectations of an accidentally passing by beginner or non front-end developer, it's absolutely not obvious what "waffles" or "masonry" grids look like. I had to do

[2017-01-04 15:12] peterramsing commented on #355
Closing for new issue in proper repo: https://github.com/lostgrid/lostgrid-site/issues/19

[2017-01-04 15:12] #355 closed, assigned to nobody

[2017-01-04 15:22] nirfse commented on #355
@peterramsing oops, sorry for missing proper repo and thanks for transferring.

[2017-01-14 07:05] bradennapier opened #356 "Demo?"
Does this package not have any examples at all?

[2017-01-15 15:28] alanaasmaa commented on #356
Thre are docs http://lostgrid.org/ What demo u need ?

[2017-01-17 17:23] peterramsing commented on #356
@bradennapier There is a need to add some examples. If there is anything specific I'm more than happy to answer questions.

If you'd like to help: https://github.com/lostgrid/lostgrid-site/issues/14
Here's some examples that might help: https://github.com/lostgrid/lostgrid-episodes

Closing for issue on the docs site: https://github.com/lostgrid/lostgrid-site/issues/14

[2017-01-17 17:23] #356 closed, assigned to nobody

[2017-01-22 04:54] clevernyyyy opened #357 "Converting project from css/postcss to scss, having issues."
I did tweet @LostGrid initially because this is more of a support question, but I'm afraid describing it will take longer than 140 characters.

I'm taking a starter project that uses Lost grid and converting from css to scss for some gains.  This is the starter project:  https://github.com/wpioneer/gatsby-starter-lumen

Essentially, I'm converting the project to scss because I much prefer it's str

[2017-01-24 05:33] peterramsing commented on #357
I'm not entirely sure what's happening and I'm not able to get a full handle on how the stylesheet transpiration is happening with what you included.

You are on the right track, though. From what I can understand: you're not transpiling your SCSS until after you're running PostCSS. If you swap the order, putting the transpiration into SCSS **before** you run your css through PostCSS, you'll see t

[2017-01-24 05:33] #357 closed, assigned to nobody

[2017-01-24 06:16] clevernyyyy commented on #357
Hmmm, something must be happening low-level, because the solution isn't as simple as swapping these pieces out.

[2017-01-24 06:30] peterramsing commented on #357
Hmm. Let me glance at your repo once more...

[2017-01-24 06:34] clevernyyyy commented on #357
I can push it somewhere, if you'd like to see mine and not my examples.

[2017-01-24 06:42] clevernyyyy commented on #357
Here is my example:  https://github.com/clevernyyyy/hatsec

PS - I'm aware that I accidentally committed `node_modules`, forgot a `.gitignore` in my haste.  Oh well, if I can resolve this, I'll update soon.  Thanks for your help @peterramsing!

[2017-01-24 08:06] clevernyyyy commented on #357
Solved.

In `node_modules/gatsby/dist/utils/webpack.config.js`, I changed

[code]

to:

[code]

As suggested.  Thanks for the help!

[2017-01-26 11:37] leesiongchan opened #358 "Error when using webpack 2.2.0"
**Is this a feature request or a bug report?**
Bug report

**What is the current behavior?**
Unable to parse files that were previously working fine.

[code]

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
1. Upgrade webpack from 2.1 beta to 2.2.0
2. Fix webpack file
3. Run webpack
4. Failed

**What is the behavior that you expect?**
It should parse the fil

[2017-01-26 16:49] peterramsing commented on #358
Hmm. Sorry about that. Any chance this project is open source and I could see the source?

[2017-01-31 13:34] peterramsing commented on #358
@leesiongchan Any update on whether you can share your config?

[2017-01-31 14:06] leesiongchan commented on #358
@peterramsing sorry, I will do it next week.

[2017-01-31 14:44] peterramsing commented on #358
Not to push around the blame, but for some reason my gut is saying this might be an issue with Webpack–but I'll get a fresh 2.2 Webpack config and see if LostGrid throws an error on my end. Seeing your config would certainly help, though.

[2017-02-07 05:16] leesiongchan commented on #358
[code]

[2017-02-09 14:37] sidonaldson commented on #349
It would probably need to be inside the body so you can whack up the z-index and overlay it over the whole site,
also adding `pointer-events:none;` so it doesn't prevent clicking.

Maybe a pseudo element with a background gradient?

[2017-02-09 14:40] sidonaldson opened #359 "Move and Offset errors"
**Is this a feature request or a bug report?**

Bug

**What is the current behavior?**

Using offset or move the result is slightly out the bigger the amount, possibly rounding issue.

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

http://codepen.io/sidonaldson/pen/NdyZjJ - first span is move, second with offset

**What is the behavior that you expect?**

[2017-02-10 10:07] leesiongchan commented on #358
Ping @peterramsing

[2017-02-10 17:12] peterramsing commented on #358
@leesiongchan Thanks. (was off on holiday–back today, I'll see if I can replicate tonight or Saturday)

[2017-02-10 17:15] peterramsing commented on #359
Yeah, Codepen isn't the latest version but that certainly doesn't mean there isn't an issue here. Let me bring your code locally either tonight or Saturday and see if I can pin-point the issue. Thanks for letting me know.

[2017-02-10 17:16] peterramsing commented on #349
@sidonaldson I'd be more than happy to entertain a PR for this if you have some time.

[2017-02-10 17:38] sidonaldson commented on #359
From my initial pokes it looks as though some values are being converted from REM to PX, while the others aren't. see width and left below. (changing 30px to 1rem fixes it)

Update: or that 30px may be hardcoded?

Update2: adding `@lost gutter 1rem;` fixes it. Have I just misunderstood something?

[code]

[2017-02-11 17:19] peterramsing commented on #359
The 30px is indeed hard coded. You will want to override the global gutter of 30px just as you did in your last comment.

I'll look into the docs and see if there is a way to make some of those things more clear. The offset could possibly match the gutter of the selector but that starts to feel a bit "magical" to me.

I'm going to close this issue but please feel free to add comments to it still o

[2017-02-11 17:19] #359 closed, assigned to nobody

[2017-02-11 17:56] peterramsing commented on #358
@leesiongchan Just out of curiosity, have you updated to webpack 2.2.1 yet?

[2017-02-11 19:44] sidonaldson commented on #349
@peterramsing I've had a quick go here https://github.com/sidonaldson/lost/tree/overlay (in the utilities)

So far it's harder than I thought as it would have to support multiple types of values, such as rem, em, px so relies heavily on nested calcs. Also the result seems to be quite blurry almost as if the gradient is zoomed in even though it should be pixel perfect. Finally rounding looks to be

[2017-02-11 19:58] sidonaldson commented on #359
@peterramsing I suspected so once I have dug into the code. Apologies for the false alarm!

[2017-02-12 13:05] leesiongchan commented on #358
@peterramsing No. I will try and let you know again.

[2017-02-13 10:14] leesiongchan commented on #358
@peterramsing Tested 2.2.1 with no success.

[2017-02-22 16:39] peterramsing commented on #358
@leesiongchan Thanks for checking. Sorry I've been silent. Was busy with two conferences these last few weeks and...yeah... something about life?

Would you be up for debugging via Skype? I've got family in Southeast Asia so I'm used to the time difference.

[2017-02-24 01:58] leesiongchan commented on #358
@peterramsing Yea, I will open up Skype (ahlee2326) whenever I am available. But afraid I can't help much as I am very much a user didn't really go into the codes to figure out what is happening inside.

[2017-02-27 13:14] ballPointPenguin commented on #356
I was surprised to look through the readme and docs and not see a single demo or screenshot.
Maybe there is an expectation that people already know what lost-grid is when they see the docs, but for a newcomer trying to make a quick decision "am I interested in this or not?" something visual ANYTHING visual would be very helpful to illustrate what lost-grid can do.

[2017-02-27 13:23] alanaasmaa commented on #356
@ballPointPenguin
There is on part Getting started
Read the docs on LostGrid.org!

[2017-02-27 14:54] peterramsing commented on #356
@ballPointPenguin There is this page: something that could be moved to the site. http://peter.coffee/lost/

I could link that over...and I do need to add that to the site as well.

I'm also getting some example projects going to illustrate things a bit better as well. https://github.com/lostgrid/lostgrid-examples
I need to add a lot more.

[2017-02-27 15:19] ballPointPenguin commented on #356
Wow Thanks!
Spending about 500 milliseconds checking out http://peter.coffee/lost/ did more for my what-is-this-and-do-I-want-to-use-it query than reading through the docs.
Looks awesome, and super useful.

[2017-02-27 15:22] peterramsing commented on #356
Sounds like I really need to link that over. Thanks for the feedback. I'll see if I can get that added soon. Feel free to make a PR for it as well. 👍🏻

[2017-03-02 05:59] peterramsing commented on #356
@ballPointPenguin I added a new page to the "real" site: http://lostgrid.org/lostgrid-example.html

[2017-03-06 02:03] onehorsetown commented on #358
I had this exact same problem, and it ended up being a boneheaded syntax error in my nested @media tags.

@leesiongchan -can you share the CSS with the media queries that is causing the issue?

My CSS is as follows, and it works exactly like I would expect:

[code]

My webpack/postcss config is similar to yours, except I am using a bunch of additional plugins.   Like yours, the 'lost' plugin is ne

[2017-03-06 11:12] chaenu opened #360 "Add option to enable both RTL and LTR styles in one stylesheet"
Hey,
first of all thank you for you work, I used lost grid in several projects and it worked great!

**Is this a feature request or a bug report?**
Feature request.

**What is the current behavior?**
With the current lost grid version (8), it's only possible to use either ltr or rtl styles. To mix them in the same project, you need to define two stylesheets and prefix the related classes "manually

[2017-03-07 16:17] peterramsing commented on #360
@chaenu **I like it.**

I'm still trying to sort some of the "how does pushing and pulling elements work if their order is reversed...what is 'right', what is 'left'?"

Are you up for putting together a PR for this?

[2017-03-07 22:12] chaenu commented on #360
Yes, I will try! Any rough idea how to implement this best?

[2017-03-08 06:17] peterramsing commented on #360
@chaenu Super. If you want to create a PR early-on we can coordinate the changes.

Here's the initial PR: https://github.com/peterramsing/lost/pull/352/files
That should get you some general understanding of what went into the change.

I'm not sure the implementation of making it dynamic based on how you described but I think that it's certainly something that could be put on the initial line such

[2017-03-11 17:09] peterramsing commented on #360
@chaenu If you want to pair on this let me know. Skype? Screenhero?

[2017-03-11 17:24] peterramsing opened #361 "Allow for fractions to be used within lost-center"
**Is this a feature request or a bug report?**
Feature Enhancement

**What is the current behavior?**
No `lost-center: <column-fraction>;`

**What is the behavior that you expect?**
Being able to use a fraction w/in `lost-center`

**What's the motivation or use-case behind changing the behavior?**
https://github.com/peterramsing/lost/issues/294#issuecomment-260891975

[2017-03-11 17:24] peterramsing commented on #361
cc @codebysubtract

[2017-03-11 17:40] peterramsing commented on #294
**sigh** I have a possible solution for this using the `lost-offset: none;` idea but I keep coming back to the fact that there are `!important`s cluttering this up...and that I should really work to figure out how to make it so those don't need to be there.

...and if indeed those `!important`s can indeed be removed would that cause a bunch of issues for present users...

[2017-03-11 18:01] chaenu commented on #360
Hey Peter,

you can see the current result here: https://github.com/peterramsing/lost/compare/master...chaenu:feature/rtl
What do you think so far? I followed your suggestion with rtl as an argument for lost-column and lost-waffle, so the developer itself has still full control over the final selector.

I also think there's a bug in the line:
`lostColumnCycle = decl.value.split('/')[1];`
E.g. if y

[2017-03-11 23:39] peterramsing commented on #360
That's looking like a great direction! I'll create a PR into `develop` and let's see what tests we'll need to write and then look into 1. making sure the existing grids don't break *and* 2. making sure it's not muddying things up too much. The RTL support might warrant re-thinking the core `lost-column`/`lost-waffle` architecture – but thankfully RTL is in beta so we have the freedom to change as

[2017-03-12 16:06] chaenu commented on #360
Thank you for your feedback! I added tests (I'm not that experienced writing them, so I hope I covered all relevant cases) and documented the option.

I just struggled over the `float-right` option for `lost-waffle`. If I understand the use case correctly, then we would need to introduce a float-left option for rtl-layouts, right? Or maybe update this to a more general feature "last-line-different

[2017-03-12 16:08] peterramsing commented on #360
...not only like duplicating code but it's only designed to go one direction so the code starts to get *really* confusing if the grid direction is right-to-left. (not my `FIXME` comment)

[2017-03-18 16:53] peterramsing commented on #294
Closing this to migrate conversation to the PR: https://github.com/peterramsing/lost/pull/363

[2017-03-18 16:53] #294 closed, assigned to peterramsing

[2017-03-21 03:16] peterramsing commented on #358
@leesiongchan I haven't heard back from you in a bit. ...if this is still and issue please comment back but I'm going to close this for now.

[2017-03-21 03:16] #358 closed, assigned to peterramsing

[2017-03-21 03:16] peterramsing commented on #358
@onehorsetown Thanks for the feedback!

[2017-03-24 14:25] steve-holland commented on #361
@peterramsing Hi Peter, as it was me who raised this enhancement, I thought it would be appropriate for me to at least have a look into solving it. I've done some work locally on it mainly using the stuff from lost-column. As you will imagine there is some duplication of code now and I'd like to address this first before I go any further. In terms of coding style is anything I should do/avoid in t

[2017-03-25 16:40] peterramsing commented on #361
@codebysubtract You are epic!

ES6: As much ES6 that Node 4 can handle. [LostGrid Node Support](http://lostgrid.org/docs.html#official-support)

Making it work: I'd love to see what you have locally. If you wanna pair over Skype we could do that as well. If I had to do this off the top of my head I'd do some parsing at the beginning of the `lost-center` file that notices if there is a fraction or

[2017-03-27 11:18] steve-holland commented on #361
Hi Peter, I've forked the dev branch to make my changes. You can see what I've done so far here:

https://github.com/codebysubtract/lost/tree/lost-center-fraction

I've approached it more or less in the same way you've suggested. So I've checked for a fraction value (using a simple regex). If it's a fraction then I've used `calcValue` from `lgLogic` (which I borrowed from the `lost-column` code).

[2017-03-28 16:02] peterramsing commented on #361
@codebysubtract Sounds like you're pushing logic to `lgLogic` which is where I'd love to have that logic going so that's right on track. If you want to submit a PR then I can comment inline as well. Thanks!

[2017-04-07 05:12] peterramsing commented on #344
Closed with https://github.com/peterramsing/lost/pull/365

[2017-04-07 05:12] #344 closed, assigned to nobody

[2017-04-07 05:14] peterramsing commented on #361
Apparently my mind went blank and I also had this in https://github.com/peterramsing/lost/issues/344 😳

[2017-04-07 05:14] #361 closed, assigned to nobody

[2017-04-07 08:51] steve-holland commented on #361
@peterramsing Glad you liked everything and thanks for accepting the pull request. I really enjoyed working on it. I'm hoping to have a little spare time coming up so I might be able to take a look at one of the others if you'd like?

[2017-04-14 15:16] terion-name opened #366 "webpack lost complie fails"
Can't figure out why this happens:

[code]
[code]

[2017-04-23 18:44] peterramsing commented on #366
@terion-name What order do you have the transpilation happening in? ...is LostGrid after the Stylus is transpiled into CSS? (LostGrid should be **after** your Stylus turns into CSS)

[2017-04-24 10:49] terion-name commented on #366
@peterramsing sorry, error is not related to lost, already figured out

[2017-04-24 10:49] #366 closed, assigned to nobody

[2017-05-05 08:02] asifshirazi opened #367 "Gutter with decimal value issue"
Hi,
I expect the output gutter value of `.foo` and `.bar` should be same but if I add gutter decimal value without leading zero, then the output gutter value will set to default gutter.
You can also check this [pen](https://codepen.io/shirazi/pen/NjvmBa).

[code]

[2017-05-09 04:35] peterramsing commented on #367
Hmm. Looks like the filter on that needs the leading zero. 👍 Thanks!

[2017-05-09 04:49] peterramsing opened #369 "Update to PostCSS 6.x"

[2017-06-01 10:38] sarahemilym opened #370 "Incorrect column widths in Firefox"
**Is this a feature request or a bug report?**
Bug report

**What is the current behavior?**

Expected behavior for lost-column not happening in Firefox

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**

.foo { lost-column: 1/3 flex }

Result in chrome:
![image](https://cloud.githubusercontent.com/assets/23199168/26675878/69bdc850-46bd-11e7-9a8e-cca0b1ab6fe7.

[2017-06-01 14:45] peterramsing commented on #370
Interesting... Thanks for pointing that out. We'll see what we can do to get this patched soon. 👍

[2017-06-01 15:26] rmoorman opened #371 "calc output optimization"
Hello @peterramsing,

This issue is following up on an email conversation we had about the lost output.

Currently, the following markup:
[code]

becomes something like this:
[code]

When cssnano is used on the output for example this gets reduced to
[code]
which seems a solid and reasonable optimization.
There is also an example repository to be found [over here](https://github.com/rmoorman/lostg

[2017-06-01 15:29] peterramsing commented on #371
Looks like a solid optimization. Thanks for the example repo!

A note to implementer: here's where that work would be done: https://github.com/peterramsing/lost/blob/develop/lib/_lg-logic.js#L12

[2017-06-01 19:19] miguelcaires commented on #370
To elaborate a bit more on this...

If you check the codepen below in FF, word wrapping appears to be working correctly.
https://codepen.io/miguelcaires/pen/qjWrOL?editors=1100

The codepen is making use of `lost-waffle` but the issue is exactly the same when using `lost-column`.

I did notice something in the output that I'm not sure to be an expected behaviour.

The compiled styles for `.faqs-gr

[2017-06-08 02:43] bbaaxx opened #372 "Deprecation of Node move methods in postcss is triggering deprecation message "Node#moveTo was deprecated. Use Container#append.""
**Is this a feature request or a bug report?**
bug report

**What is the current behavior?**
The message:

    `Node#moveTo was deprecated. Use Container#append.`

is being displayed when using lost with sass-loader.

It is caused by a deprecation notice in [postcss](https://github.com/postcss/postcss) pushed by [this commit](https://github.com/postcss/postcss/commit/c1455e32c860443002c97b19b58534

[2017-06-08 13:15] jamielaughton opened #373 "Incorrect column widths"
*For support questions you might try tweeting me [@lostgrid](https://twitter.com/lostgrid) first.*

*If this is about the documentation site please submit issues for that on the site's repo: [github.com/lostgrid/lostgrid-site](https://github.com/lostgrid/lostgrid-site/issues/new).*

-----

**Is this a feature request or a bug report?**
Bug report

**What is the current behavior?**

When implementi

[2017-06-08 14:15] steve-holland commented on #373
@devnsc - Are you taking into account the gutter?

By the looks of things you've got a gutter of 30px. So what you will find is that as you've got two columns the gutter will be divided by two and subtracted from the column widths. That way it all fits nicely into your container.

[2017-06-10 17:25] robertu7 commented on #358
@leesiongchan @onehorsetown @peterramsing

Seem this issue was caused by nesting.

Fixed by this:

[code]

[2017-06-12 10:52] thebuilder commented on #372
Updated the code in #375 - give it a try. Haven't tested it on a large codebase, just validated that it can process the css files.

[2017-06-13 10:48] equinusocio opened #376 "Switch to another naming convention for variables"
**Is this a feature request or a bug report?**
Yes

**What is the current behavior?**
Variables follow the SASS convention

**If it's a bug please provide the steps to reproduce it and maybe some code samples.**
Check http://lostgrid.org/docs.html#variables.

**What is the desired behavior?**
I think variables should follow another convention rather than SASS. I can suggest to use the native css s

[2017-06-13 15:03] steve-holland commented on #373
@devnsc - Are you still having a problem with this, or shall I go ahead and close the issue?

[2017-06-15 03:25] peterramsing commented on #372
@thebuilder Thanks so much for the MR. See notes there.

[2017-06-15 03:25] #372 closed, assigned to nobody

[2017-06-15 03:54] #367 closed, assigned to steve-holland

[2017-06-15 04:03] peterramsing commented on #376
For some context, here is some previous discussion on this: https://github.com/peterramsing/lost/pull/346#issuecomment-262831991

[2017-06-15 04:04] peterramsing commented on #376
I'm totally fine to re-opening up the discussion, though. @codebysubtract, do you have any thoughts on this?

[2017-06-15 04:11] peterramsing commented on #373
@devnsc It sounds like this is expected behavior. Feel free to comment back if we're missing something but I think what you're looking for can be done by specifying a custom gutter.

I also think you're meaning `lost-column`, not row? Could you confirm that?

Example: `lost-column: 1/2 2 0;` which will then set your gutter to be 0px wide.
http://lostgrid.org/docs.html#lost-column

...maybe I'm tot

[2017-06-15 04:11] #373 closed, assigned to nobody

[2017-06-15 04:15] peterramsing commented on #369
Hehe...so this totally blows up the tests. 😢 I'm going to commit the version update and then see what should be done from there.

[2017-06-15 07:04] equinusocio commented on #376
There is a problem using native css custom-properties? Plain css variables are just a suggestion. Why not a custom prefix? Something like `#lost-gutter`.

[2017-06-15 14:14] steve-holland commented on #376
I'm not totally sure I'm seeing the need, I feel like it might be change for the sake of change. I think if there was a definite format we should be using for PostCss plugins and it'd just been missed, then that'd be a fair enough reason for changing it. What makes me a bit wary is, we've already had two possible candidates in this conversation for what to change it to, so it's not feeling like th

[2017-06-16 06:47] equinusocio commented on #376
What about this?
https://github.com/peterramsing/lost/pull/346#issuecomment-277817514

Since Lost is not SASS, using the sass convention can be confusing. I have no problem atm because my stack is full postcss based (lost, cssnext, cssnano – and sometimes precss(that use sass variables) ).

I think lost works well with sass if it's called before the sass process. Right?

[2017-06-16 07:10] steve-holland commented on #376
@equinusocio - I see now where you're coming from. If you do call SASS first then Lost, it does break as an undefined variable in SASS, so that'll be a bad thing. So you've got me coming around to your way of thinking.

However, I would also agree with what @peterramsing has said on #346 in the future proofing section, that using the css variable naming convention might not be a good idea. I'd als

[2017-06-16 09:03] equinusocio commented on #376
What do you mean with "where you're coming from"? :)

We can use any of available symbols that are not used by sass, less, stylus:
`~lost-gutter`
`£lost-gutter`
`ˆlost-gutter`
`§lost-gutter`
`?lost-gutter`

Or combine them:
`$~lost-gutter`
..and so on.

PS: What do you think about to force users to put Lost before any other plugins that manipulate the css declarations?

[2017-06-16 09:18] steve-holland commented on #376
@equinusocio - Sorry, that didn't translate very well, it's an English term,  just means "I see your point of view".

This might be a stupid idea, but I'm just wondering if there's an alternative approach. What about it not being a variable, but a function call instead? I don't know how feasible something like this might be:

`margin: lost-vars('gutter');`

It would remove the need for picking a p

[2017-06-16 09:45] equinusocio commented on #376
I like that! It feel more appropriate and let avoid all conflicts

[2017-06-16 09:49] steve-holland commented on #376
@peterramsing - What do you think, is this a terrible idea?

[2017-06-18 18:14] peterramsing commented on #376
@equinusocio LostGrid (being PostCSS) will need to come after any SCSS (Sass), LESS, Stylus, etc. PostCSS. *However*, I do think that we should do everything we can to avoid requiring LostGrid to be in a particular order for PostCSS plugins.

@codebysubtract I like `margin: lost-vars('gutter');`.

@equinusocio If I'm understanding, you think `$lost-gutter` will cause issues long term?

Like @codeb

[2017-06-18 18:20] peterramsing opened #378 "Look into whether or not there is FlexBox issue with IE in lost-waffle and masonry"
See https://github.com/peterramsing/lost/pull/374#issuecomment-309293666 for additional context for this.

[2017-06-18 22:34] peterramsing commented on #369
It looks like PostCSS 6.x gets rid of new lines? ...I can fix all the test by removing the `\n` w/in the tests. That doesn't feel like a good fix, though.

https://github.com/postcss/postcss/releases/tag/6.0.0

[2017-06-18 22:39] peterramsing commented on #369
I've got to do some "work" work so I'm gonna have to put this down for the weekend. @codebysubtract do you have any ideas about this?

[2017-06-19 06:57] equinusocio commented on #376
Why should Lost use a sass naming convention for variables, making inconstency (from oter `lost-*` features) and conflicts, when it can use a something more appropriate like `lost-vars()` that remove all issues with plugins order?.

I see inconsinstency between `lost-align`, `lost-center`, `lost-column` etc.. and `$lost-gutter`. Yes we can simply force users to put Lost after all plugins that mani

[2017-06-19 14:44] steve-holland commented on #369
@peterramsing  - The only thing I could think of was to minify both the output of the PostCSS process and the expected output before they are compared in the tests. As long as whatever we do is done to both sides of the compare, we should be good.

I've used `clean-css` as an example and it seems to works fine. If you want to take a look at my branch [here](https://github.com/codebysubtract/lost/t

[2017-06-21 05:27] peterramsing commented on #369
@codebysubtract That's brilliant! That is probably something we're going to want to do.

I'm curious why this new version of PostCSS is transpiling to minified code...it doesn't seem like that was in the changelog. Maybe I'm missing something. I like your idea to minify, though.

If we're going to be doing some large tests change is there anything else about the tests that we should address?

[2017-06-21 05:35] peterramsing commented on #376
@equinusocio I appreciate your input! Thanks for sharing!

I'm still failing to identify where the existing naming convention would break based on the order...unless you were to use the exact same name in SCSS...which is valid I suppose.

`lost-vars('foo')` is a solid direction but if that's what we change to I'd want to make sure that it's the last change.

Regarding the inconsistency you mention

[2017-06-21 05:38] peterramsing commented on #376
If I were to answer that question I'd say no. If there is a conflict then SCSS will transpile out the value of the variable (which would be the expected outcome of an SCSS user). LostGrid will see a value there instead of the variable and there will be no issue.

That is how I feel. I'm open to my experience to not match others concerns.

[2017-06-21 06:55] equinusocio commented on #376
@peterramsing Check https://github.com/peterramsing/lost/issues/376#issuecomment-308947553 and https://github.com/peterramsing/lost/issues/376#issuecomment-308951497. Now you can use Lost only if its called before all plugins that manipulate SCSS like syntax, like postcss-precss, postcss-each, sass and many more otherwise other plugins will return an `Undefined variable` error. So, now users are f

[2017-06-21 06:59] steve-holland commented on #376
@peterramsing I did do a quick test on my setup which has SASS called first, then PostCSS. @equinusocio is right, you do get an `Undefined variable` error in SASS as it thinks `$lost-gutter` is a SASS variable not a PostCSS one.

[2017-06-21 07:05] steve-holland commented on #369
@peterramsing Great stuff, I'll do a Pull Request.

I agree, I had a good look through the release notes, and also did some Googling and I could find no mention at all about the output changing format. I was surprised no one else ran into the sort of issue we have here.

Nothing sticks out as far as other changes needed in the tests as far as I can see at the moment.

[2017-06-21 07:07] equinusocio commented on #376
@codebysubtract yes, and you will get the same error also not using SASS but other postcss plugins that parse a sass like syntax like `postcss-precss`, `postcss-each`, `postcss-simple-vars`, `sass` and many more..

[2017-06-22 13:52] equinusocio commented on #370
I have no problem here on firefox (with global flex)
https://codepen.io/equinusocio/pen/KqqQym

[2017-06-22 16:04] miguelcaires commented on #370
@equinusocio That is exactly the issue. the generated styles on codepen are different to the ones you would get from running a gulp build.

gulp, using postcss, as posted above, is generating a `flex-basis` property that causes the layout to break

[2017-06-24 17:28] peterramsing commented on #376
@codebysubtract Thanks for testing that!

That's certainly reason enough to change that! I scrolled back through and misread (and didn't fully ponder it with a cup of coffee). I kept thinking "yeah, it'll do weird things if you define the var in SCSS *and* in LostGrid. ...but I didn't fully process if you just defined it for LostGrid in SCSS... that makes perfect sense!

Thanks for your patience w

[2017-06-24 17:30] peterramsing commented on #369
Closed for: #379

[2017-06-24 17:30] #369 closed, assigned to peterramsing

[2017-06-24 21:05] peterramsing commented on #370
Looking at this today it looks like the fix should be pretty simple. It also looks like there are ways to improve the syntax for this to follow spec a bit better. 👍

I'll have a PR for this maybe this afternoon? Gotta go grocery shopping first and do some chores around the house first. 🚗 🥖 🚗 👨‍🍳 🍝 💻

[2017-06-25 03:20] peterramsing commented on #370
@miguelcaires There was an issue here before with IE, so I'm gonna do some optimizing and then working on testing this with IE to ensure that there isn't a regression here.

[2017-06-25 05:26] peterramsing commented on #370
@miguelcaires How comfortable with pulling [this branch](https://github.com/peterramsing/lost/compare/bugfix/flexbox_issues) down and trying it out? See if it solves the issue for you? (I still need to do more cross browser testing myself...)